<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">ORGANIZACION</h4>
    </header>
    <div class="panel-body" ng-init="buscarOrganizacion(usuMaster.organizacion.organizacionID)">
        
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Tipo Organizacion</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="org.tipoOrganizacionID" ng-options="to.tipoOrganizacionID as to.nombre for to in tipoOrganizaciones">                                
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Codigo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="org.codigo">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="org.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Alias</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="org.alias">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Descripcion</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="org.descripcion"></textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Direccion</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="org.direccion">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Organizacion Padre(opcional)</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="org.organizacionPadreID" ng-options="o.organizacionID as o.nombre for o in organizaciones">
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="org.estado" ng-value="'A'" checked>activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="org.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Imagen Institucional</label>
                    <div class="col-sm-10">
                        
                        <input-file nombre="org.imgInst.nombre" archivo="org.imgInst.archivo"></input-file> 
                        <span><view-file url={{org.imgInst.doc_ref_url}} nombre="org.imgInst.nombre_archivo" archivo="org.imgInst.nombre_archivo"></view-file></span>
                                
                    </div>
                </div>
                
            </div>
        </div>
        
        
        <div align="right" >
            <button class="btn btn-danger " ng-click="cancelar()"><i class="fa fa-times" ></i> Cancelar</button>
            <button class="btn btn btn-success" ng-click="editarOrganizacion()"><i class="fa fa-save" ></i> Guardar Cambios</button>
        </div>

    </div>
</section>
</div></div>
