<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlcrearComision.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Comisiones</h4>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="ctrlcrearComision.nuevaComision()">Nueva comision</button>
                </span>
            </header>
            <div class="panel-body">
                <div class="form-horizontal style-form" >
                    
                     <table ng-table="ctrlcrearComision.tablaComisiones" class="table table-bordered table-hover table-condensed editable-table" >                    
                      <colgroup>
                        <col width="20%" />
                        <col width="20%" />
                        <col width="30%" />
                        <col width="15%" />
                        <col width="15%" />
                     </colgroup>
                     <tr ng-repeat="row in $data" ng-form="rowFormComision">
                        <td filter="{org: 'text'}" sortable="'org'"  ng-form="org" data-title="'Organizacion'"><span>{{row.org.nom}}</span></td>
                        <td filter="{nom: 'text'}" sortable="'nom'"  ng-form="nom" data-title="'Nombre'"><span>{{row.nom}}</span></td>
                        <td ng-form="des" data-title="'Descripcion'"><span>{{row.des}}</span></td>
                        <td ng-form="fec" data-title="'Fecha Creacion'"><span>{{row.fec | date:'dd-MM-yyyy'}}</span></td>
                        <td align="center">
                            
                            <button class="btn btn-primary btn-sm" title="Editar Comisiones" ng-click="ctrlcrearComision.editarComision(row)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger btn-sm md-primary md-raised" title="Eliminar Comisiones" ng-click="ctrlcrearComision.eliminarComision($event,row)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                     </table>
                 
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="nuevaComision.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ctrl.titulo}}</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="nom_com" class="col-lg-2 control-label">Nombre comision:</label>
                <div class="col-lg-10">
                    <input name = "nomCom" id="nom_com" class="form-control" type="text" ng-model="ctrl.comision.nom" required>
                    <span ng-show="myForm.nomCom.$error.required">Este Campo es Requerido</span>
                </div>
            </div>
            <div class="form-group">
                <label for="des_com" class="col-lg-2 control-label">Descripcion:</label>
                <div class="col-lg-10">
                    <textarea id="des_com"  name = "desCom" class="form-control"  ng-model="ctrl.comision.des" required></textarea>
                    <span ng-show="myForm.desCom.$error.required">Este Campo es Requerido</span>
                </div>
            </div>
            <div class="panel-body">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Presidente comision">
                      <div class="form-horizontal style-form" >
                        <fieldset>
                            <br>
                                <div class="col-lg-10">
                                     <input name = "nomPres" id="nom_pres" class="form-control" type="text" value = "{{ctrl.pres.nom+'  '+ctrl.pres.apep+' '+ctrl.pres.apem}}"  disabled >
                                </div> 
                            <br> </br>    
                            <div class="form-group" >
                                <br>
                                <label class="col-sm-1 control-label">DNI:</label>
                                <div class="col-sm-2">
                                    <input class="form-control" type="text" ng-model="ctrl.per.dni">
                                </div>
                                <label class="col-sm-1 control-label">Ap. Paterno:</label>
                                <div class="col-sm-2">
                                    <input class="form-control" type="text" ng-model="ctrl.per.apep">
                                </div>
                                <label class="col-sm-1 control-label">Ap. Materno:</label>
                                <div class="col-sm-2">
                                    <input class="form-control" type="text" ng-model="ctrl.per.apem">
                                </div>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.buscarPersonaPresidente(ctrl.per)"><span class="glyphicon glyphicon-search"></span>Buscar</button>
                            </div>
                            <div>
                                <table ng-table="ctrl.tablaPersonas" class="table table-bordered table-hover table-condensed editable-table">
                                    <colgroup>
                                        <col width="12%" />
                                        <col width="23%" />
                                        <col width="25%" />
                                        <col width="25%" />
                                        <col width="15%" />                
                                    </colgroup>
                                    <tr ng-repeat="row in $data" ng-form="rowFormPersona">
                                        <td sortable="'dni'"  ng-form="dni" data-title="'DNI'"><span>{{row.dni}}</span></td>
                                        <td sortable="'nom'"  ng-form="nom" data-title="'Nombres'"><span>{{row.nom}}</span></td>
                                        <td sortable="'apep'"  ng-form="apep" data-title="'Apellido Paterno'"><span>{{row.apep}}</span></td>
                                        <td sortable="'apem'"  ng-form="apem" data-title="'Apellido Materno'"><span>{{row.apem}}</span></td>
                                        <td align="center">
                                            <button class="btn btn-warning btn-sm" ng-click="ctrl.agregarPresidente(row)">
                                                <span class="glyphicon glyphicon-plus">Agregar presidente</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>
                      </div>    
                    </uib-tab>
            
                    <uib-tab index="1" heading="Estructura de comision">
                      <div class="form-horizontal style-form" >
                        <fieldset> <br>
                             <div class="input-group">
                                <div class="form-group">
                                    <label for="car_com" class="col-lg-2 control-label">Cargos:</label>
                                    <div class="col-lg-10">
                                        <select id="car_com" class="form-control" ng-model="ctrl.carSel" ng-options="s.nom for s in ctrl.cargos track by s.cod"></select>
                                    </div>
                                </div>
                                <span class="input-group-btn">
                                  <button class="btn btn-primary btn-sm md-primary " ng-click="ctrl.addCargo()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                  </button>
                                </span>
                                
                            </div>
                            <div>
                                <table ng-table="ctrl.cargosSeleccionados" class="table table-bordered table-hover table-condensed editable-table">
                                    <colgroup>
                                        <col width="20%" />
                                        <col width="70%" />
                                        <col width="10%" />
                                    </colgroup>
                                    <tr ng-repeat="row in $data" ng-form="rowFormSeleccionado">
                                        <td ng-form="nom" data-title="'Nombre'"><span>{{row.nom}}</span></td>
                                        <td ng-form="des" data-title="'Descripcion'"><input type="text"  class="form-control" ng-model="row.des"></td>
                                        <td align="center">
                                            <button class="btn btn-danger btn-sm md-primary md-raised" ng-disabled='row.nom == "PRESIDENTE"||row.nom == "PARTICIPANTE"'  ng-click="ctrl.eliminarCargoSelecionado(row)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>
                      </div>    
                    </uib-tab>
                </uib-tabset> 
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-8">
                    <button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="ctrl.guardar()">Guardar</button>
                    <button class="btn btn-success" ng-click="ctrl.cancelar()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</script>