<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Detalles de Comision</h4>
            </header>
            <div class="panel-body">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Estructura">
                        <div class="form-panel">
                            <div class="form-horizontal style-form">
                                <fieldset>
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Estructura</h4>       
                                    </header>
                                    <div class="panel-body">
                                        <table ng-table="ctrl.tablaEstructura" class="table table-bordered table-hover table-condensed editable-table">
                                        <colgroup>
                                            <col width="20%" />
                                            <col width="50%" />
                                        </colgroup>
                                        <tr ng-repeat="row in $data" ng-form="rowFormSeleccionado" ng-style="{'background-color':'#f0f5f5'}">
                                            <td sortable="'nom'"  ng-form="nom" data-title="'Nombre'"><span>{{row.nom}}</span></td>
                                            <td sortable="'des'"  ng-form="des" data-title="'Descripcion'"><span>{{row.des}}</span></td>
                                        </tr>
                                        </table>     
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Integrantes">
                        <div class="form-panel">
                            <div class="form-horizontal style-form" >
                                <fieldset >
                                    <legend>Agregar Integrante</legend>
                                    <div class="form-group" >
                                        <label class="col-sm-1 control-label">DNI:</label>
                                        <div class="col-sm-2">
                                            <input class="form-control" type="text" ng-model="ctrl.per.dni">
                                        </div>
                                        <label class="col-sm-1 control-label">Apellido Paterno:</label>
                                        <div class="col-sm-2">
                                            <input class="form-control" type="text" ng-model="ctrl.per.apep">
                                        </div>
                                        <label class="col-sm-1 control-label">Apellido Materno:</label>
                                        <div class="col-sm-2">
                                            <input class="form-control" type="text" ng-model="ctrl.per.apem">
                                        </div>
                                        <button type="button" class="btn btn-primary" ng-click="ctrl.buscarPersona(ctrl.per)"><span class="glyphicon glyphicon-search"></span>Buscar</button>
                                        <button type="button" class="btn btn-primary" ng-click="ctrl.registrarPersona()"><span class="glyphicon glyphicon-plus"></span>Nueva Persona</button>
                                    </div>
                                    <div>
                                        <table ng-table="ctrl.tablaPersonas" class="table table-bordered table-hover table-condensed editable-table">
                                            <colgroup>
                                                <col width="20%" />
                                                <col width="20%" />
                                                <col width="20%" />
                                                <col width="20%" />
                                                <col width="20%" />
                                            </colgroup>
                                            <tr ng-repeat="row in $data" ng-form="rowFormPersona">
                                                <td sortable="'dni'"  ng-form="dni" data-title="'DNI'"><span>{{row.dni}}</span></td>
                                                <td sortable="'nom'"  ng-form="nom" data-title="'Nombres'"><span>{{row.nom}}</span></td>
                                                <td sortable="'apep'"  ng-form="apep" data-title="'Apellido Paterno'"><span>{{row.apep}}</span></td>
                                                <td sortable="'apem'"  ng-form="apem" data-title="'Apellido Materno'"><span>{{row.apem}}</span></td>
                                                <td align="center">
                                                    <button class="btn btn-warning btn-sm" ng-click="ctrl.agregarIntegrante(row)">
                                                        <span class="glyphicon glyphicon-plus">Agregar</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Lista de Integrantes</legend>
                                    <table ng-table="ctrl.tablaIntegrantes" class="table table-bordered table-hover table-condensed editable-table">
                                        <colgroup>
                                            <col width="10%" />
                                            <col width="15%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="15%" />
                                            <col width="10%" />
                                        </colgroup>
                                        <tr ng-repeat="row in $data" ng-form="rowFormPersona">
                                            <td sortable="'dni'"  ng-form="dni" data-title="'DNI'"><span>{{row.dni}}</span></td>
                                            <td sortable="'nom'"  ng-form="nom" data-title="'Nombres'"><span>{{row.nom}}</span></td>
                                            <td sortable="'apep'"  ng-form="apep" data-title="'Apellido Paterno'"><span>{{row.apep}}</span></td>
                                            <td sortable="'apem'"  ng-form="apem" data-title="'Apellido Materno'"><span>{{row.apem}}</span></td>
                                            <td sortable="'fij'"  ng-form="fij" data-title="'Telefono'"><span>{{row.fij}}</span></td>
                                            <td sortable="'cel'"  ng-form="cel" data-title="'Celular'"><span>{{row.cel}}</span></td>
                                            <td sortable="'ema'"  ng-form="ema" data-title="'Correo'"><span>{{row.ema}}</span></td>
                                            <td sortable="'car'"  ng-form="car" data-title="'Cargo'"><span>{{row.car}}</span></td>
                                            <td align="center">
                                                <button class="btn btn-primary btn-sm" ng-click="ctrl.editarIntegrante(row)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-sm" ng-disabled='row.car == "PRESIDENTE"' ng-click="ctrl.eliminarIntegrante($event,row)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Reuniones">
                        <div class="form-panel">
                            <div class="form-horizontal style-form" >
                                <fieldset >
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Reuniones de la comision</h4>
                                            <span class="tools pull-right">
                                                <button type="submit" class="btn btn-primary" ng-click="ctrl.nuevaReunion()">Nuevo</button>
                                            </span>
                                    </header>
                                    <div class="panel-body">
                                        <table ng-table="ctrl.tablaReuniones" class="table table-bordered table-hover table-condensed editable-table">
                                            <colgroup>
                                                <col width="15%" />
                                                <col width="15%" />
                                                <col width="30%" />
                                                <col width="15%" />
                                                <col width="10%" />
                                                <col width="15%" />
                                            </colgroup>
                                            <tr ng-repeat-start="row in $data" ng-form="rowFormPersona" ng-style="{'background-color':'#f0f5f5'}" >
                                                <td sortable="'fec'"  ng-form="fec" data-title="'Fecha'"><span>{{row.fec | date:'dd-MM-yyyy HH:mm a' }}</span></td>
                                                <td sortable="'res'"  ng-form="res" data-title="'Responsable'"><span>{{row.res}}</span></td>
                                                <td sortable="'lug'"  ng-form="lug" data-title="'Lugar'"><span>{{row.lug}}</span></td>
                                                <td align="center" data-title="'Actas'">
                                                    <span>
                                                         <button class="btn btn-info btn-xs" ng-click="row.mosAct = !row.mosAct" data-toggle="tooltip" title="Listar Actas">
                                                             <span class="glyphicon glyphicon-folder-open"></span>
                                                         </button>
                                                    </span>
                                                    <span>
                                                         <button class="btn btn-info btn-xs" ng-click="ctrl.agregarActa(row)" data-toggle="tooltip" title="Añadir actas" >
                                                             <span class="glyphicon glyphicon-plus" ></span>
                                                         </button>
                                                    </span>
                                                    
                                                </td>
                                                <td align="center"  data-title="'Asistencia'">
                                                    <button class="btn btn-primary btn-xs" ng-click="ctrl.registrarAsistencia(row)" data-toggle="tooltip" title="Registrar asistencia">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                    </button>
                                                </td>                                      
                                                <td align="center">
                                                    <button class="btn btn-warning btn-xs" uib-tooltip="Reporte de reunion" ng-click="ctrl.reporteReunion(row)">
                                                        <span class="glyphicon glyphicon-list-alt"></span>
                                                    </button>

                                                    <button class="btn btn-primary btn-xs" ng-click="ctrl.editarReunion(row)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs" ng-click="ctrl.eliminarReunion($event,row)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr ng-repeat = "a in row.act" ng-repeat-end uib-collapse="!row.mosAct">
                                                <td colspan="1"></td>
                                                <td colspan="1"  >
                                                    <span>{{a.des}}</span>
                                                </td>
                                                <td colspan="1"  >
                                                    <span ng-hide="!a.url && !a.nom" ><view-file url="{{a.url}}" nombre="a.nom" archivo> </view-file></span>
                                                </td>

                                                <td colspan="1">

                                                    <button class="btn btn-warning btn-xs" ng-click="ctrl.verAcuerdos(a)" data-toggle="tooltip" title="Ver acuerdos">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs" ng-click="ctrl.eliminarActa($event,row,a)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                            
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </uib-tab>
                    
                </uib-tabset>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="nuevaPersona.html">
    <div class="modal-header">
        <h3 class="modal-title">Registrar Nuevo Integrante Comision</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group" >
                <label class="col-sm-2 control-label">DNI:</label>
                <div class="col-sm-6">
                    <input ng-disabled="ctrl.edit" class="form-control" type="text" ng-model="ctrl.per.dni">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombres:</label>
                <div class="col-sm-6">
                    <input ng-disabled="ctrl.edit" class="form-control" type="text" ng-model="ctrl.per.nom">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Apellido Paterno:</label>
                <div class="col-sm-4">
                    <input ng-disabled="ctrl.edit" class="form-control" type="text" ng-model="ctrl.per.apep">
                </div>
                <label class="col-sm-2 control-label">Apellido Materno:</label>
                <div class="col-sm-4">
                    <input ng-disabled="ctrl.edit" class="form-control" type="text" ng-model="ctrl.per.apem">
                </div>
            </div>
            <div class="form-group">
                <label ng-if="!ctrl.edit" class="col-sm-2 control-label">Nacimiento:</label>
                <div class="col-sm-4 form-inline">
                    <input ng-if="!ctrl.edit" type="text" class="form-control form-inline"  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="ctrl.nac" is-open="ctrl.abrirCalendar" datepicker-options="ctrl.dateOptions"
                           close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" />
                    <!--<input class="form-control" type="date" ng-model="ctrl.per.nac">-->
                </div>
                <span class="input-group-btn">
                    <button ng-if="!ctrl.edit" type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="ctrl.per.ema">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">N°Fijo:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="ctrl.per.fij">
                </div>
                <label class="col-sm-2 control-label">N° Celular:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="ctrl.per.cel">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Cargo:</label>
                <div class="col-sm-6">
                    <select  class="form-control"  ng-disabled='row.car == "PRESIDENTE"' ng-model="ctrl.carSel" ng-options="s.nom for s in ctrl.cargos track by s.cod" ></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-8">
                    <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="ctrl.guardar()">Guardar</button>
                    <button class="btn btn-primary" ng-click="ctrl.cancelar()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="nuevaReunion.html">
    <div class="modal-header">
        <h3 class="modal-title">Registrar Nueva Reunion</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group" >
                <label class="col-sm-2 control-label">Fecha:</label>
                <div class="col-sm-4 form-inline">
                    <input type="text" class="form-control form-inline"  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="ctrl.fec" is-open="ctrl.abrirCalendar" datepicker-options="ctrl.dateOptions"
                           close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" />
                </div>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Hora:</label>
                <div class="col-sm-4">
                    <div uib-timepicker ng-model="ctrl.hor"  hour-step="1" minute-step="15" show-meridian="ctrl.esMeridiano"></div>
                </div>
                <!--<div class="col-sm-2">
                    <input class="form-control" type="number" min="0" max="24" ng-model="ctrl.hor">
                </div>
                <label class="col-sm-2 control-label">Minuto:</label>
                <div class="col-sm-2">
                    <input class="form-control" type="number" min="0" max="59" ng-model="ctrl.min">
                </div>-->
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Responsable:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="ctrl.reu.res">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Lugar:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="ctrl.reu.lug">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-8">
                    <button type="submit" class="btn btn-primary"  ng-click="ctrl.guardar()">Guardar</button>
                    <button class="btn btn-primary" ng-click="ctrl.cancelar()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="nuevaActa.html">
    <div class="modal-header">
        <h3 class="modal-title">Registrar Nueva Acta</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group" >
                <label class="col-lg-2 control-label">Nombre:</label>
                <div class="col-lg-10 form-inline">
                    <input id="input-1" type="text"  ng-model="ctrl.act.des"/>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-lg-2 control-label">Archivo:</label>
                <div class="col-lg-2 form-inline">
                    <input-file nombre="ctrl.nom" archivo="ctrl.act.arc"></input-file>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-8">
                    <button type="submit" class="btn btn-primary"  ng-click="ctrl.guardar()">Guardar</button>
                    <button class="btn btn-primary" ng-click="ctrl.cancelar()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="acuerdosActa.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">Acuerdos Acta</h4>
        </div>
        <div class="modal-body" ng-cloak>
            <div class="form-panel">
                <div class="btn-group pull-right">
                    <button class="btn btn-default" ng-if="ctrl.isEditing" ng-click="ctrl.cancelChanges()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-primary" ng-if="!ctrl.isEditing" ng-click="ctrl.isEditing = true">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-primary" ng-if="ctrl.isEditing" ng-disabled="!ctrl.hasChanges()" ng-click="ctrl.saveChanges()">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-default" ng-click="ctrl.add()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <table ng-table="ctrl.tablaAcuerdos" class="table table-bordered table-hover table-condensed editable-table" ng-form="ctrl.tableForm">
                    <colgroup>
                        <col width="35%" />
                        <col width="11%" />
                        <col width="12%" />
                        <col width="12%" />
                        <col width="5%" />
                        <col width="30%" />
                        <col width="5%" />
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowForm">
                        <td title="'Acuerdo'" ng-switch="ctrl.isEditing" ng-class="des.$dirty ? 'bg-warning' : ''" ng-form="des">
                            <span ng-switch-default class="editable-text">{{row.des}}</span>
                            <div class="controls" ng-class="des.$invalid && des.$dirty ? 'has-error' : ''"  ng-switch-when="true">
                                <input type="text" name="des" ng-model="row.des" class="editable-input form-control input-sm" required />
                            </div>
                        </td>
                        <!--<td title="'Responsable'" ng-switch="ctrl.isEditing" ng-class="des.$dirty ? 'bg-warning' : ''" ng-form="des">
                            <span ng-switch-default class="editable-text">{{row.res}}</span>
                            <div class="controls" ng-class="des.$invalid && des.$dirty ? 'has-error' : ''"  ng-switch-when="true">
                                <input type="text" class="form-control" id="responsable" ng-model="ctrl.res"></input>
                            </div>
                            
                        </td>-->
                        
                        <td title="'Votos a favor'" ng-switch="ctrl.isEditing" ng-class="des.$dirty ? 'bg-warning' : ''" ng-form="des">
                            <span ng-switch-default class="editable-text">{{row.afav}}</span>
                            <div class="controls" ng-class="des.$invalid && des.$dirty ? 'has-error' : ''"  ng-switch-when="true">
                                <input type="number" min="0" name="afav" ng-model="row.afav" class="editable-input form-control input-sm"/>
                            </div>
                        </td>    
                        <td title="'Votos en contra'" ng-switch="ctrl.isEditing" ng-class="des.$dirty ? 'bg-warning' : ''" ng-form="des">
                            <span ng-switch-default class="editable-text">{{row.enco}}</span>
                            <div class="controls" ng-class="des.$invalid && des.$dirty ? 'has-error' : ''"  ng-switch-when="true">
                                <input type="number" min="0" name="enco" ng-model="row.enco" class="editable-input form-control input-sm"/>
                            </div>
                        </td>
                        <td align="center" title="'Estado'">
                            <input type="checkbox" class="form-control" ng-model="row.est" ng-click="ctrl.mostrarFecha(row)" ng-style="{'width':'25px', 'height':'25px'}"/>
                            <span>{{row.dat | date:'dd-MM-yyyy'}}</span>
                        </td>
                        <td title="'Observaciones'" ng-switch="ctrl.isEditing" ng-class="des.$dirty ? 'bg-warning' : ''" ng-form="des">
                            <span ng-switch-default class="editable-text">{{row.obs}}</span>
                            <div class="controls" ng-class="des.$invalid && des.$dirty ? 'has-error' : ''"  ng-switch-when="true">
                                <input type="text" class="form-control" ng-model="row.obs" id="comment"></input>
                            </div>
                        </td>
                        <td align="center">
                            <button  class="btn btn-danger btn-xs" ng-click="ctrl.del(row)" ng-disabled="!ctrl.isEditing">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-disabled="ctrl.isEditing" ng-click="ctrl.guardar()">Guardar</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="asistenciaReunion.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">Asistencia Reunion</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <table ng-table="ctrl.tablaIntegrantes" class="table table-bordered table-hover table-condensed editable-table">
                    <colgroup>
                        <col width="10%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="10%" />
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowFormPersona">
                        <td sortable="'dni'"  ng-form="dni" data-title="'DNI'"><span>{{row.dni}}</span></td>
                        <td sortable="'nom'"  ng-form="nom" data-title="'Nombres'"><span>{{row.nom}}</span></td>
                        <td sortable="'apep'"  ng-form="apep" data-title="'Apellido Paterno'"><span>{{row.apep}}</span></td>
                        <td sortable="'apem'"  ng-form="apem" data-title="'Apellido Materno'"><span>{{row.apem}}</span></td>
                        <td align="center" sortable="'est'" data-title="'Asistencia'">
                            <input class="form-control" type="checkbox" ng-model="row.est" ng-change="ctrl.addAsistencia(row)" ng-style="{'width':'25px', 'height':'25px'}"/>
                        </td>
                    </tr>
                </table>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-disabled="ctrl.isEditing" ng-click="ctrl.guardar()">Guardar</button>
        </div>
    </div>
</script>