<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CONFIGURACION</h4>
                <span class="tools pull-right">
                
                <button class="btn btn-primary" type="button"  title="Listar Plantillas" ng-click="iniciarDatos()"><i class="fa fa-rotate-right"></i> Listar </button>
                </span>
                
                
            </header>

            <div class="tabla-responsiva" ng-init="iniciarDatos()">
                <table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
                    <colgroup>
                        <col width="5%" />
                        <col width="20%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                       


                    </colgroup>
                    <tr ng-repeat="o in $data">
                        <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                        <td data-title="'Plantilla'" filter="{ descripcion: 'text'}" sortable="'nommbre'" 
                            style="text-align: center">{{o.descripcion}}
                        </td>
                        <td data-title="'Version'" filter="{ version: 'text'}" filter-data="versiones" 
                            sortable="'version'" style="text-align: center">{{o.version}}
                        </td>
                        <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" 
                            sortable="'estado'" style="text-align: center">
                            <span class="label label-mini" ng-class="{'label-info': o.estado == 1,'label-warning': o.estado == 2}">
                                {{o.estado==1?'Registrado':'Pendiente'}}
                            </span>
                        </td>
                        <td data-title="'Fecha'" sortable="'fecha'" style="text-align: center">{{o.fechaRegistro}}</td>

                        <td data-title="'Editar'" style="text-align: center">
                            <button class="btn btn-white btn-xs"  ng-click="editarPlantilla(o)"  title="Editar">
                                <i class=" fa fa-edit" ></i>
                            </button>
                        </td>
                        <td data-title="'Registrar'" style="text-align: center">
                            <button class="btn btn-primary btn-xs "  title="Registrar" ng-class="{'disabled':o.estado == 1}" ng-click="o.estado == 2 ? registrarPlantilla(o) : null">
                                <i class="fa fa-paste" ></i>
                            </button>
                        </td>
                        <td data-title="'Eliminar'" style="text-align: center">
                            <button class="btn btn-danger btn-xs"  title="Eliminar" ng-click="eliminarPlantilla(o)">
                                <i class="glyphicon glyphicon-remove" ></i>
                            </button>
                        </td>
                        

                    </tr>
                </table>
            </div>

        </section>

    </div>

</div>

<div class="modal  fade" id="modalEditarPlantilla" tabindex="-1"  aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Editar Plantilla</h4>
        
                <button type="button" class="btn btn-success tools  pull-right" ng-click="ver()"><i class="fa fa-eye" ></i> Ver</button>
                <br>
                <span  class="tools  pull-left"><input-file nombre="plantillaEditada.documento.nombreArchivo" archivo="plantillaEditada.documento.archivo"></input-file></span>

                <span  class="tools  pull-left"><view-file url="{{plantillaEditada.documento.url}}" nombre="plantillaEditada.documento.nombreArchivo" archivo="plantillaEditada.documento.archivo"></view-file></span>
            </div>
            <div class="modal-body resize-modal">
                <div class="form-panel">

                    <fieldset >
                        <legend>Paso #1:</legend>
                        <form class="form-horizontal">
                            <div class="form-group " >               
                                <label class="control-label col-sm-3" for="tipoPlantillaId">Tipo de Plantilla: </label>

                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="plantillaEditada.tipoDoc" ng-options="tip.nombre for tip in tipoDocumentos track by tip.tipoDocumentoID"></select>
                                </div>

                                
                            </div>
                            <div class="form-group" >               
                                <label class="control-label col-sm-3" for="descripcionPlantilla">Descripcion de Plantilla: </label>
                                <div class="col-sm-4">
                                    <input  class="form-control" size="40" type="text" id="descripcionPlantilla" ng-model="plantillaEditada.descripcion">
                                </div>
                            </div>

                        </form>
                    </fieldset>

                    <fieldset>
                        <legend>Paso #2:</legend>
                        <div class="form-horizontal " >
                            <div class="form-group"> 
                                <div class="col-sm-3">
                                    <label class="control-label">Letra:</label>
                                    <select class="form-control" ng-model="plantillaEditada.contenidoPlantilla[0].nombreLetra" ng-options="tip.nomLetra for tip in letras">

                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label class="control-label" >Tamaño:</label>


                                    <input class="form-control" type="number" min="8" max="20" value="11" ng-model="plantillaEditada.contenidoPlantilla[0].size">

                                </div>
                                <div class="col-sm-4">

                                    <label class="control-label" for="alineacionId">Alineacion:</label>
                                    <br>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[0].alineacion==alineacion[2]}" ng-click="botonAlineacionIzqEnc()">
                                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Center Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[0].alineacion==alineacion[0]}" ng-click="botonAlineacionCenEnc()">
                                            <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Right Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[0].alineacion==alineacion[3]}" ng-click="botonAlineacionDerEnc()">
                                            <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Justify Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[0].alineacion==alineacion[1]}" ng-click="botonAlineacionJusEnc()">
                                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="formatoId">Formato</label>
                                    <br>
                                    <div class="btn-group-sdc-2">
                                        <button type="button" class="btn btn-default" ng-class="{'active' : plantillaEditada.contenidoPlantilla[0].isBold==true}" ng-click="botonBoldEnc()">
                                            <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : plantillaEditada.contenidoPlantilla[0].isCursiva==true}" ng-click="botonCursivaEnc()">
                                            <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : plantillaEditada.contenidoPlantilla[0].isSubrayado==true}" ng-click="botonSubrayadoEnc()">
                                            <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group ">
                            <textarea class="form-control" rows="3" id="cabecera" ng-model="plantillaEditada.contenidoPlantilla[0].contenido"></textarea>
                        </div>

                    </fieldset>
                    <fieldset >
                        <legend>Paso #3:</legend>
                        <div class="form-horizontal " >
                            <div class="form-group"> 
                                <div class="col-sm-3">
                                    <label class="control-label" for="tipoPlantillaId">Letra:</label>
                                    <select class="form-control" ng-model="plantillaEditada.contenidoPlantilla[1].nombreLetra" ng-options="tip.nomLetra for tip in letras">

                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label class="control-label"  >Tamaño:</label>


                                    <input class="form-control" type="number" min="8" max="20" value="11" ng-model="plantillaEditada.contenidoPlantilla[1].size">

                                </div>
                                <div class="col-sm-4">

                                    <label class="control-label" for="alineacionId">Alineacion:</label>
                                    <br>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[1].alineacion==alineacion[2]}" ng-click="botonAlineacionIzqCue()">
                                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Center Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[1].alineacion==alineacion[0]}" ng-click="botonAlineacionCenCue()">
                                            <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Right Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[1].alineacion==alineacion[3]}" ng-click="botonAlineacionDerCue()">
                                            <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Justify Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[1].alineacion==alineacion[1]}" ng-click="botonAlineacionJusCue()">
                                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="formatoId">Formato</label>
                                    <br>
                                    <div class="btn-group-sdc-2">
                                        <button type="button" class="btn btn-default" ng-class="{'active' : plantillaEditada.contenidoPlantilla[1].isBold==true}" ng-click="botonBoldCue()">
                                            <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : plantillaEditada.contenidoPlantilla[1].isCursiva==true}" ng-click="botonCursivaCue()">
                                            <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : plantillaEditada.contenidoPlantilla[1].isSubrayado==true}" ng-click="botonSubrayadoCue()">
                                            <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group ">
                            <textarea class="form-control" rows="5" id="contenido" ng-model="plantillaEditada.contenidoPlantilla[1].contenido"></textarea>
                        </div>

                    </fieldset>
                    <fieldset>
                        <legend>Paso #4:</legend>
                        <div class="form-horizontal " >
                            <div class="form-group"> 
                                <div class="col-sm-3">
                                    <label class="control-label" for="tipoPlantillaId">Letra:</label>
                                    <select class="form-control" ng-model="plantillaEditada.contenidoPlantilla[2].nombreLetra" ng-options="tip.nomLetra for tip in letras">

                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label class="control-label" >Tamaño:</label>


                                    <input class="form-control" type="number" min="8" max="20" value="11" ng-model="plantillaEditada.contenidoPlantilla[2].size">

                                </div>
                                 <div class="col-sm-4">

                                    <label class="control-label" for="alineacionId">Alineacion:</label>
                                    <br>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[2].alineacion==alineacion[2]}" ng-click="botonAlineacionIzqDes()">
                                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Center Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[2].alineacion==alineacion[0]}" ng-click="botonAlineacionCenDes()">
                                            <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Right Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[2].alineacion==alineacion[3]}" ng-click="botonAlineacionDerDes()">
                                            <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" aria-label="Justify Align" ng-class="{'active' : plantillaEditada.contenidoPlantilla[2].alineacion==alineacion[1]}" ng-click="botonAlineacionJusDes()">
                                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="formatoId">Formato</label>
                                    <br>
                                    <div class="btn-group-sdc-2">
                                        <button type="button" class="btn btn-default" ng-class="{'active' : plantillaEditada.contenidoPlantilla[2].isBold==true}" ng-click="botonBoldDes()">
                                            <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : plantillaEditada.contenidoPlantilla[2].isCursiva==true}" ng-click="botonCursivaDes()">
                                            <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-class="{'active' : plantillaEditada.contenidoPlantilla[2].isSubrayado==true}" ng-click="botonSubrayadoDes()">
                                            <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <textarea  class="form-control" rows="3" id="despedida" ng-model="plantillaEditada.contenidoPlantilla[2].contenido" ></textarea>
                        </div>

                    </fieldset>
                    <fieldset>
                        <legend>Imagenes:</legend>
                        <div class="form-group" >
                            <div class="col-sm-12">
                                <div class="tabla-responsiva" style="max-height: 230px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                       
                                    <table class="table" style="margin-bottom: 0;">
                                        <thead>
                                            <tr>
                                                <th style="width:15px">Ver</th>

                                                <th style="width:auto">Descripcion</th>
                                                <th style="width:30%;">Adjunto</th>
                                                <th style="width:66px">Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="d in imagenes">
                                                <td>
                                                    <div>
                                                        <label><input type="radio" name="optradio" ng-model="verImagen.verImagen" ng-value="d"></label>
                                                    </div>

                                                </td>    

                                                <td>
                                                    <span ng-hide="d.edi" >{{d.descripcion}}</span>
                                                    <span ng-show="d.edi" ><input ng-model="d.copia.descripcion"/></span>
                                                </td>
                                                <td style="word-break: break-all;">
<!--                                                    <span  class="tools  pull-left"><view-file url="{{plantillaEditada.documento.url}}" nombre="plantillaEditada.documento.nombreArchivo" archivo="plantillaEditada.documento.archivo"></view-file></span>-->
                                                    <span ng-hide="d.edi" ><view-file url="{{d.url}}" nombre="d.nombreArchivo" archivo="d.archivo" > </view-file></span>
                                                    <span ng-show="d.edi" ><input-file nombre="d.copia.nombreArchivo" archivo="d.copia.archivo"></input-file></span>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-xs" ng-click="editarImagen($index,d)"><i class="fa" ng-class="{'fa-check':d.edi,'fa-pencil':!d.edi}" ></i></button>
                                                    <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!d.edi}" ng-click="eliminarImagen($index,d)"><i class="fa" ng-class="{'fa-times':d.edi,'fa-trash-o':!d.edi}"></i></button>                          
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table></div>
                                <table class="table peque" style="margin-bottom: 8px;background: #f1f2f7;">
                                    <tr>
                                        <td style="width:15px">+</td>
                                        <td style="width:auto"><input type="text" class="form-control input-table" ng-model="imagen.descripcion"></td>
                                        <td style="width:30%;word-break: break-all;"><input-file nombre="imagen.nombreArchivo" archivo="imagen.archivo"></input-file></td>
                                    <td style="width:66px">
                                        <button class="btn btn-success btn-xs" ng-click="agregarImagen  ()" title="agregar Imagen"><i class="fa fa-plus" ></i></button>
                                    </td>

                                    </tr>                      
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div></div>
            <div class="modal-footer">     

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="generar()">Guardar</button>
            </div>
        </div>
    </div>

</div>