<!-- Listado del Desarrollo de Tema / Capacitador - Docente -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="form-group" style="vertical-align: middle">
                    <div class="col-sm-12">
                        <h4 style="display:inline;line-height: 1.9">Tema: {{desarrolloCtrl.temNom}}</h4>  
                    </div>
                </div>
            </header> 
            <div class="modal-body" ng-init="desarrolloCtrl.listarDesarrollo()">
                <div class="row">
                    <div class="col-sm-2">
                        <uib-tabset vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                            <uib-tab index="0" heading="Contenido Teórico" style="text-align: justify" ng-click="desarrolloCtrl.i = 0"></uib-tab>
                            <uib-tab index="1" heading="Tareas" style="text-align: justify" ng-click="desarrolloCtrl.i = 1"></uib-tab>
                            <uib-tab index="2" heading="Evaluaciones" style="text-align: justify" ng-click="desarrolloCtrl.i = 2"></uib-tab> 
                            <uib-tab index="3" heading="Videos" style="text-align: justify" ng-click="desarrolloCtrl.i = 3"></uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="col-sm-10" ng-if="desarrolloCtrl.i === 0 && desarrolloCtrl.cont.length > 0">
                        <div class="col-lg-12">
                            <div class="tabla-responsiva">
                                <table class="table table-striped table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="3" width="90%">Archivos Adjuntos / Links </th>
                                                <th width="10%" style="text-align:center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="content in desarrolloCtrl.cont">
                                                <td colspan="3">{{content.nom}}</td>
                                                <td colspan="3">Tipo</td>
                                                <td style="text-align:center">
                                                    <button ng-if="content.adj.length > 0" class="btn btn-success btn-xs" ng-click="content.st = !content.st" title="Ver Adjuntos"><i class="fa" ng-class="{'fa-chevron-down': content.st,'fa-chevron-right': !content.st}"></i></button>
                                                </td>
                                            </tr>
                                            
                                            <tr ng-if="content.adj.length > 0" ng-show="content.st" ng-repeat="attachment in content.adj" style="background-color: rgb(244, 255, 244)" ng-repeat-end>
                                                <td colspan="2"><input type="hidden"></td>
                                                <td>{{attachment.nom}}</td>
                                                <td><span class="label label-mini" ng-class="{'label-info': attachment.tipo === 'L','label-warning': attachment.tipo === 'A'}">{{attachment.tipo === 'L' ? "Link" : "Adjunto"}}</span></td>
                                                <td style="text-align:center">
                                                    
                                                    <button class="btn btn-default btn-xs" ng-click="desarrolloCtrl.verAdjunto(attachment.url,attachment.tipo)" title="Ver Adjunto"><span class="glyphicon glyphicon-eye-open"></span></button>
                                                </td>
                                                <td style="text-align:center" ng-if="attachment.tipo === 'A'">
                                                    <a href="{{attachment.url}}" class="btn btn-primary btn-xs" role="button" download><span class="glyphicon glyphicon-download-alt"></span></a>                                                                      
                                                </td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="col-sm-10" ng-if="desarrolloCtrl.i === 1 && desarrolloCtrl.tare.length > 0">
                        <div class="col-lg-12">
                            <div class="tabla-responsiva">
                                <table class="table table-striped table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="3" width="90%">Archivos Adjuntos / Links </th>
                                                <th width="10%" style="text-align:center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="content in desarrolloCtrl.tare">
                                                <td colspan="3">{{content.nom}}</td>
                                                <td colspan="3">Tipo</td>
                                                <td style="text-align:center">
                                                    <button ng-if="content.adj.length > 0" class="btn btn-success btn-xs" ng-click="content.st = !content.st" title="Ver Adjuntos"><i class="fa" ng-class="{'fa-chevron-down': content.st,'fa-chevron-right': !content.st}"></i></button>
                                                </td>
                                            </tr>
                                            
                                            <tr ng-if="content.adj.length > 0" ng-show="content.st" ng-repeat="attachment in content.adj" style="background-color: rgb(244, 255, 244)" ng-repeat-end>
                                                <td colspan="2"><input type="hidden"></td>
                                                <td>{{attachment.nom}}</td>
                                                <td><span class="label label-mini" ng-class="{'label-info': attachment.tipo === 'L','label-warning': attachment.tipo === 'A'}">{{attachment.tipo === 'L' ? "Link" : "Adjunto"}}</span></td>
                                                <td style="text-align:center">
                                                    
                                                    <button class="btn btn-default btn-xs" ng-click="desarrolloCtrl.verAdjunto(attachment.url,attachment.tipo)" title="Ver Adjunto"><span class="glyphicon glyphicon-eye-open"></span></button>
                                                </td>
                                                <td style="text-align:center" ng-if="attachment.tipo === 'A'">
                                                    <a href="{{attachment.url}}" class="btn btn-primary btn-xs" role="button" download><span class="glyphicon glyphicon-download-alt"></span></a>                                                                      
                                                </td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10" ng-if="desarrolloCtrl.i === 2 && desarrolloCtrl.eval.length > 0"">
                        <div class="col-lg-12">
                            <div class="tabla-responsiva">
                                <table class="table table-striped table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="3" width="90%">Archivos Adjuntos / Links </th>
                                                <th width="10%" style="text-align:center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="content in desarrolloCtrl.eval">
                                                <td colspan="3">{{content.nom}}</td>
                                                <td colspan="3">Tipo</td>
                                                <td style="text-align:center">
                                                    <button ng-if="content.adj.length > 0" class="btn btn-success btn-xs" ng-click="content.st = !content.st" title="Ver Adjuntos"><i class="fa" ng-class="{'fa-chevron-down': content.st,'fa-chevron-right': !content.st}"></i></button>
                                                </td>
                                            </tr>
                                            
                                            <tr ng-if="content.adj.length > 0" ng-show="content.st" ng-repeat="attachment in content.adj" style="background-color: rgb(244, 255, 244)" ng-repeat-end>
                                                <td colspan="2"><input type="hidden"></td>
                                                <td>{{attachment.nom}}</td>
                                                <td><span class="label label-mini" ng-class="{'label-info': attachment.tipo === 'L','label-warning': attachment.tipo === 'A'}">{{attachment.tipo === 'L' ? "Link" : "Adjunto"}}</span></td>
                                                <td style="text-align:center">
                                                    
                                                    <button class="btn btn-default btn-xs" ng-click="desarrolloCtrl.verAdjunto(attachment.url,attachment.tipo)" title="Ver Adjunto"><span class="glyphicon glyphicon-eye-open"></span></button>
                                                </td>
                                                <td style="text-align:center" ng-if="attachment.tipo === 'A'">
                                                    <a href="{{attachment.url}}" class="btn btn-primary btn-xs" role="button" download><span class="glyphicon glyphicon-download-alt"></span></a>                                                                      
                                                </td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Para el Caso de Mostrar Videos -->
                    <div class="col-sm-10" ng-if="desarrolloCtrl.i === 3 && desarrolloCtrl.vide.length > 0">
                       <div class="col-lg-12">
                            <div class="tabla-responsiva">
                                <table class="table table-striped table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="3" width="90%">Archivos Adjuntos / Links </th>
                                                <th width="10%" style="text-align:center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="content in desarrolloCtrl.vide">
                                                <td colspan="3">{{content.nom}}</td>
                                                <td colspan="3">Tipo</td>
                                                <td style="text-align:center">
                                                    <button ng-if="content.adj.length > 0" class="btn btn-success btn-xs" ng-click="content.st = !content.st" title="Ver Adjuntos"><i class="fa" ng-class="{'fa-chevron-down': content.st,'fa-chevron-right': !content.st}"></i></button>
                                                </td>
                                            </tr>
                                            
                                            <tr ng-if="content.adj.length > 0" ng-show="content.st" ng-repeat="attachment in content.adj" style="background-color: rgb(244, 255, 244)" ng-repeat-end>
                                                <td colspan="2"><input type="hidden"></td>
                                                <td>{{attachment.nom}}</td>
                                                <td><span class="label label-mini" ng-class="{'label-info': attachment.tipo === 'L','label-warning': attachment.tipo === 'A'}">{{attachment.tipo === 'L' ? "Link" : "Adjunto"}}</span></td>
                                                <td style="text-align:center">
                                                    
                                                    <button class="btn btn-default btn-xs" ng-click="desarrolloCtrl.verAdjunto(attachment.url,attachment.tipo)" title="Ver Adjunto"><span class="glyphicon glyphicon-eye-open"></span></button>
                                                </td>
                                                <td style="text-align:center" ng-if="attachment.tipo === 'A'">
                                                    <a href="{{attachment.url}}" class="btn btn-primary btn-xs" role="button" download><span class="glyphicon glyphicon-download-alt"></span></a>                                                                      
                                                </td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>          
        </section>
    </div>
    <div class="row">
        <div class="col-lg-12">
             <div class="modal-body">
                 <div class="col-sm-6">
                      <iframe class="col-sm-12" width="700"  height="650" ng-src="{{desarrolloCtrl.currentProjectUrl}}"></iframe>
                 </div>
                 <div class="col-sm-6">
                     <iframe class="col-sm-12" width="700"  height="650" ng-src="{{desarrolloCtrl.currentProjectUrl2}}"></iframe>
                 </div>
             </div>
        </div>
    </div>

</div>
<script type="text/ng-template" id="development.html">
<div class="modal-header">
    <div class="form-group" style="vertical-align: middle">
        <div class="col-sm-12">
            <h3 class="modal-title">Tema: {{dev.tem}}</h3>
            <small class="form-text text-muted">{{dev.tip}}: {{dev.nom}}</small>
        </div>
    </div>    
</div>
<div class="modal-body">
    <form name="myForm" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="tabla-responsiva" ng-init="dev.listarParticipantes()">
                    <table ng-table="dev.tableCompetitor" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="dev.tableForm" disable-filter="dev.isAdding" demo-tracked-table="dev.tableTracker">
                        <colgroup>
                            <col width="55%"/><col width="15%"/><col width="15%"/><col width="15%"/>
                        </colgroup>  
                        <tr ng-repeat-start="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                            <td title="'Apellidos y Nombres'" filter="{name: 'text'}" sortable="'name'">{{row.name}}</td>
                            <td data-title="'Estado'" filter="{state: 'select'}" filter-data="[{id: 'A', title:'Activo'},{id: 'E', title:'Enviado'},{id: 'N', title:'No Enviado'},{id: 'C', title:'Calificado'}]" sortable="'state'" style="text-align: center">
                                <span class="label label-mini" ng-class="{'label-success': row.state === 'A','label-danger': row.state === 'E', 'label-default': row.state === 'N', 'label-info': row.state === 'C'}">{{row.state === 'A' ? "Activa" : row.state === 'E' ? "Enviada" : row.state === 'N' ? "No Enviada" : "Calificada"}}</span>
                            </td>
                            <td title="'Nota'" filter="{grade: 'number'}" sortable="'grade'" ng-switch="row.isEditing" ng-class="grade.$dirty ? 'bg-warning' : ''" ng-form="grade" demo-tracked-table-cell style="text-align:center">
                                <span ng-switch-default class="editable-text">{{row.grade}}</span>
                                <div class="controls" ng-class="grade.$invalid && grade.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                  <input type="number" name="grade" ng-model="row.grade" class="editable-input form-control input-sm" required/>
                                </div>
                            </td>
                            <td style="text-align:center">
                                <button class="btn btn-primary btn-xs" ng-click="dev.guardar(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid" title="Editar Nota"><span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-default btn-xs" ng-click="dev.cancelar(row, rowForm)" ng-if="row.isEditing" title="Cancelar"><span class="glyphicon glyphicon-remove"></span></button>
                                <button class="btn btn-default btn-xs" ng-click="dev.editar(row)" ng-disabled="row.state === 'N'" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="btn btn-success btn-xs" ng-click="row.$ver = !row.$ver" ng-if="!row.isEditing && row.adj.length > 0" title="Ver Adjuntos"><i class="fa" ng-class="{'fa-chevron-down': row.$ver,'fa-chevron-right': !row.$ver}"></i></button>                            
                            </td>
                        </tr>
                        <tr ng-if="row.adj.length > 0" ng-show="row.$ver" ng-repeat="at in row.adj" style="background-color: rgb(244, 255, 244)" ng-repeat-end>
                            <td colspan="3" style="text-align:right">{{at.nom}}</td>
                            <td style="text-align:center">
                                <a href="{{at.url}}" class="btn btn-primary btn-xs" role="button" download><span class="glyphicon glyphicon-download-alt"></span></a>                                                                      
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="dev.salir()">Salir</button>
</div>
</script>
<script type="text/ng-template" id="sendDevelopment.html">
<div class="modal-header">
    <div class="form-group" style="vertical-align: middle">
        <div class="col-sm-9">
            <h3 class="modal-title">Tema: {{send.tem}}</h3>
            <small class="form-text text-muted">{{send.tip}}: {{send.nom}}</small>          
        </div>
        <div class="col-sm-3" style="horizontal-align: center">
            <center>
                <h3 class="modal-title">
                    <span class="label label-mini" ng-class="{'label-success': send.est === 'A','label-danger': send.est === 'E', 'label-default': send.est === 'N', 'label-info': send.est === 'C'}">{{send.state}}</span>
                </h3>
                <small class="form-text text-muted" ng-if="send.est === 'C' || send.est === 'N'">Nota: {{send.not}}</small>                
            </center>
        </div>
    </div>    
</div>
<div class="modal-body">
    <form name="myForm" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-lg-8 col-sm-offset-2" ng-init="send.consultar()">
                <div class="tabla-responsiva">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center" width="95%">Documento Adjunto</th>
                                <th width="5%">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="document in send.adjuntos">
                                <td>{{document.nom}}</td>
                                <td style="text-align: center" ng-if="!send.disabled">
                                    <button class="btn btn-danger btn-xs"  ng-click="send.eliminarAdjunto($index)" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></button>
                                </td>
                                <td style="text-align:center" ng-if="send.disabled">
                                    <a href="{{document.url}}" class="btn btn-primary btn-xs" role="button" download><span class="glyphicon glyphicon-download-alt"></span></a>                                                                      
                                </td>
                            </tr>
                            <tr ng-if="!send.disabled">
                                <td><input-file nombre="send.doc.nom" archivo="send.doc.arc"></input-file></td>
                                <td style="text-align:center">
                                    <button class="btn btn-success btn-xs" ng-click="send.agregarAdjunto()" ng-disabled="send.doc.nom === '' || send.doc.nom === undefined" title="Agregar"><span class="glyphicon glyphicon-plus"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="send.adjuntos.length <= 0 || send.disabled" ng-click="send.aceptar()">Enviar</button>
    <button class="btn btn-danger" ng-click="send.cancelar()">Cancelar</button>
</div>
</script>
