<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">                
                <div class="form-group" style="vertical-align: middle">
                    <div class="col-sm-12">
                        <h4 class="modal-title" style="display:inline;line-height: 1.9">{{evaCtrl.capNom}}</h4><br>
                        <small class="form-text text-muted" ng-if="evaCtrl.tipCap === 'Presencial'">Sede: {{evaCtrl.sedNom}}</small>
                    </div>
                </div>
            </header>          
            <div class="panel-body" ng-init="evaCtrl.listarEvaluaciones()">
                <div class="tabla-responsiva">
                    <table ng-table="evaCtrl.tablaEvaluaciones" class="table table-striped table-hover">
                        <tr ng-repeat="test in $data">
                            <td width="25%" data-title="'Nombre'" filter="{nom: 'text'}" sortable="'nom'">{{test.nom}}</td>
                            <td width="15%" data-title="'Tipo'" filter="{tip: 'select'}" filter-data="[{id: 'P', title:'Evaluación Parcial'},{id: 'E', title:'Encuesta'}]" sortable="'tip'" style="text-align: center">
                                <span class="label label-mini" ng-class="{'label-info': test.tip === 'P','label-warning': test.tip === 'E'}">{{test.tip === 'P' ? "Evaluación Parcial" : "Encuesta"}}</span>
                            </td>
                            <td width="35%" data-title="'Observaciones'" filter="{obs: 'text'}" sortable="'obs'">{{test.obs}}</td>
                            <td width="10%" data-title="'Estado'" filter="{est: 'select'}" filter-data="[{id: 'A', title:'Activo'},{id: 'F', title:'Finalizado'},{id: 'I', title:'Iniciado'}]" sortable="'est'" style="text-align: center">
                                <span class="label label-mini" ng-class="{'label-success': test.est === 'A','label-danger': test.est === 'F', 'label-default': test.est === 'I'}">{{test.est === 'A' ? "Activo" : test.est === 'I'?"Iniciado":"Finalizado"}}</span>
                            </td>
                            <td width="15%" data-title="'Acción'" style="text-align: center">
                                <button class="btn btn-default btn-xs" ng-click="evaCtrl.gestionarPreguntas(test)" title="Gestionar Preguntas"><span class="glyphicon glyphicon-tags"></span></button>
                                <button class="btn btn-primary btn-xs" ng-disabled="evaCtrl.sedEst === 'F' || !(test.est === 'A')" ng-click="evaCtrl.editarEvaluacion(test)" title="Editar Evaluación"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="btn btn-danger btn-xs" ng-disabled="evaCtrl.sedEst === 'F' || !(test.est === 'A')" ng-click="evaCtrl.eliminarEvaluacion(test)" title="Eliminar Evaluación"><span class="glyphicon glyphicon-trash"></span></button>
                                <button class="btn btn-warning btn-xs" ng-disabled="evaCtrl.sedEst === 'F' || !(test.est === 'A')" ng-click="evaCtrl.aplicarEvaluacion(test)" title="Aplicar Evaluación"><span class="glyphicon glyphicon-list-alt"></span></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <span class="tools pull-right">
                    <button class="btn btn btn-success" ng-if="evaCtrl.sedEst !== 'F'" ng-click="evaCtrl.agregarEvaluacion()"><span class="glyphicon glyphicon-plus"></span> Nueva Evaluación</button>
                </span>
            </div>            
        </section>
    </div>
</div>
<!-- Enviar Mensajes -->
<div id="modalAplicarEvaluacion" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <h4 class="modal-title" align="center">Envío de Correos</h4>
            </div>
            <div class="modal-body">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                <p align="center">Se está enviando correos electrónicos a todos los docentes participantes de esta capacitación {{evaCtrl.capNom}} {{evaCtrl.tipCap === 'Presencial'?"Sede " + evaCtrl.sedNom:""}}</p>
            </div>
        </div>         
    </div>
</div>
<script type="text/ng-template" id="test.html">
    <div class="modal-header">
        <h3 class="modal-title">{{test.title}}</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 control-label">Nombre:</label>
                <div class="col-lg-10">
                    <input name="name" class="form-control" type="text" ng-model="test.test.nom" required>
                    <small class="form-text text-muted" ng-show="myForm.name.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Observaciones:</label>
                <div class="col-lg-10">
                    <input name="comment" class="form-control" type="text" ng-model="test.test.obs" required>
                    <small class="form-text text-muted" ng-show="myForm.comment.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Desde:</label>
                <div class="col-lg-4">
                    <div class="input-group">
                        <input name="iniDate" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="test.test.ini" is-open="date_1" datepicker-options="test.dateOptions" close-text="Cerrar" clear-text="Limpiar" placeholder="Fecha de Entrega" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="date_1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>                        
                    </div>
                    <small class="form-text text-muted" ng-show="myForm.iniDate.$error.required">Este campo es requerido</small>
                </div>
                <label class="col-lg-2 control-label">Hasta:</label>
                <div class="col-lg-4">
                    <div class="input-group">
                        <input name="endDate" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="test.test.fin" is-open="date_2" datepicker-options="test.dateOptions" close-text="Cerrar" clear-text="Limpiar" placeholder="Fecha de Entrega" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="date_2 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <small class="form-text text-muted" ng-show="myForm.endDate.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Tipo:</label>
                <div class="col-lg-2">
                    <select name="type" class="form-control" ng-model="test.test.tip" required>
                        <option ng-repeat="stage in test.tipoEvaluacion" value="{{stage.id}}">{{stage.nom}}</option>
                    </select>
                    <small class="form-text text-muted" ng-show="myForm.type.$error.required">Requerido</small>
                </div>
                <label class="col-lg-2 control-label">Ordenar Aleatorio:</label>
                <div class="col-lg-2">
                    <div class="btn-group">
                        <label ng-class="{'btn btn-default': !test.test.ord,'btn btn-success': test.test.ord}" ng-model="test.test.ord" uib-btn-radio="true" uncheckable>SI</label>
                        <label ng-class="{'btn btn-default': test.test.ord,'btn btn-success': !test.test.ord}" ng-model="test.test.ord" uib-btn-radio="false" uncheckable>NO</label>
                    </div>
                </div>
                <label class="col-lg-2 control-label" ng-if="test.test.tip === 'P'">Intentos Permit.:</label>
                <div class="col-lg-2" ng-if="test.test.tip === 'P'">
                    <input name="tries" class="form-control" type="number" ng-model="test.test.int" min="1" placeholder="Config." required>
                ​    <small class="form-text text-muted" ng-show="myForm.tries.$error.required">Requerido</small>
                    <small class="form-text text-muted" ng-show="myForm.tries.$error.min">Mínimo = 1</small>
                </div>
            </div>
            <div class="form-group">
               <label class="col-lg-2 control-label">Tiempo (Min):</label>
               <div class="col-lg-2">
                    <input name="tries" class="form-control" type="number" ng-model="test.test.min" min="10" placeholder="Minutos" required>
                ​    <small class="form-text text-muted" ng-show="myForm.tries.$error.required">Requerido</small>
                    <small class="form-text text-muted" ng-show="myForm.tries.$error.min">Mínimo = 10 minutos</small>
               </div> 
                
            </div>
    
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid || (!test.est && myForm.$pristine)" ng-click="test.aceptar()">{{test.action}}</button>
        <button class="btn btn-danger" ng-click="test.cancelar()">Cancelar</button>
    </div>
</script>