<!-- Registro de Participantes -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="form-group" style="vertical-align: middle">
                    <div class="col-sm-8">
                        <h4 style="display:inline;line-height: 1.9">Registro de Participantes</h4>  
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="state.tipo" ng-change="limpiar('G')">
                            <option disabled selected value>Seleccione Tipo de Registro</option>
                            <option ng-repeat="type in tiposRegistro" value="{{type}}">Tipo de Registro: {{type}}</option>
                        </select>
                    </div>
                </div>
            </header>
            <div class="panel-body">
                <form class="form-horizontal style-form" name="myForm">
                    <section class="panel" ng-if="state.tipo === 'Selección'">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5 class="modal-title"><b>Datos Generales</b></h5>                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipo Capacitación</label>
                            <div class="col-sm-4">
                                <div class="btn-group">
                                    <label ng-class="{'btn btn-default': state.capTip !== 'Presencial', 'btn btn-info': state.capTip === 'Presencial'}" ng-model="state.capTip" uib-btn-radio="'Presencial'" uncheckable>Presencial</label>
                                    <label ng-class="{'btn btn-default': state.capTip !== 'Online', 'btn btn-info': state.capTip === 'Online'}" ng-model="state.capTip" uib-btn-radio="'Online'" uncheckable>Online</label>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label" ng-if="state.capTip === 'Presencial'">Sede</label>
                            <div class="col-sm-4" ng-if="state.capTip === 'Presencial'">
                                <select class="form-control" ng-model="state.sedCod" ng-change="listarInstituciones()" ng-disabled="!state.capEst">
                                    <option ng-repeat="location in sedes" value="{{location.cod}}">{{location.pro}} - {{location.dis}} - {{location.loc}}</option>
                                </select>
                            </div>                                                          
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Capacitación</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="state.capCod" ng-change="listarSedes()" ng-disabled="!state.tipEst">
                                    <option ng-repeat="training in capacitaciones" value="{{training.cod}}">{{training.nom}}</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">Institución</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="state.orgCod" ng-change="listarDocentes()" ng-disabled="!state.sedEst">
                                    <option ng-repeat="organization in organizaciones" value="{{organization.id}}">{{organization.nom}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-if="state.orgEst">
                            <div class="col-sm-12">
                                <h5 class="modal-title"><b>Personal</b></h5>                                
                            </div>
                        </div>
                        <div class="form-group" ng-if="state.orgEst">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="tabla-responsiva">
                                    <table ng-table="tablaDocentes" class="table table-striped table-hover">
                                        <colgroup>
                                            <col width="10%"/>
                                            <col width="55%"/>
                                            <col width="35%"/>
                                        </colgroup>
                                        <tr ng-repeat="teacher in $data">
                                            <td data-title="'All'" sortable="'sel'" style="text-align: center">
                                                <button ng-class="{'btn btn-success btn-xs': teacher.sel, 'btn btn-default btn-xs': !teacher.sel}"  ng-click="cambiarSeleccion(teacher)" title="Seleccionar"><span class="glyphicon glyphicon-check"></span></button>
                                            </td>
                                            <td data-title="'Apellidos y Nombres'" filter="{nom: 'text'}" sortable="'nom'" style="text-align: left">{{teacher.nom | uppercase}}</td>
                                            <td data-title="'Correo Electrónico'" filter="{cor: 'text'}" sortable="'cor'" style="text-align: left">{{teacher.cor}}</td>
                                        </tr>
                                    </table>
                                    <span class="tools pull-left">
                                        <button class="btn btn-warning btn-xs" ng-click="seleccionarTodos()"><span class="glyphicon glyphicon-flash"></span> Todos</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="panel" ng-if="state.tipo === 'Público'">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5 class="modal-title"><b>Datos de la Capacitación</b></h5>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipo: </label>
                            <div class="col-sm-4">
                                <div class="btn-group">
                                    <label ng-class="{'btn btn-default': state.capTip !== 'Presencial', 'btn btn-info': state.capTip === 'Presencial'}" ng-model="state.capTip" uib-btn-radio="'Presencial'" uncheckable>Presencial</label>
                                    <label ng-class="{'btn btn-default': state.capTip !== 'Online', 'btn btn-info': state.capTip === 'Online'}" ng-model="state.capTip" uib-btn-radio="'Online'" uncheckable>Online</label>
                                </div>
                            </div>
                            <label class="col-sm-1 control-label" ng-if="state.modEst">Inicio</label>
                            <div class="col-sm-2" ng-if="state.modEst">
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="state.sedIni" ng-disabled="true"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-disabled="true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <label class="col-sm-1 control-label" ng-if="state.modEst">Fin</label>
                            <div class="col-sm-2" ng-if="state.modEst">
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="state.sedFin" ng-disabled="true"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-disabled="true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>                                            
                                </div>
                            </div>                   
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Capacitación</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="state.capCod" ng-change="listarSedes()" ng-disabled="!state.tipEst">
                                    <option ng-repeat="training in capacitaciones" value="{{training.cod}}">{{training.nom}}</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label" ng-if="state.capTip === 'Presencial'">Sede</label>
                            <div class="col-sm-5" ng-if="state.capTip === 'Presencial'">
                                <select class="form-control" ng-model="state.sedCod" ng-change="mostrarDatos()" ng-disabled="!state.capEst">
                                    <option ng-repeat="location in sedes" value="{{location.cod}}">{{location.pro}} - {{location.dis}} - {{location.loc}}</option>
                                </select>
                            </div>                            
                        </div><br>
                        
                        <div class="form-group" ng-if="state.modEst">
                            <div class="col-sm-12">
                                <uib-tabset active="active">
                                    <uib-tab index="0" select="state.modPub = !state.modPub">
                                        <uib-tab-heading>
                                            <i class="glyphicon glyphicon-search"></i> Búsqueda
                                        </uib-tab-heading><br>
                                        <div class="col-sm-6">
                                            <input type="text" ng-model="state.parNom" ng-keyup="completeList()" class="form-control"/>
                                            <ul class="list-group" ng-model="modelPar" ng-hide="hide">
                                                <li class="list-group-item" ng-repeat="teacher in filterTeachers" ng-click="fillInformation(teacher.cod)">{{teacher.nom}}</li>  
                                            </ul> 
                                        </div>
                                        <div class="col-sm-6" ng-if="state.parEst">
                                            <uib-accordion>
                                                <div uib-accordion-group class="panel-success" is-open="true">
                                                    <uib-accordion-heading>
                                                        Docente
                                                        <i class="pull-right glyphicon"> 
                                                            <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-education"></span></button>
                                                        </i>
                                                    </uib-accordion-heading>
                                                    <label class="col-sm-4 control-label" style="text-align:left">Apellido Paterno:</label>
                                                    <label class="col-sm-8 control-label" style="text-align:left">{{docente.aPa}}</label>                                        
                                                    <label class="col-sm-4 control-label" style="text-align:left">Apellido Materno:</label>
                                                    <label class="col-sm-8 control-label" style="text-align:left">{{docente.aMa}}</label>
                                                    <label class="col-sm-4 control-label" style="text-align:left">Nombres:</label>
                                                    <label class="col-sm-8 control-label" style="text-align:left">{{docente.nCo}}</label>
                                                    <label class="col-sm-4 control-label" style="text-align:left">DNI:</label>
                                                    <label class="col-sm-8 control-label" style="text-align:left">{{docente.dni}}</label>
                                                    <label class="col-sm-4 control-label" style="text-align:left">Correo Electrónico:</label>
                                                    <label class="col-sm-8 control-label" style="text-align:left">{{docente.cor}}</label>                                       
                                                </div>                                            
                                            </uib-accordion>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1" select="state.modPub = !state.modPub">
                                        <uib-tab-heading>
                                            <i class="glyphicon glyphicon-envelope"></i> E-mail
                                        </uib-tab-heading><br>
                                        <div class="col-sm-6" align="justified">
                                            <p><strong>CONSIDERACIONES</strong></p>
                                            <ul style="text-align:justify;">
                                                <li>Al registrar a un docente bajo esta modalidad; a este se le enviará un correo electrónico para pertenecer al curso de capacitación seleccionado.</li>
                                                <li>Sólo se registrará al docente cuando este haya confirmado su participación en el curso de capacitación.</li>
                                                <li>Si el docente no está registrado previamente en el sistema, tendrá que completar de manera obligatoria el formulario que se le enviará por medio del correo electrónico.
                                                    <ul>
                                                        <li>Una vez completado su registro, el docente podrá acceder al sistema con su dni</li>
                                                        <li>USUARIO: dni</li>
                                                        <li>CONTRASEÑA: dni</li>
                                                    </ul>
                                                </li>
                                                <li>La invitación solo estará activa mientras no haya iniciado el curso de capacitación.</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" style="text-align:left">Correo Electrónico:</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" name="email" type="email" ng-model="state.parCor" required>
                                                    <small class="form-text text-muted" ng-show="myForm.email.$error.email">Ingrese un correo válido</small>
                                                    <small class="form-text text-muted" ng-show="myForm.email.$error.required">Este campo es requerido</small>                                                
                                                </div>
                                            </div>
                                                
                                             <div class="form-group" ng-init="listarRoles()">
                                                <label class="col-sm-4 control-label">Rol :</label>
                                                 <div class="col-sm-8">
                                                     <select class="form-control" ng-model="state.rolId" >
                                                       <option ng-repeat="rol in roles" value="{{rol.rolID}}">{{rol.nombre}}</option>
                                                     </select>
                                                 </div>
                                             </div>    
                                                
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>           
                    </section>
                </form>
                <span class="tools pull-right">
                    <button type="button" class="btn btn-primary" ng-click="enviarCorreos()"><span class="glyphicon glyphicon-floppy-saved"></span> Registrar</button>
                </span>
            </div>            
        </section>
    </div>
</div>

<!-- Registro de Participantes -->
<div id="modalRegistroParticipantes" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <h4 class="modal-title" align="center">Envío de Correos</h4>
            </div>
            <div class="modal-body">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear><br>
                <p align="center">{{msm}}</p>
            </div>
        </div>         
    </div>
</div>