<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <span>MONITOREO DE DOCUMENTOS DE GESTION</span>                      
    </header>     
    
    <div class="panel-body" ng-init="listarItems()">
        <div class="tabla-responsiva"><table ng-table="tablaItems" class="table table-striped table-hover" show-filter="true" >                        
            <tr ng-repeat="d in $data"> 
                <td data-title="'Nombre'" filter="{ itenom: 'text'}" sortable="'itenom'" style="width: 25%;">{{d.itenom}}</td>
<!--                <td data-title="'TafnuevoObjetmano'" filter="{ itetam: 'text'}" sortable="'itetam'" style="width: 5%;">{{d.itetam}}</td>-->
                <!--DESACTIVE ESTO<td data-title="'Version'" filter="{ itever: 'text'}" sortable="'itever'" style="width: 5%;">{{d.itever}}</td>-->
                <td data-title="'Fec. Creacion'" filter="{ itefec: 'text'}" sortable="'itefec'" style="width: 5%;">{{d.itefec}}</td>                
                <td data-title="'Responsable'" filter="{ iteusu: 'text'}" sortable="'iteusu'" style="width: 20%;">{{d.iteusu}}</td>
                <td data-title="'Cargo'" filter="{ iteusucar: 'text'}" sortable="'iteusucar'" style="width: 15%;">{{d.iteusucar}}</td>
                <td data-title="'Organizacion'" filter="{ iteorgnom: 'text'}" sortable="'iteorgnom'" style="width: 10%;">{{d.iteorgnom}}</td>
                <!--DESACTIVE ESTO<td data-title="'Avance'" filter="{ iteava: 'text'}" sortable="'iteava'" style="width: 10%;">{{d.iteava}}</td>-->
                <td data-title="'Acciones'" style="width: 5%; text-align: center; min-width: 100px;">    
                    <!--DESACTIVE ESTO<button class="btn btn-primary btn-xs" uib-tooltip="Objetivos"  ng-click="prepararObjetivos(d, 'O')" ><i class="fa fa-cog" ></i></button>-->
                    <button class="btn btn-success btn-xs" uib-tooltip="Actividades" ng-click="prepararObjetivos(d, 'A')"><i class="fa fa-wrench" ></i></button>                    
                    <!--DESACTIVE ESTO<button class="btn btn-warning btn-xs" uib-tooltip="Fichas" ng-click="listarFichas(d)"><i class="fa fa-files-o" ></i></button>-->
                </td>
            </tr>
            </table>
        </div>
    </div>
</section>
</div>
</div>  
<!-- Modal para objetivos-->
<div class="modal fade" id="modalObjetivos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{titulo[1]}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">                                         
            <div class="col-sm-6">              
                Documento:
                <h4>{{documento.itenom}}</h4>
            </div>            
        </div>

        <div class="panel-body">    
            <button class="btn btn btn-primary" uib-tooltip="Agregar" ng-click="prepararObjetivo()"><i class="fa fa-plus"></i></button>
            <div class="tabla-responsiva">
                <table ng-table="tablaObjetivos" class="table table-striped table-hover" show-filter="true" demo-tracked-table="tableTracker">
                <tr ng-repeat="o in $data">                    
                    <td data-title="'Descripcion'" filter="{ objdes: 'text'}" sortable="'objdes'" style="width: 35%; min-width: 200px;">
    <!--                                {{p.parApe}}-->
                        <span ng-hide="o.edi" >{{o.objdes}}</span>
                        <span ng-show="o.edi" ><input ng-model="o.copia.objdes"/></span>
                    </td>
                    <td data-title="'Avance'" filter="{ objava: 'number'}" sortable="'objava'" style="width: 5%; min-width: 150px;">
    <!--                                {{p.parApe}}-->
<!--                        <span ng-hide="o.edi" >{{o.objava}}%</span>-->
                        <div><uib-progressbar class="progress-striped" value="o.objava" type="warning">{{o.objava}}%</uib-progressbar></div>
                        <span ng-show="o.edi" ><input type="number" ng-model="o.copia.objava"/></span>
                    </td>
                    <td data-title="'Fecha'" filter="{ objfec: 'text'}" sortable="'objfec'" style="width: 10%; min-width: 150px;">
    <!--                                {{p.parApe}}-->
                        <span ng-hide="o.edi" >{{o.objfec|date:"dd/MM/yyyy"}}</span>
                        <span ng-show="o.edi" ><input type="date" ng-model="o.copia.objfec"/></span>
                    </td>
                    <td data-title="'Responsable'" filter="{ objusu: 'text'}" sortable="'objusu'" style="width: 25%; min-width: 150px;">
    <!--                                {{p.parNom}}-->
                        <span ng-hide="o.edi" >{{o.objusu.perDNI}}</span>
                        <span ng-show="o.edi" >
                            <input type="text" ng-model="o.copia.objusu" uib-typeahead="trabajador as trabajador.perDNI + ' ' + trabajador.perNom + ' ' + trabajador.perPat for trabajador in trabajadores | filter:$viewValue | limitTo:8" class="form-control input-table">
                        </span>
                    </td>                                        
                    <td data-title="'Documento'" filter="{ objdoc: 'text'}" sortable="'objdoc'" style="width: 10%; min-width: 50px;">
                        <span ng-hide="o.edi" >{{o.objdoc}}</span>
                        <span ng-show="o.edi" ><input type="number" ng-model="o.copia.objdoc"/></span>
                    </td>
                    <td data-title="'Tipo'" filter="{ objtip: 'text'}" sortable="'objtip'" style="width: 10%; min-width: 50px;">
<!--                        <span ng-hide="o.edi" >{{o.objtip=='q'?'cualitativo':'cuantitativo'}}</span>-->
                        <span class="label label-mini" ng-class="{'label-primary': o.objtip=='q','label-success': o.objtip=='c'}">{{o.objtip=='q'?'cualitativo':'cuantitativo'}}</span>
<!--                        <span ng-show="o.edi" ><input type="number" ng-model="o.copia.objtip"/></span>-->
                        <span ng-show="o.edi" >
                            <select ng-model="o.copia.objtip"  ng-options="o.key as o.value for o in objetivoTipo">
                            </select>
                        </span>
                    </td>
                    <td data-title="'Acción'" style="width: 5%; text-align: center; min-width: 100px;">                       
                        <button class="btn btn-primary btn-xs" uib-tooltip="Editar Actividad" ng-click="editarObjetivo(o,false)"><i class="fa" ng-class="{'fa-check':o.edi,'fa-pencil':!o.edi}" ></i></button>                        
                        <button class="btn btn-primary btn-xs" uib-tooltip="Editar Avance (%)"  ng-click="avanceObjetivos(o)" ><i class="fa fa-arrow-right" ></i></button>
                        <button class="btn btn-xs" title="Eliminar Actividad" ng-class="{'btn-danger':!o.edi}" ng-click="eliminarObjetivo(o.i, o)"><i class="fa" ng-class="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>                        
                    </td>                    
                </tr>
                </table>                
             
            </div>
            
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="guardarObjetivos()"> Guardar </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancelar()"> Cancelar </button>                        
      </div>
    </div>
  </div>
</div>

<!--modal para nuevo objetivo-->
<div class="modal fade" id="modalNuevoObjetivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{titulo[0]}}</h4>
      </div>
      <div class="modal-body">
        <form name="objetivoForm" ng-submit="agregarObjetivo()" novalidate>
            Documento:
            <h4>{{documento.itenom}}</h4>
            <div style="text-align: center;">
                Tipo:  
                <input type="radio" ng-model="nuevoObjetivo.objtip" id="defaultRadio" value="q" ng-checked="true" ng-click="cuantitativoShow(false)">Cualitativa
                <input type="radio" ng-model="nuevoObjetivo.objtip" value="c" ng-click="cuantitativoShow(true)">Cuantitativa                            
            </div>
            
            <!-- descripcion de indicador -->
            <div class="form-group" ng-class="{ 'has-error' : objetivoForm.indi.$invalid && !objetivoForm.indi.$pristine }" ng-show="cuantitativo">
                <label>Indicador</label>                
                <textarea class="form-control" name="indi" rows="2" ng-model="nuevoObjetivo.indicador" required></textarea>
                <p ng-show="objetivoForm.indi.$invalid && !objetivoForm.indi.$pristine" class="help-block">El descripcion es requerida.</p>
            </div>
            
            <!-- descripcion de meta -->
            <div class="form-group" ng-class="{ 'has-error' : objetivoForm.meta.$invalid && !objetivoForm.meta.$pristine }" ng-show="cuantitativo">
                <label>Meta</label>                
                <input class="form-control" type="number" name="meta" rows="3" ng-model="nuevoObjetivo.meta" required>
                <p ng-show="objetivoForm.meta.$invalid && !objetivoForm.meta.$pristine" class="help-block">El descripcion es requerida.</p>
            </div>
            
            <!-- descripcion de objetivo -->
            <div class="form-group" ng-class="{ 'has-error' : objetivoForm.name.$invalid && !objetivoForm.name.$pristine }">
                <label>Descripcion</label>                
                <textarea class="form-control" name="name" rows="3" ng-model="nuevoObjetivo.objdes" required></textarea>
                <p ng-show="objetivoForm.name.$invalid && !objetivoForm.name.$pristine" class="help-block">El descripcion es requerida.</p>
            </div>                      
            <!-- nombre del responsable -->
            <div class="form-group" ng-class="{ 'has-error' : objetivoForm.nameres.$invalid && !objetivoForm.nameres.$pristine }">
                <label>Responsable</label>                
                <input type="text" name="nameres" class="form-control" ng-model="nuevoObjetivo.objusu" uib-typeahead="trabajador as trabajador.perDNI + ' ' + trabajador.perNom + ' ' + trabajador.perPat for trabajador in trabajadores | filter:$viewValue | limitTo:8" required>
                <p ng-show="objetivoForm.nameres.$invalid && !objetivoForm.nameres.$pristine" class="help-block">Este campo es necesario.</p>
            </div>
            <!-- fecha-->
            <div class="form-group" ng-class="{ 'has-error' : objetivoForm.date1.$invalid && !objetivoForm.date1.$pristine }">
                <label>Fecha</label>
                <input type="date" name="date1" class="form-control" ng-model="nuevoObjetivo.objfec">
                <p ng-show="objetivoForm.date1.$invalid && !objetivoForm.date1.$pristine" class="help-block">Esta fecha es requerida.</p>
            </div>
        </form>
      </div>
        <div class="modal-footer">            
            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="verificar(objetivoForm)" ng-click="agregarObjetivo()">Agregar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!--modal modificar avance objetivos-->
<div class="modal fade" id="modalAvanceObjetivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{titulo[0]}}</h4>
      </div>
      <div class="modal-body">
        <form name="avanceObjForm" ng-submit="registrarAvance()" novalidate>
            Documento:
            <h4>{{documento.itenom}}</h4>
            {{titulo[0]}}:
            <h4>{{objetivo.objdes}}</h4>
            
            Indicador:
            <h4>{{objetivo.indicador}}</h4>
            
            Meta:
            <h4>{{objetivo.meta}}</h4>
            
            Avance(%):
            <div><uib-progressbar class="progress-striped" value="objetivo.objava" type="warning">{{objetivo.objava}}%</uib-progressbar></div>
            <!-- input para el avance del objetivo -->
            <div>
                <label>Avance</label> 
                <span ng-hide="objetivo.edi" >{{objetivo.odeava}}</span>
                <span ng-show="objetivo.edi" >
                    <input style="width: 50px;" name="name" type="number" ng-model="objetivo.copia.odeava" min="0" max="objetivo.meta"/>                    
                </span>
                <button class="btn btn-primary btn-xs" ng-click="editarAvance(objetivo)"><i class="fa" ng-class="{'fa-check':objetivo.edi,'fa-pencil':!objetivo.edi}" ></i></button>
            </div>                      
            
        </form>        
      </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="objetivo.edi" ng-click="actualizarAvance(objetivo)">Agregar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!--modal modificar avance objetivos 2-->
<div class="modal fade" id="modalAvanceObjetivo2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">AVANCE {{titulo[0]}}</h4>
      </div>
      <div class="modal-body">
        <form name="avanceObjForm" ng-submit="registrarAvance()" novalidate>
            Documento:
            <h4>{{documento.itenom}}</h4>
            {{titulo[0]}}:
            <h4>{{objetivo.objdes}}</h4>            
            Avance(%):
            <div><uib-progressbar class="progress-striped" value="objetivo.objava" type="warning">{{objetivo.objava}}%</uib-progressbar></div>
            <!-- input para el avance del objetivo -->
            <div>
                <label>Avance</label> 
                <span ng-hide="objetivo.edi" >{{objetivo.odeava}}</span>
                <span ng-show="objetivo.edi" >
                    <input style="width: 50px;" name="name" type="number" ng-model="objetivo.copia.odeava" min="0" max="100" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>                    
                </span>
                <button class="btn btn-primary btn-xs" ng-click="editarAvance2(objetivo)"><i class="fa" ng-class="{'fa-check':objetivo.edi,'fa-pencil':!objetivo.edi}" ></i></button>
            </div>                      
            
        </form>        
      </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="objetivo.edi" ng-click="actualizarAvance2(objetivo)">Agregar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- Modal para fichas-->
<div class="modal fade" id="modalFichas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Fichas de Evaluacion</h4>
      </div>
      <div class="modal-body">
        <div class="row">                                         
            <div class="col-sm-6">              
                Documento:
                <h4>{{documento.itenom}}</h4>
            </div>            
        </div>

        <div class="panel-body">            
            <div class="tabla-responsiva">
                <table ng-table="tablaFichas" class="table table-striped table-hover" show-filter="true" demo-tracked-table="tableTracker">
                <tr ng-repeat="f in $data">
                    
                    <td data-title="'Plantilla'" filter="{ planom: 'text'}" sortable="'planom'" style="width: 60%; min-width: 150px;">    
                        <span>{{f.planom}}</span>                        
                    </td>
                    <td data-title="'Fecha'" filter="{ ficfec: 'text'}" sortable="'ficfec'" style="width: 20%; min-width: 100px;">    
                        <span>{{f.ficfec}}</span>                        
                    </td>
                    <td data-title="'Puntage'" filter="{ fictot: 'number'}" sortable="'fictot'" style="width: 20%; min-width: 50px;">
                        <span>{{f.fictot}}</span>
                    </td>
                    <td data-title="'Acción'" style="width: 5%; text-align: center; min-width: 100px;">                                               
                        <button class="btn btn-primary btn-xs" uib-tooltip="Visualizar ficha"  ng-click="visualizarFicha(f, f.plaid)" ><i class="fa fa-eye" ></i></button>                        
                    </td>                    
                </tr>
                </table>                
                
            </div>
            
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="guardarObjetivos()"> Guardar </button>                
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancelar()"> Cancelar </button>                        
      </div>
    </div>
  </div>
</div>