<!--Vista para crear una nueva plantilla-->
<div class="row" >
    <div class="col-lg-12">
        <section class="panel" ng-hide="main">
            <header class="panel-heading">
                <h3>PLANTILLA DE FICHA DE MONITOREO DE SESION DE APRENDIZAJE</h3>                      
            </header>
            <form name="plantillaForm" novalidate>
                <div class="panel panel-primary">        
                    <div class="panel-heading">Datos de la Plantilla</div>
                    <div class="panel-body">
                        <div class="form-group" ng-class="{ 'has-error' : plantillaForm.nompla.$invalid && !plantillaForm.nompla.$pristine }">
                            <label>Nombre</label>
                            <input class="form-control" name="nomPla" type="text" ng-model="nuevaPlantilla.plfNom" required>
                            <p ng-show="plantillaForm.nompla.$invalid && !plantillaForm.nompla.$pristine" class="help-block">Este campo es requerido.</p>
                        </div> 
                        
                        <div class="form-group" ng-class="{ 'has-error' : plantillaForm.nompla.$invalid && !plantillaForm.nompla.$pristine }">
                            <label> Descripcion </label>
                            <input class="form-control" name="desPla" type="text" ng-model="nuevaPlantilla.plfDes" required>
                            <p ng-show="plantillaForm.nompla.$invalid && !plantillaForm.nompla.$pristine" class="help-block">Este campo es requerido.</p>
                        </div>

                        
                    </div>        
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Configuracion de la Plantilla</div>
                    <div class="panel-body">
                        <uib-accordion close-others="false">
                            <div ng-repeat="compromiso in compromisos">
                                <div uib-accordion-group class="panel-success" is-open="true">
                                    <uib-accordion-heading> 
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <span ng-hide="compromiso.edi" >{{compromiso.cgeDes}}</span>
                                                <span ng-show="compromiso.edi" style="display:block"><textarea class="form-control" rows="1" style="display:block" ng-model="compromiso.copia.cgeDes"></textarea></span>
                                            </div>
                                            
                                            <div class="col-sm-1" style="text-align: center">
                                                <button class="pull-right btn btn-danger btn-xs" ng-click="eliminarGrupo($index);$event.stopPropagation();$event.preventDefault();"><i class="fa fa-trash-o"></i></button>
                                                <button class="pull-right btn btn-primary btn-xs" ng-click="editarGrupo(grupo);$event.stopPropagation();$event.preventDefault();"><i class="fa" ng-class="{'fa-check':compromiso.edi,'fa-pencil':!compromiso.edi}"></i></button>

                                            </div>                            
                                        </div>                        
                                    </uib-accordion-heading>                
                                    <div ng-repeat="indicador in compromiso.indicadores">
                                        <div uib-accordion-group class="panel-info">
                                            <uib-accordion-heading>
                                                <span ng-hide="indicador.edi" >{{indicador.iteDes}}</span>
                                                <span ng-show="indicador.edi" ><input ng-model="indicador.copia.iteDes"/></span>    
                                                <button class="pull-right btn btn-danger btn-xs" ng-click="eliminarIndicador($index, compromiso);$event.stopPropagation();$event.preventDefault();"><i class="fa fa-trash-o"></i></button>
                                                <button class="pull-right btn btn-primary btn-xs" ng-click="editarIndicador(compromiso, indicador);$event.stopPropagation();$event.preventDefault();"><i class="fa" ng-class="{'fa-check':indicador.edi,'fa-pencil':!indicador.edi}"></i></button>
                                            </uib-accordion-heading>                          
                                        </div>                    
                                    </div>
                                    <div class="row" style="margin: 10px 20px 10px 20px">
                                        <div class="col-sm-11">
                                            <textarea class="form-control" rows="1" ng-model="compromiso.nuevoIndicador.iteDes" name="" placeholder="Nombre del Indicador"></textarea>                            
                                        </div>                       

                                        <div class="col-sm-1" style="text-align: center">
                                            <button class="btn btn-success btn-sm" ng-click="agregarIndicador(compromiso)"><i class="glyphicon glyphicon-plus" ></i> Indicador </button>
                                        </div>                        
                                    </div>
                                    <div id="choicesDisplay">                        
                                    </div>
                                </div>
                            </div>            
                            <div class="row" style="margin: 10px 10px 10px 10px">
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="1" ng-model="nuevoCompromiso.cgeDes" name="" placeholder="Nombre del Compromiso"></textarea>
                                </div>
                                <div class="col-sm-1" style="text-align: center">
                                    <button class="btn btn-success btn-sm" ng-click="agregarCompromiso()"><i class="glyphicon glyphicon-plus" ></i> Compromiso </button>                
                                </div>                    
                            </div>            
                        </uib-accordion>
                        <div ng-show="advertenciaCompromiso"><h6 style="color: lightcoral;">Ingrese al menos un compromiso</h6></div>
                    </div></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" ng-click="crearPlantilla(true, true)"><i class="glyphicon glyphicon-arrow-left" ></i></button>
                    <button type="button" class="btn btn-success" ng-disabled="verificarPlantilla(formPlantilla.$invalid)" ng-click="reportePlantilla(true)"><i class="glyphicon glyphicon-print" ></i></button>
                    <button type="button" class="btn btn-primary" ng-disabled="verificarPlantilla(formPlantilla.$invalid)" ng-click="guardarPlantilla()"><i class="glyphicon glyphicon-floppy-disk" ></i></button>
                </div>
            </form>

        </section>
    </div>
</div> 