<div ng-app="app" ng-controller="listarPapeleraCtrl">
    <div class="row"><div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    LISTA DE DOCUMENTOS EN PAPELERA
                    <span class="tools pull-right">
                        <button class="btn btn btn-primary " ng-click="listarPapelera()"><i class="fa fa-rotate-right"></i> Listar</button>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table table-striped table-advance table-hover" ng-init="listarPapelera();">
                        <thead>
                            <tr>
                                <th> Codigo</th>
                                <th> Alias </th>
                                <th> Nombre del tipo de Documento</th>
                                <th> Fecha de Creacion</th>
                                <th> Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="doc in documentos">
                                <td><a href>{{doc.iteIde}}</a></td>
                                <td>{{doc.iteAltIde}}</td>
                                <td >{{doc.iteNom}}</td>
                                <td>{{doc.iteFecCre}}</td>
                                <td>{{doc.estReg}}</td>
                                <td>
                                    <button class="btn btn-primary btn-xs" ng-click="restaurarDoc($index, doc)"><i class="fa fa-pencil" ></i></button>
                                    <button class="btn btn-danger btn-xs" ng-click="suprimirDoc($index, doc.iteIde)"><i class="fa fa-trash-o " ></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div align="right">            
                        <button class="btn btn-danger" ng-click="suprimirAllDocs()"><i class="fa fa-times" ></i> VaciarPapelera</button>
                    </div>
                </div>
            </section>
        </div></div>
</div>
