<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<style>
    
    .leyend-first-letter {
        color: #337ab7;
        font-size: 20px;
        margin-left: 15px;
    }
    
</style>

<!-- ROW -->
<div class="row" ng-init="mostrarAmbientes()">
    
    <!-- COL-MD-12 -->
    <div class="col-md-12">
        
        <!-- SECTION PANEL -->
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Ambientes</h4>
            </header>
            <div class="panel-body">   
                
                <div class="col-md-12 m-bot15" style="text-align: right;">

                    <button class="btn btn-success" ng-click="mostrarModalAgregarAmbiente()"><i class="fa fa-plus"> Agregar Ambiente</i></button>

                </div>
                
                <div class="tabla-responsiva">
                    
                    <table ng-table="tabla_ambientes" class="table table-striped table-hover" show-filter="true" >

                        <colgroup>
                            <col width="20px" />
                            <col width="250px" />
                            <col width="100px" />
                            <col width="20px" />
                            <col width="20px" />
                            <col width="20px" />
                            <col width="20px" />
                            
                        </colgroup>

                        <tr ng-repeat="o in $data">
                            
                            <td data-title="'Nro.'" filter="{ cod: 'text'}" sortable="'cod'" style="text-align: center">{{o.i}}</td>
                            <td data-title="'Descripcion'" style="text-align: center">{{o.amb_des}}</td>
                            <td data-title="'Ubicación'" sortable="'amb_ubi'" style="text-align: center">{{o.amb_ubi}}</td>
                            <td data-title="'Area'" sortable="'amb_area'" style="text-align: center">{{o.amb_area}}</td>                            
                            <td data-title="'Estado'" filter="{ amb_est : 'text'}" sortable="'amb_est'" style="text-align: center">{{o.amb_est}}</td>
                            <td data-title="'F. Const.'" sortable="'amb_fec_cons'" style="text-align: center">{{o.amb_fec_cons}}</td>
                            
                            <td data-title="'Acciones'" style="text-align: center;">
                                <button class="btn btn-primary btn-xs" ng-click="cargarEditarAmbiente(o)"><i class="fa fa-pencil" ></i></button>
                                <button class="btn btn-danger btn-xs"  ng-click="eliminarAmbiente(o)"><i class="fa fa-trash-o"></i></button>  
                            </td>
                            
                        </tr>  

                    </table>
                </div>
                <!-- END TABLE RESPONSIVE -->
                
                
                <div class="col-md-12 m-bot15" >

                    <label><strong>Legenda:</strong></label> 
                    <label><span class="leyend-first-letter">B</span>ueno</label>
                    <label><span class="leyend-first-letter">R</span>egular</label>
                    <label><span class="leyend-first-letter">M</span>alo</label>
                    <label><span class="leyend-first-letter">M</span>uy <span class="leyend-first-letter" style="margin-left: 0px;">M</span>alo</label>
                    
                </div>
                
            </div>
           
        </section>
        <!-- END SECTION PANEL -->
        
    </div>
    <!-- END COL-MD-12 -->
    
</div>
<!-- END ROW -->

<!-- NUEVO AMBIENTE -->

<div class="modal fade" id="modalNuevoAmbiente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ambiente de la IE</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Descripción</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="ambiente.descripcion">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ubicación</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="ambiente.ubicacion">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        
                        <label class="col-sm-3 control-label">Estado</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-options="co.cond_nom for co in condicion" ng-model="lista.condicion"></select>
                        </div>
                        
                        <label class="col-sm-1 control-label">Area</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" ng-model="ambiente.area">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Institución que construyo</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="ambiente.inst_cons">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fecha de construcción</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" ng-model="ambiente.fec_cons_dt">
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="modal-footer">
                
                <button ng-if="!flagEditarAmbiente" class="btn btn-success" type="button" ng-click="registrarAmbientes(usuMaster.usuario.ID,usuMaster.organizacion.organizacionID)"><i class="fa fa-save"></i> Crear Ambiente</button>
                <button ng-if="flagEditarAmbiente" class="btn btn-primary" type="button" ng-click="editarAmbiente(usuMaster.usuario.ID,usuMaster.organizacion.organizacionID)"><i class="fa fa-save"></i> Actualizar Ambiente</button>
                <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-times"></i> Cancelar</button>
                
            </div>
        </div>
    </div>
</div>

<!-- END NUEVO AMBIENTE -->