
<style>
    .form-group {
        margin: 2px 20px;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        
        <section class="panel">
            
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">REPORTE DE BIENES MUEBLES</h4>

            </header>
            
            <div class="panel-body" ng-init="listar_anexos()">
                
                <div class="row">

                    <div class="col-lg-12">

                        <div class="">
                            <form name="reporteBienesForm" class="form-inline css-form" role="form" novalidate>
                                
                                <div class="form-group">
                                    <label>Desde: </label>
                                    <md-datepicker ng-model="reporte.fec_ini_md" md-placeholder="Inicio" md-max-date="maxDateInicio" ng-change="seleccion_fecha_inicial()"></md-datepicker>
                                </div>
                                
                                <div class="form-group">
                                    <label>Hasta</label>
                                    <md-datepicker ng-model="reporte.fec_cie_md" md-placeholder="Fin" md-min-date="minDateCierre" ng-change="seleccion_fecha_cierre()"></md-datepicker>
                                </div>
                                
                                <div class="form-group">
                                    <label>Tipo de anexo</label>
                                    <select name="tipAnexo" class="form-control" ng-model="reporte.tip_ane" required>
                                        <option ng-repeat="a in anexos" value="{{a.ane_id}}">{{a.ane_nom}}</option>
                                    </select>
                                    
                                    <p ng-show="reporteBienesForm.tipAnexo.$pristine" class="help-block">Este campo es requerido.</p>
                                </div>
                                                                
                                <button class="btn btn-primary" ng-click="generarReporte(usuMaster.organizacion.organizacionID)"><i class="fa fa-file" >  Generar Reporte </i></button>
                            
                            </form>
                        </div>
                    </div>
                </div>
               
            </div>

        </section> 
    </div>
</div>
