<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading" style="overflow: inherit ">
                <!--<div class=" form-group col-lg-12">-->
                    
                <h4 style="display:inline;line-height: 1.9">REGISTRO MENSUAL</h4>
                
<!--                <div class="col-lg-2 pull-right"> 
                    <div class=" btn-group " >


                        <a data-toggle="dropdown" class="fa  fa-gears  " ></a>

                        <ul role="menu" class="dropdown-menu " >
                            <li><a ng-click="reporte()"><i class="fa fa-print"> </i> Horas Efectivas Por Dia</a></li>
                            <li><a ng-click="reporteIngresos()"><i class="fa fa-print"> </i> Horas Efectivas Por Area</a></li>                        
                            <li><a ng-click="reporteEgresos()"><i class="fa fa-print"> </i> Reporte Egresos</a></li>
                            <li><a ng-click="reporteBalanceGeneral()"><i class="fa fa-print"> </i> Reporte Balance General</a></li>

                        </ul>     
                        REPORTES I.E.
                    </div>
                </div>-->
                                    
            </header>

            <!--            <div class="panel-heading">
                            <button class="btn btn-warning col-sm-push-6" type="button"  title="Agregar Horario" ng-click="showNuevaHorario()"><i class="fa fa-plus"></i> Agregar Horario </button>
                            <span class="tools pull-right">
                            
                                <button class="btn btn-warning col-sm-push-6" type="button"  title="Configurar Calendario" ng-click="showConfigurarCalendario()"><i class="fa fa-rotate-right"></i> Configurar Calendario </button>
                </span>
            </div>-->
            
<!--            <br>-->
            
            <div class="tabla-responsiva" ng-init="listarRegistrosMensuales()">
                <table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
                    <colgroup>
                        <col width="10%" />
                        <col width="10%" />
                        <col width="30%" />
                        <col width="10%" />
                        <col width="10%" />
<!--                        <col width="10%" />-->
         
                    </colgroup>
                    <tr ng-repeat="o in $data">
                        
                        <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                        <td data-title="'Anho'" filter="{ anho: 'text'}" sortable="'anho'" 
                            style="text-align: center">{{o.anho}}
                        </td>
                        <td data-title="'Mes'" filter="{ mes: 'text'}" sortable="'mes'" 
                            style="text-align: center">{{o.mes}}
                        </td>
                        <td data-title="'Consolidado Asistencia'" style="text-align: center">
                            <button class="btn btn-primary btn-xs"  ng-click="verConsolidado(o)"  title="Ver Consolidado de Horas">
                                <i class="fa fa-file" ></i>
                            </button>
                        </td>
                        <td data-title="'Cuadro Asistencia'" style="text-align: center">
                            <button class="btn btn-primary btn-xs"  ng-click="verCuadroAsistencia(o)"  title="Ver Cuadro Asistencia">
                                <i class="fa fa-file" ></i>
                            </button>
                        </td>
                       
                    </tr>
                </table>
            </div>

        </section>

    </div>

</div>

