<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <uib-tabset active="active" >
                
                <uib-tab index="1" select="">  
                    <uib-tab-heading >
                        Individual
                    </uib-tab-heading>

                    <div class="row" >
                        <div class="col-lg-12">
                            <section class="panel">
                                <!--<header class="panel-heading" style="overflow: inherit">
                                  
                                   </header> -->
                                <div class="panel-body" ng-init="iniciarDatos()">
                                    <form class="form-horizontal " method="get">

                                       
                                        <!--                                        <div class="form-group "> 
                                                                                    <label class="col-lg-4"><strong>Consulta Trabajador:</strong> </label>                            
                                                                                </div> -->
                                        <header class="panel-heading">
                                            <a>Consulta Trabajador:</a>
                                        </header>
                                        <div class="form-group col-lg-12">  

                                            <div class="form-group col-lg-3">                             

                                                <label class="control-label">DNI</label>

                                                <div class="input-group col-lg-12">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" ><i class="fa fa-search"> </i></button>
                                                    </span>
                                                    <input type="text"  class="form-control" style="text-align: center;" ng-keydown="verificarDni($event)" ng-keyup="reiniciarDatos($event)" ng-model="trabajador.dni" >
                                                </div>


                                            </div> 
                                            <div class="form-group col-lg-1"></div>

                                            <div class="form-group col-lg-3" >                             

                                                <label class="control-label">Organizacion</label>   

                                                <select  class="form-control" ng-model="trabajador.organizacion" ng-options="tip.id as tip.nom for tip in organizacionesTrab">
                                                    <option value="">Seleccione:</option>
                                                </select>
                                            </div> 
                                            <div class="form-group col-lg-1"></div>
                                            <div class="form-group col-lg-4">
                                                 <label class="control-label">Apellidos y Nombres</label>   
                                                 <input type="text"  class="form-control"  ng-model="trabajador.datos" disabled="true" >
                                            </div>
<!--                                            <div class="form-group col-lg-3" ng-if="tipoOrganizacion===4">                             

                                                <label class="control-label">Organizacion</label>   

                                                <label  class="form-control" ng-model="organizacion.nom" disabled="true">
                                                </label>
                                            </div> -->

                                        </div> 
                                        <div class="form-group col-lg-12">

                                            <div class="form-group col-lg-3">                             

                                                <label class="control-label">Desde</label> 
                                                <div class="input-group col-lg-12">    
                                                    <input type="date" class="form-control" ng-model="intervalo.desde" ng-disabled="!(!!(trabajador.organizacion))" ng-change="listarDatos()">
                                                   
                                                </div>    

                                            </div> 

                                            <div class="form-group col-lg-1"></div>
                                            <div class="form-group col-lg-3">                             

                                                <label class="control-label">Hasta</label> 
                                                <div class="input-group col-lg-12">    
                                                    <input type="date" class="form-control" ng-model="intervalo.hasta" ng-disabled="!(!!(trabajador.organizacion))" ng-change="listarDatos()">
                                                    
                                                </div>    

                                            </div> 
                                        </div>

                                        <div class="form-group "><label></label></div> 
                                        <br>
                                        <div class="form-group col-lg-12">

                                            <br>
                                            <header class="panel-heading">
                                                <a>Asistencias:</a>

                                            </header>

                                        </div>
                                        <div class="form-group col-lg-12">
                                            <div class="form-group col-lg-8">
                                                <div class="tabla-responsiva">
                                                    <table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
                                                        <colgroup>
                                                            <col width="3%" />
                                                            <col width="10%" />
                                                            <col width="10%" />
                                                            <col width="10%" />
                                                            <col width="10%" />
                                                            <col width="10%" />
                                                            <col width="10%" />
                                                            <col width="10%" />





                                                        </colgroup>
                                                        <tr ng-repeat="o in $data" ng-dblclick="setClickedRowPersonalizado(o)">

                                                            <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                                                            <td data-title="'Fecha'" filter="{ fecha: 'text'}" sortable="'fecha'"  style="text-align: center">
                                                                {{o.fecha}}
                                                            </td>
                                                            <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'"  style="text-align: center">
                                                                {{o.cargo}}
                                                            </td>
                                                            <td data-title="'Condicion'" filter="{ condicion: 'text'}" sortable="'condicion'"  style="text-align: center">
                                                                {{o.condicion}}
                                                            </td>
                                                            <td data-title="'J. Laboral'" filter="{ jornada: 'text'}" sortable="'jornada'" style="text-align: center">
                                                                {{o.jornada}}
                                                            </td>
                                                            <td data-title="'Estado'" filter="{ estado: 'text'}" sortable="'estado'" style="text-align: center">
                                                                {{o.estado}}
                                                            </td>
                                                            <td data-title="'Observaciones'" filter="{ obs: 'text'}" sortable="'obs'" style="text-align: center">
                                                                {{o.obs}}
                                                            </td>
  
                                                        </tr>
                                                    </table>

                                                </div>    
                                            </div>

                                            <div class="form-group col-lg-1"></div>
                                            <div class="form-group col-lg-3 ">
                                                <br>
                                                <div class="form-group "> 
                                                    <label class="col-lg-12 "><strong>Seleccione Reporte:</strong> </label>                            
                                                </div> 
                                           
                                                <div class="input-group form-group col-lg-12">

                                                    <select class="form-control" ng-model="tipoReporte.id" ng-options="tip.id as tip.des for tip in listaTipos">
                                                        <option value="">Seleccione:</option>
                                                    </select>
                                                    
                                                </div>
                                                
                                                <br>
                                                <div class="form-group  col-lg-12">  
                                                    
                                                    <div class="form-group col-lg-12">
                                                        <button class="btn btn-primary" ng-click="generarReporte()"> <i class="fa fa-file"></i> Ver Reporte</button>
                                                    </div>
                                                    
                                                </div> 

                                            </div>
                                        </div>

                                        <div class="form-group "><label></label></div> 
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab index="2" select="">  
                    <uib-tab-heading >
                        Horas Efectivas
                    </uib-tab-heading>

                    <div class="row" >
                        <div class="col-lg-12">
                            <section class="panel">
                                <!--<header class="panel-heading" style="overflow: inherit">
                                  
                                   </header> -->
                                <div class="panel-body" ng-init="listarDirecciones()">
                                    <form class="form-horizontal " method="get">
                                        <header class="panel-heading">
                                            <a>Consulta IE:</a>
                                        </header>
                                        <div class="form-group col-lg-12">  

                                            <div class="form-group col-lg-3" >                             

                                                <label class="control-label">Direccion Regional</label>   

                                                <select  class="form-control" ng-model="sel.direccion" ng-options="tip.id as tip.nom for tip in direcciones">
                                                    <option value="">Seleccione:</option>
                                                </select>
                                            </div> 
                                            <div class="form-group col-lg-1"></div>
                                            <div class="form-group col-lg-3" >                             

                                                <label class="control-label">UGEL</label>   

                                                <select  class="form-control" ng-model="sel.ugel" ng-options="tip.id as tip.nom for tip in ugeles">
                                                    <option value="">Seleccione:</option>
                                                </select>
                                            </div> 
                                            <div class="form-group col-lg-1"></div>
                                            <div class="form-group col-lg-3" >                             

                                                <label class="control-label">Institucion Educativa</label>   

                                                <select  class="form-control" ng-model="sel.organizacion" ng-options="tip.id as tip.nom for tip in organizaciones" ng-change="listarNiveles()">
                                                    <option value="">Seleccione:</option>
                                                </select>
                                            </div> 
                                            

                                        </div> 
                                        <div class="form-group col-lg-12" >
                                            <div class="form-group col-lg-3" >                             

                                                <label class="control-label">Reporte</label>   

                                                <select  class="form-control" ng-model="sel.reporte" ng-options="tip.id as tip.nom for tip in reportesHE">
                                                    <option value="">Seleccione:</option>
                                                </select>
                                            </div> 
                                            <div class="form-group col-lg-1"></div>
                                            <div class="form-group col-lg-3" ng-if="sel.reporte===1">
                                                <div class="form-group col-lg-12">                             

                                                    <label class="control-label">Dia</label> 
                                                    <div class="input-group col-lg-12">    
                                                        <input type="date" class="form-control" ng-model="sel.dia">

                                                    </div>    

                                                </div> 
                                            </div>
                                            <div class="form-group col-lg-3" ng-if="sel.reporte===2">
                                                <div class="form-group col-lg-12">                             

                                                    <label class="control-label">Mes</label> 
                                                    <select  class="form-control" ng-model="sel.mes" ng-options="tip.id as tip.nom for tip in meses">
                                                        <option value="">Seleccione:</option>
                                                    </select>  

                                                </div> 
                                            </div>
                                            
                                            <div class="form-group col-lg-3">
                                                <div class="form-group col-lg-12">                             

                                                    <label class="control-label">Nivel</label> 
                                                    <select  class="form-control" ng-model="sel.nivel" ng-options="tip.id as tip.nom for tip in niveles">
                                                        <option value="">Seleccione:</option>
                                                    </select>  

                                                </div> 
                                            </div>
                                            <div class="form-group col-lg-1"></div>
                                            <div class="form-group col-lg-3">
                                                <div class="form-group col-lg-3">                             

                                                    <label class="control-label">         </label> 
                                                    <div class="input-group col-lg-12">    
                                                        <button class="btn btn-primary" ng-click="reporteHE()"> <i class="fa fa-file"></i> Generar Reporte</button>

                                                    </div>    

                                                </div> 
                                            </div>
                                        </div>

                                        <div class="form-group "><label></label></div> 
                                        <br>

                                        <div class="form-group "><label></label></div> 
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>

                </uib-tab>

            </uib-tabset> 

        </section>
    </div>
</div>

<!--***************************************************************************************************************--
Reportes 
<!--***************************************************************************************************************-->
<div class="modal fade" id="modalReporteBarras" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{reporte.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <!--<div class="panel-heading"><h3>Cantidad de Documentos de Gestión</h3></div>-->
                    <div class="panel-body">
                        <!--<canvas id="reporteRDG" class="chart chart-pie" chart-data="data2" chart-labels="labels2" chart-options="option2" 
                                chart-dataset-override="datasetOverride2"></canvas>-->
                        <canvas id="reportebarras" class="chart chart-bar" chart-data="data2" chart-labels="labels2" chart-series="series" chart-options="options" ></canvas>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="imprimir('reportebarras')"><i class="fa fa-print"></i> Imprimir</button>                            
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReporteCircular" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{reporte.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <!--<div class="panel-heading"><h3>Cantidad de Documentos de Gestión</h3></div>-->
                    <div class="panel-body">
                        <!--<canvas id="reporteRDG" class="chart chart-pie" chart-data="data2" chart-labels="labels2" chart-options="option2" 
                                chart-dataset-override="datasetOverride2"></canvas>-->
                        <canvas id="reportecir" class="chart chart-pie" chart-data="data2" chart-labels="labels2" chart-options="options"></canvas>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="imprimir('reportecir')"><i class="fa fa-print"></i> Imprimir</button>                            
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalReporteLineal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{reporte.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <!--<div class="panel-heading"><h3>Cantidad de Documentos de Gestión</h3></div>-->
                    <div class="panel-body">
                        <!--<canvas id="reporteRDG" class="chart chart-pie" chart-data="data2" chart-labels="labels2" chart-options="option2" 
                                chart-dataset-override="datasetOverride2"></canvas>-->
                        <canvas id="reportelin" class="chart chart-line" chart-data="data2"
                                chart-labels="labels2" chart-series="series" chart-options="options2"
                                chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="imprimir('reportelin')"><i class="fa fa-print"></i> Imprimir</button>                            
            </div>
        </div>
        </div>
    </div>



