<div class="modal fade">
    <div class="modal-dialog " style="width:45%">
        <div class="modal-content">
            <div class="modal-header">
                   <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body" >
                <div class="form-panel">
                    <form class="form-horizontal " method="get">                          
                       <div class="form-group "> 
                           <div class="col-lg-8">
                                <label class="control-label  "> N° Recibo </label>                                                                                                                             
                                <input type="text" class="form-control" ng-model="asientoR.numeroD">
                           </div>
                           <div class="col-lg-4" >
                               
                               <br></br>
                                    <input-file ng-hide="asientoR.doc.edi"  nombre archivo="asientoR.doc.archivo" ></input-file>
                                    <view-file  ng-show="asientoR.doc.edi"  nombre="asientoR.doc.archivo.name"  archivo="asientoR.doc.archivo" > </view-file>

                               
                           </div>
                       </div>
                        <div class="form-group ">   
                            <div class="col-lg-12">
                                <label class="control-label  "> Descripcion: </label>
                                <div class="input-group ">
                                    <span class="input-group-btn">
                                        <button  class="btn btn-primary" ng-click="showBuscarOperacion(1)"> <i class="fa fa-search"> </i></button>
                                    </span>
                                    <input type="text" class="form-control" ng-model="asientoR.glosa">
                                </div>
                            </div>    
                        </div> 
                        <div class="form-group">
                            <div class="col-lg-12">

                                <label class="control-label"> Cuenta Pagada desde: </label>

                                <select class="form-control" ng-model="asientoR.haber" ng-options="c as c.nombre for c in cuentasEfectivo">
                                </select>

                            </div>
                        </div>
                       <div class="form-group">
                           <div class="col-lg-8"> 
                                <label class="control-label  "> Recibido de : </label>
                 
                                   <input type="text" class="form-control"  value= "{{usuMaster.usuario.nombre}}" disabled>
                                
                            </div>
                           
                       </div>
                       <div class="form-group ">   
                                <div class="col-lg-12">
                                    <label class="control-label  "> Entregado a:  </label>
                                </div>

                                <div class="col-lg-4">
                                    <div class="input-group ">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" ng-click="buscarPersona()"> <i class="glyphicon glyphicon-user"></i></button>
                                        </span>
                                        <input type="text" class="form-control " data-mask="99999999" ng-model="asientoR.persona.dni" >

                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control " value="{{asientoR.persona.nombre}} {{asientoR.persona.paterno}} {{asientoR.persona.materno}}" disabled>
                                </div>


                        </div>  
                        <div class="form-group">
                           <div class="col-lg-4">
                                <label class="control-label "> Fecha Entrega : </label>
                                <div class="input-group date form_datetime-component">                                                        
                                    <input type="text" class="form-control " uib-datepicker-popup="dd/MM/yyyy" ng-model="asientoR.fecha" is-open="popup1.opened" datepicker-options="dateOptions"  close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary date-set"  ng-click="open1()" ><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <label class="control-label  "> Monto S/ </label>                                                                                                                             
                                <input type="number" step="0.01" class="form-control" ng-model="asientoR.importe">
                            </div>
                        </div>
                        <div class="form-group">
                           <div class="col-lg-4">
                                <label class="control-label  "> Plazo de Pago (Dias) :</label>                                                                                                                             
                                <input type="number" step="1" class="form-control" ng-model="asientoR.persona.plazo">

                            </div>
                         </div>
                        <br></br> 
                        <div align="right">            
                            <button class="btn btn btn-primary" ng-click="imprimirReciboAuxiliar()"><i class="fa fa-print" ></i> Imprimir</button>
                         </div>
                       
                        
                       
                        
                                                              
                    </form>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning" ng-click="agregarTransaccionRB()">Registrar Operación</button>
             </div>
        </div>
    </div>
</div>   