<style>
    .checkbox{
        min-height: 27px;
        height: 27px;
    }
</style>

<div class="row">
    
    <div class="col-sm-12" ng-init="loadDpto(); mostrarAmbientes(); revisarLocalStorage();">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Datos del Inmueble</h4>
            </header>
            <div class="panel-body">                
                
                <div class="row m-bot15">
                    
                    
                    <div class="col-md-12 m-bot15" style="text-align: right;">

                        <!--<button class="btn btn btn-warning" ng-click="openModalNuevoAmbiente()"><i class="fa fa-plus"> Agregar Ambientes</i></button>-->

                    </div>
                    
                    
                    <div class="col-md-12">
                        
                        <div class="form-group form-horizontal">
                            
                            <label class="col-md-1 control-label">Dirección*</label>
                            <div class="col-md-2">
                                <select class="form-control" ng-options="dir.nombre for  dir in direccion" ng-model="lista.direccion"></select>   
                            </div>
                            
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Direccion" ng-model="bien_inmueble.direccion" >
                            </div>
                            
                            <label class="col-md-1 control-label">N° *</label>
                            <div class="col-md-1">
                                <input type="text" class="form-control" ng-model="bien_inmueble.nro">
                            </div>
                            
                            <label class="col-md-1 control-label">Mz. </label>
                            <div class="col-md-1">
                                <input type="text" class="form-control" ng-model="bien_inmueble.mz">
                            </div>
                            
                            <label class="col-md-1 control-label">Lte.</label>
                            <div class="col-md-1">
                                <input type="text" class="form-control" ng-model="bien_inmueble.lt">
                            </div>
                        </div>
                        
                    </div>                   
                    
                </div>
                
                <div class="row m-bot15">
                    
                    <div class="col-md-12">
                        
                        <div class="form-group form-horizontal">
                            
                            <label class="col-md-1 control-label">Departamento</label>
                            <div class="col-md-3">
                                <select class="form-control" ng-model= "datosUbigeo.dpto" ng-change="loadProv()">
                                    <option ng-repeat="dpto in datosUbigeo.departamentos" value="{{dpto.codigo_ubigeo}}" >{{dpto.nombre_ubigeo}}</option>
                                </select>
                            </div>
                           
                            <label class="col-md-1 control-label">Provincia</label>
                            <div class="col-md-3">
                                <select class="form-control" ng-model= "datosUbigeo.prov" ng-change="loadDist()">
                                    <option ng-repeat="prov in datosUbigeo.provincias" value="{{prov.codigo_ubigeo}}">{{prov.nombre_ubigeo}}</option>
                                </select>
                            </div>
                            
                            <label class="col-md-1 control-label">Distrito</label>
                            <div class="col-md-3">
                                <select class="form-control" ng-model= "datosUbigeo.dist">
                                    <option ng-repeat="dist in datosUbigeo.distritos" value="{{dist.codigo_ubigeo}}">{{dist.nombre_ubigeo}}</option>
                                </select>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <div class="form-group form-horizontal">
                        
                            <label class="col-sm-2">Descripción:</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" ng-model="bien_inmueble.descripcion">
                                    
                                </textarea>
                            </div>
                        
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </section>
    </div>
    
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Detalle Técnico</h4>
            </header>
            <div class="panel-body">                
                
                <div class="row">
                    
                    <div class="col-md-8">                                                
                        
                        <div class="row m-bot15">
                    
                            <div class="col-md-12">

                                <div class="form-group form-horizontal">

                                    <label class="col-md-2">Propiedad *</label>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-options="pr.nombre for pr in propiedad" ng-model="lista.propiedad"></select>
                                    </div>

                                    <label class="col-md-2">Tipo Terreno *</label>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-options="pr.nombre for pr in tipo_terreno" ng-model="lista.tipo_terreno"></select>
                                    </div>

                                </div>

                            </div>                   

                        </div>
                        
                        <div class="row m-bot15">
                    
                            <div class="col-md-6">

                                <div class="form-group form-horizontal">

                                    <label class="col-md-5 control-label">Esta saneado </label>
                                    <div class="col-md-2">
                                        <input type="checkbox" class="form-control" ng-model="bien_inmueble.est_sanea" ng-value="true">
                                    </div>                                    

                                </div>

                            </div> 
                            
                            <div class="col-md-6">

                                <div class="form-group form-horizontal">

                                    <label class="col-md-2">Area *</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" ng-model="bien_inmueble.area">
                                    </div>

                                    <label class="col-md-2">UM *</label>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-options="um.nombre for um in unidades_metricas" ng-model="lista.um"></select>
                                    </div>

                                </div>

                            </div> 

                        </div>
                        
                        <div class="row m-bot15">
                    
                            <div class="col-md-12">

                                <div class="form-group form-horizontal">

                                    <!--<label class="col-md-3">N° de título</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" placeholder="1000">
                                    </div>-->

                                    <label class="col-md-3">Partida Electrónica *</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" ng-model="bien_inmueble.part_elec">
                                    </div>

                                </div>

                            </div>                   

                        </div>                       
                        
                        <div class="row m-bot15">
                    
                            <div class="col-md-12">

                                <div class="form-group form-horizontal">

                                    <label class="col-md-3">Registro SINABIP</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" ng-model="bien_inmueble.reg_sinabip">
                                    </div>

                                    <label class="col-md-3">N° Ficha Registral *</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" ng-model="bien_inmueble.nro_fic_reg">
                                    </div>

                                </div>

                            </div>                   

                        </div>
                        
                    </div>     
                    
                    <div class="col-md-4">                                                
                        
                        <div class="tabla-responsiva">
                            <table ng-table="tabla_ambientes" class="table table-striped table-hover" show-filter="true" >
                                
                                <colgroup>
                                    <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                                </colgroup>
                                
                                <tr ng-repeat="o in $data">
                                    <td data-title="'Nro.'" filter="{ cod: 'text'}" sortable="'cod'" style="text-align: center">{{o.i}}</td>
                                    <td data-title="'Descripcion'" filter="{ amb_des : 'text'}" sortable="'amb_des'" style="text-align: center">{{o.amb_des}}</td>
                                    <td data-title="'Estado'" filter="{ amb_est : 'text'}" sortable="'amb_est'" style="text-align: center">{{o.amb_est}}</td>
                                    <td data-title="'Accion'">
                                        <!--<button class="btn btn-primary btn-xs" ng-disabled="" ng-click="elegirAmbiente(o)"><i class="fa fa-check" ></i></button>  -->
                                        <input type="checkbox" style="width: 25px" class="checkbox form-control" ng-model="selectedAmbiente" ng-click="changeSelectedAmbiente($event, o)">
                                    </td>        
                                </tr>  
                            
                            </table>
                        </div>
                        
                    </div> 
                    
                </div>               
                
            </div>
        </section>
    </div>
    
    <div class="row">
        
        <div class="col-md-12">
            
            <div class="col-md-offset-4">
               <button class="btn btn btn-default" ng-click="cancelarRegistro()"><i class="fa fa-warning">  Cancelar  </i></button>            
               <button class="btn btn btn-warning" ng-click="registrar_bien_inmueble(usuMaster.usuario.ID,usuMaster.organizacion.organizacionID)"><i class="fa fa-save"> {{accion_bien}}  </i></button>
           </div>
            
        </div>
        
    </div>
    
</div>


<!----- CONSULTAR AMBIENTES ----->

<div class="modal fade" id="modalConsultarAmbiente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">
                    <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Consultar Ambientes</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form">
                        <div class="form-panel">
                            <div class="form-group">
                                <!----- TABLA DE  AMBIENTES ----->  
                                <div class="tabla-responsiva"><table ng-table="tabla_ambientes" class="table table-striped table-hover" show-filter="true" >
                                    <colgroup>
                                        <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                                    </colgroup>
                                <tr ng-repeat="o in $data">
                                    <td data-title="'Nro'" style="text-align: center">{{o.i}}</td>
                                    <td data-title="'Descripcion'" filter="{ amb_des : 'text'}" sortable="'amb_des'" style="text-align: center">{{o.amb_des}}</td>
                                    <td data-title="'Ubicacion'" filter="{ amb_ubi : 'text'}" sortable="'amb_ubi'" style="text-align: center">{{o.amb_ubi}}</td>
                                    <td data-title="'Estado'" filter="{ amb_est : 'text'}" sortable="'amb_est'" style="text-align: center">{{o.amb_est}}</td>
                                    <td data-title="'Accion'" style="text-align: center;">
                                    <button class="btn btn-primary btn-xs" ng-click="EditarItemCatalogo(o)"><i class="fa fa-pencil" ></i></button>
                                    <button class="btn btn-danger btn-xs"  ng-click="EliminarItemCatalogo(o)"><i class="fa fa-trash-o"></i></button>                               
                                    </td>
                                    <td data-title="' '" style="text-align: center;">
                                         <input type="checkbox" class="form-control"> 
                                    </td>
                                </tr>   
                                </table></div>
                                <div class="form-group">
                                    <div class=" col-md-offset-10">
                                    <button class="btn btn btn-warning" ng-click="registrarItemsCatalogo()"><i class="fa fa-plus"> Aceptar </i></button>
                                    </div>          
                                </div>
                                <!------------------------------->
                                
                                
                            </div>           
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
</div>



                            
