<div class="row">

    <div class="col-md-12" ng-init="mostrarCatalogo()">
        <section class="panel">

            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Catalogo SBN</h4>
                <div class="tools pull-right">               
                    <button type="button" class="btn btn-default btn-md" ng-click="reporte_catalogo()"><i class="fa fa-print"></i></button>
                </div>
            </header>

            <div class="panel-body">

                <div class="col-md-12">
                    <button type="button" class="btn btn-warning" ng-click="agregarItem()"> Agregar Item <i class="fa fa-file-o"></i> </button>
                    <button type="button" class="btn btn-warning pull-right">Actualizar Catálogo <i class="fa fa-share-square-o"></i> </button>

                </div> 

                <div class="col-md-12">
                    <hr>

                    <table ng-table="tabla_catalogo" class="table table-striped table-hover" show-filter="true" >

                        <tr ng-repeat="o in $data">
                            <td data-title="'N°'" sortable="'cod'" style="text-align: center; width: 5%;">{{o.i}}</td> 
                            <td data-title="'Código Patrimonial'" filter="{ cod: 'text'}" sortable="'cod'" style="text-align: center; width: 25%;">{{o.cod}}</td>
                            <td data-title="'Descripcion Patrimonial'" filter="{ den_bie : 'text'}" sortable="'den_bie'" style="text-align: center; width: 25%;">{{o.den_bie}}</td>
                            <td data-title="'Unidad de Medida'" filter="{ uni_med_nom : 'text'}" sortable="'uni_med_nom'" style="text-align: center; width: 25%;">{{o.uni_med_nom}}</td>

                            <td data-title="'Acciones'" style="text-align: center;">
                                <button class="btn btn-primary btn-xs" ng-click="editarItemCatalogo(o)"><i class="fa fa-pencil" ></i></button>
                                <button class="btn btn-danger btn-xs"  ng-click="EliminarItemCatalogo(o)"><i class="fa fa-trash-o"></i></button>  
                            </td>
                        </tr>   
                    </table>

                </div>

            </div>
        </section>
    </div>

</div>


<!----- MODAL AGREGAR/EDITAR NUEVO ITEM ----->

<div class="modal fade" id="modalnuevoitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" method="get">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Código</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control m-bot15" ng-model="item_catalogo.cod" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Descripción</label>
                        <div class="col-sm-6">
                            <textarea class="form-control m-bot15" ng-model="item_catalogo.den_bie"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-init="listarUnidadesMedida()">
                        <label class="col-sm-3 control-label">Unidad de medida</label>
                        <div class="col-sm-6">
                            <select class="form-control m-bot15" ng-model="item_catalogo.uni_med" ng-change="seleccionarUnidadMed(item_catalogo.uni_med)" ng-options="um.nom for um in unidades_medida">
                            </select> 
                        </div>
                    </div>

                    <div class="form-group" ng-init="listarGruposGenericos()">
                        <label class="col-sm-3 control-label">Grupo</label>
                        <div class="col-sm-6">
                            <select class="form-control m-bot15" ng-model="item_catalogo.gru_gen" ng-change="listarClasesGenericas(item_catalogo.gru_gen)" ng-options="gg.nom for gg in grupos_genericos">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Clase</label>
                        <div class="col-sm-6">                            
                            <select class="form-control m-bot15" ng-model="item_catalogo.cla_gen" ng-change="listarFamiliasGenericas(item_catalogo.cla_gen)" ng-options="cg.nom for cg in clases_genericas">
                            </select> 
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Familia</label>
                        <div class="col-sm-6">
                            <select class="form-control m-bot15" ng-model="item_catalogo.fam_gen" ng-change="cargar_codigo()" ng-options="fg.nom for fg in familias_genericas">
                            </select> 
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar <i class="fa fa-ban"></i></button>
                <button class="btn btn-warning" type="button" ng-click="agregarItemCatalogo(item_catalogo, usuMaster.usuario)">Guardar <i class="fa fa-save"></i> </button>
            </div>
        </div>
    </div>    

</div>

<!----- END MODAL AGREGAR/EDITAR NUEVO ITEM ----->



<!----- MODAL IMPORTAR CATALOGO  ----->

<div class="modal fade" id="#modalcatalogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
    <div class="modal-dialog">
        <div class ="modal-content">
            <div class ="modal-header">             
                <div class="form-group">          
                    <input-file nombre="catalogo_bienes.nombre" archivo="catalogo_bienes.archivo"></input-file></span>
                    <view-file nombre="catalogo_bienes.nombre" archivo="catalogo_bienes.archivo"></view-file></span>
                </div>

            </div>

        </div>
    </div>

</div>


<!----- END MODAL IMPORTAR CATALOGO ----->
