<div class="row">
    
    <div class="col-lg-12" >
        <section class="panel">
            
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Consulta de Bienes Inmuebles</h4>
                <div class="tools pull-right">               
                    <button type="button" class="btn btn-default btn-md" ng-click="reporteBienesInmuebles(usuMaster.organizacion.organizacionID)"><i class="fa fa-print"></i></button>
                </div>
            </header>
                
            <div class="panel-body">
                
                <div class="col-md-12" ng-init="listar_inmuebles(usuMaster.organizacion.organizacionID)">

                    <div class="tabla-responsiva">

                        <table ng-table="tabla_bienes_inmuebles" class="table table-striped table-hover" show-filter="true" >

                            <colgroup>
                                <col width="20px" />
                                <col width="200px" />
                                <col width="50px" />
                                <col width="200px" />
                                <col width="100px" />
                                <col width="110px" />
                                <col width="35px" />
                            </colgroup>

                            <tr ng-repeat="o in $data">

                                <td data-title="'Nro'" filter="{ i: 'text'}" sortable="'cod'" style="text-align: center">{{o.i}}</td>
                                <td data-title="'Descripción'" filter="{ desc : 'text'}" sortable="'desc'" style="text-align: center">{{o.desc}}</td>
                                <td data-title="'Fec. Reg.'" filter="{ fec_reg : 'text'}" sortable="'fec_reg'" style="text-align: center">{{o.fec_reg}}</td>
                                <td data-title="'Ubicacion '" filter="{ ubi : 'text'}" sortable="'ubi'" style="text-align: center">{{o.ubi}}</td>
                                <td data-title="'Estado '" filter="{ ubi : 'text'}" sortable="'ubi'" style="text-align: center">{{o.ubi}}</td>
                                <td data-title="'Accion'" style="text-align: center;">
                                    <button class="btn btn-success btn-xs"  ng-click="verBienInmueble(o)" data-toggle="tooltip" data-placement="bottom" title="Ver Detalles"><i class="fa fa-eye"></i></button>  
                                    <button class="btn btn-primary btn-xs" ng-click="editarBienInmueble(o, usuMaster.organizacion.organizacionID)" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="fa fa-pencil" ></i></button>
                                    <button class="btn btn-danger btn-xs"  ng-click="eliminarBienInmueble(o)" data-toggle="tooltip" data-placement="bottom" title="Eliminar"><i class="fa fa-trash-o"></i></button>  
                                </td>
                            </tr>   
                        </table>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
</div>


<!-- MODAL PARA MOSTRAR LOS DETALLES DEL BIEN INMUEBLE -->
<div class="modal fade" id="modalMostrarDetallesBienInmueble" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Detalles Bien Inmueble</h4>
            </div>
            <div class="modal-body">

                <div class="container-fluid">

                    <div class="row">

                        <h4> Datos del inmbueble</h4>
                        <hr>
                        
                        <div class="row">

                            <label class="col-sm-3"><strong>Dirección: </strong></label>
                            <label class="col-sm-3">{{bienInmueble.tip_dire}}</label>                                        
                            
                            <label class="col-sm-6">  {{bienInmueble.direccion}}</label>

                        </div>  
                        
                        <div class="row">

                            <label class="col-sm-1"><strong>N°. </strong></label>
                            <label class="col-sm-1">{{bienInmueble.nro}}</label>                                        
                            
                            <label class="col-sm-1"><strong>Mz. </strong></label>
                            <label class="col-sm-1">{{bienInmueble.mz}}</label>
                            
                            <label class="col-sm-1"><strong>Lte. </strong></label>
                            <label class="col-sm-1">{{bienInmueble.lt}}</label>

                        </div>  
                        
                        <div class="row">

                            <label class="col-sm-2"><strong>Departamento: </strong></label>
                            <label class="col-sm-2">{{bienInmueble.departamento}}</label>                                        
                            
                            <label class="col-sm-2"><strong>Provincia: </strong></label>
                            <label class="col-sm-2">{{bienInmueble.provincia}}</label>
                            
                            <label class="col-sm-2"><strong>Distrito: </strong></label>
                            <label class="col-sm-2">{{bienInmueble.distrito}}</label>

                        </div> 
                        
                        <div class="row">

                            <label class="col-sm-2"><strong>Descripción </strong></label>                            
                            <label class="col-sm-6">{{bienInmueble.descripcion}}</label>
                            
                        </div>
                        
                    </div>
                    
                    <hr>
                    
                    <div class="row">

                        <h4> Detalle técnico</h4>
                        <hr>
                        
                        <div class="row">

                            <label class="col-sm-2"><strong>Propiedad </strong></label>
                            <label class="col-sm-2">{{bienInmueble.propiedad}}</label>                                        
                            
                            <label class="col-sm-2"><strong>Tip. Terreno </strong></label>
                            <label class="col-sm-2">{{bienInmueble.tipo_terreno}}</label> 
                            
                            <label class="col-sm-1"><strong>Area </strong></label>
                            <label class="col-sm-1">{{bienInmueble.area}}</label>
                            
                            <label class="col-sm-1"><strong>UM </strong></label>
                            <label class="col-sm-1">{{bienInmueble.um}}</label>
                            
                        </div>  
                        
                        <div class="row">

                            <label class="col-sm-3"><strong>Partida Electrónica </strong></label>
                            <label class="col-sm-3">{{bienInmueble.part_elec}}</label>                                      
                                                        
                        </div>  
                        
                        <div class="row">

                            <label class="col-sm-3"><strong>Registro SINABIP </strong></label>
                            <label class="col-sm-3">{{bienInmueble.reg_sinabip}}</label>                                      
                                                        
                        </div>  
                        
                        <div class="row">

                            <label class="col-sm-3"><strong>N° Ficha Registral </strong></label>
                            <label class="col-sm-3">{{bienInmueble.nro_fic_reg}}</label>                                      
                                                        
                        </div>  
                        
                    </div>
                    
                </div>

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger" type="button">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- #MODAL PARA MOSTRAR LOS DETALLES DEL BIEN INMUEBLE -->