<style>
    .md-datepicker-calendar-pane {
        z-index: 1200;
    }

    .md-autocomplete-suggestions-container{  
        z-index:100000 !important; /* any number of choice > 1050*/
    }

    .md-whiteframe-1dp, .md-whiteframe-z1 {
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: none;
    }
</style>

<div class="row">
    <div class="col-lg-12" >
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Control Patrimonial</h4>
            </header>
            <div class="panel-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group">
                            <div class=" col-sm-2">
                                <button class="btn btn btn-warning" data-toggle="modal" ng-click="limpiar_campos_control()" data-target="#modalnuevocontrol"><i class="fa fa-plus"> Agregar Configuracion</i></button>
                            </div>  
                        </div>


                        <!-- TABLA CONTROL PATRIMONIAL -->
                        <div class="form-group">
                            <div class="panel-body" ng-init="mostrar_control_patrimonial(usuMaster.organizacion.organizacionID); listaTrabajadores(usuMaster.organizacion.organizacionID);">
                                <div class="tabla-responsiva">
                                    <table ng-table="tabla_control_patrimonial" class="table table-striped table-hover" show-filter="true" >
                                        <colgroup>
                                            <col width="20px" />
                                            <col width="150px" />
                                            <col width="45px" />
                                            <col width="45px" />
                                            <col width="200px" />
                                            <col width="30px" />
                                            <col width="35px" />
                                            <col width="35px" />
                                        </colgroup>

                                        <tr ng-repeat="o in $data">
                                            <td data-title="'Nro'" filter="{ i: 'number'}" sortable="'i'" style="text-align: center">{{o.i}}</td>
                                            <td data-title="'Descripcion '" filter="{ obs : 'text'}" sortable="'obs'" style="text-align: center">{{o.obs}}</td>
                                            <td data-title="'F. Inicio'" filter="{ fec_ini : 'text'}" sortable="'fec_ini'" style="text-align: center">{{o.fec_ini}}</td>
                                            <td data-title="'F. Cierre'" filter="{ fec_cie : 'text'}" sortable="'fec_cie'" style="text-align: center">{{o.fec_cie}}</td>
                                            <td data-title="'Responsable'" filter="{ per_res : 'text'}" sortable="'per_res'" style="text-align: center">{{o.per_res}}</td>
                                            <td data-title="'Documento'" filter="{ file_name : 'text'}" style="text-align: center">                                                
                                                <span ><view-file url="{{o.file_url}}" nombre="o.file_name" archivo> </view-file></span>
                                            </td>
                                            <td data-title="'Estado'" 
                                                sortable="'estado'" style="text-align: center">
                                                <span class="label label-mini" ng-class="{'label-success': o.estado == 65,'label-danger': o.estado == 73}">
                                                    {{o.estado==65?'Activo':o.estado==73?'Inactivo':'Cerrado'}}

                                                </span>
                                            </td>

                                            <td data-title="'Accion'" style="text-align: center;">
                                                <button class="btn btn-primary btn-xs" ng-click="editar_control_patrimonial(o)"><i class="fa fa-pencil" ></i></button>
                                                <button class="btn btn-danger btn-xs"  ng-click="eliminar_control_patrimonial(o)"><i class="fa fa-trash-o"></i></button>  
                                            </td>
                                        </tr>   
                                    </table></div>    
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>

</div>

<div class="modal fade" id="modalnuevocontrol" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
    <div class="modal-dialog">
        <div class ="modal-content">

            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Control Patrimonial</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="cpDescripcion">Descripcion</label>
                            <textarea class="form-control" ng-model="nueva_configuracion.obs"></textarea> 
                        </div>

                        <div class="form-group">
                            <label for="cpResponsable">Datos del Responsable</label>    

                            <div class="input-group" style="width: 100%">
                                <!-- <input type="text" class="form-control" ng-model="nueva_configuracion.per_res"> -->

                                <md-autocomplete md-no-cache="true" md-selected-item="selectedWork" md-items="item in querySearch(searchText)" md-search-text="searchText" md-item-text="item.display" md-selected-item-change="seleccionTrabajador(searchText)">
                                    <span>{{ item.display}}</span>
                                </md-autocomplete>
                                <!--
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>  
                                -->
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="col-md-3">                             

                                <label class="control-label">Estado</label>

                                <select class="form-control" ng-disabled="nueva_configuracion.cp_id == 0" ng-model="nueva_configuracion.estado" ng-options="tip.nom for tip in estados">

                                </select>
                            </div>                             

                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="form-group">
                            <label for="fechaInicio">Fecha Inicio</label><br>
                            <md-datepicker ng-model="nueva_configuracion.fec_ini_md" md-placeholder="Inicio" md-min-date="minDateInicio" md-max-date="maxDateInicio" ng-change="seleccion_fecha_inicial()"></md-datepicker>
                        </div>

                        <div class="form-group">
                            <label for="fechaCierre">Fecha Fin</label><br>  
                            <md-datepicker ng-model="nueva_configuracion.fec_cie_md" md-placeholder="Fin" md-min-date="minDateCierre" ng-change="seleccion_fecha_cierre()"></md-datepicker >
                        </div>

                        <div class="form-group">
                            <span  class="tools">
                                <label>Adjuntar archivo</label>
                                <input-file nombre="nueva_configuracion.documentoAdj.nombreArchivo" archivo="nueva_configuracion.documentoAdj.archivo"></input-file>
                            </span>
                        </div>

                    </div>
                </div>

            </div>

            <div class="modal-footer" style="text-align: center;">    

                <button class="btn btn btn-warning"  data-dismiss="modal"><i class="fa fa-warning"> Cancelar</i></button>
                <button class="btn btn-warning" ng-click="nuevo_control_patrimonial(usuMaster.organizacion.organizacionID, usuMaster.usuario)"><i class="fa fa-save"> Guardar </i></button>
            </div>

        </div>
    </div>
</div>
