<div class="row" ng-init="listarEstudiantes()">
    <div class="col-md-3" ng-repeat="mp in listaEstudiantes">
        <div class="feed-box text-center">
            <section class="panel">

                <div class="feed-box text-center">
                    <section class="panel">
                        <div style="padding: 5px;min-height: 145px;" >
                            <img alt="" src="../recursos/img/alumno.jpg">
                            <h4>{{mp.nombre}}</h4>
                            <h3>{{mp.nombreOrganizacion}}</h3>
                            <p>{{mp.salon}}</p>
                        </div>
                    </section>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="datosEstudiante(mp.matriculaID, mp.orgId)">
                            <div style="padding: 5px;">
                                <h5>Datos Estudiante</h5>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="datosMatricula(mp.matriculaID, mp.orgId)">
                            <div style="padding: 5px;">
                                <h5>Matrícula</h5>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="datosTareas(mp.matriculaID, mp.orgId)">
                            <div style="padding: 5px;">
                                <h5>Tareas</h5>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="datosNotas(mp.matriculaID, mp.orgId, mp.nombre)">
                            <div style="padding: 5px;">
                                <h5>Notas</h5>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="datosAsistencia(mp.planID, mp.gradoID, mp.orgId, mp.matriculaID)">
                            <div style="padding: 5px;">
                                <h5>Asistencia</h5>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="changePersonSelected(mp.personaID)">
                            <div style="padding: 5px;">
                                <h5>Estadísticas</h5>
                            </div>
                        </a>
                    </section>
                </div>  
                <div ng-show="showPersona === mp.personaID" style="height: 130px;overflow: auto;width: calc( 100% - 60px );position: absolute;left:50px;background: #f1f2f7;z-index: 100;" >
                    <div class="feed-box text-center" ng-repeat="tipo in tipoEstadistica">
                        <section class="panel miPanel" style="margin-bottom: 3px;color:{{color}}">
                            <a href ng-click="estadistica(tipo, mp.matriculaID, mp.orgId)">
                                <div style="padding: 3px;color:#6E6E6E">
                                    <h5 style="margin: 3px 0;">{{tipo.nombre}}</h5>
                                </div>
                            </a>
                        </section>
                    </div>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="changePersonSelected2(mp.personaID)">
                            <div style="padding: 5px;">
                                <h5>Portal de Transparencia</h5>
                            </div>
                        </a>
                    </section>
                </div>  
                <div ng-show="showPersona2 === mp.personaID" style="height: 65px;overflow: auto;width: calc( 100% - 60px );position: absolute;left:50px;background: #f1f2f7;z-index: 100;" >
                    <div class="feed-box text-center" ng-repeat="opcion in portalTransparenciaOpciones">
                        <section class="panel miPanel" style="margin-bottom: 3px;color:{{color}}">
                            <a href ng-click="portalTransparencia(opcion, mp.matriculaID, mp.orgId)">
                                <div style="padding: 3px;color:#6E6E6E">
                                    <h5 style="margin: 3px 0;">{{opcion.nombre}}</h5>
                                </div>
                            </a>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!--Modal Datos de Estudiante-->
<div class="modal fade" id="modalDatosEstudiante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">DATOS DEL ESTUDIANTE</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Datos Personales:</a>
                        </header>
                        <br>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombres</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="estudiante.nombres" disabled="true">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nacionalidad</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="estudiante.nacionalidad" disabled="true">
                            </div>
                            <label class="col-sm-2 control-label">DNI</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="estudiante.dni" disabled="true">
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Fecha de Nacimiento</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="estudiante.nacimiento" disabled="true">
                            </div>
                            <label class="col-sm-2 control-label">Sexo</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="estudiante.sexo" disabled="true">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="estudiante.email" disabled="true">
                            </div>
                            <label class="col-sm-2 control-label">Teléfono</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="estudiante.numero1" disabled="true">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Domicilio</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="estudiante.direccion" disabled="true">
                            </div>

                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombre de Apoderado</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="estudiante.apoderadoNombre" disabled="true">
                            </div>
                            <label class="col-sm-2 control-label">Teléfono Contacto</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="estudiante.apoderadoNumero" disabled="true">
                            </div>
                        </div>
                        <header class="panel-heading">
                            <a>Datos Escolares:</a>
                        </header>
                        <br>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nivel</label>
                            <div class="col-sm-2">
                                <!--<input type="text" class="form-control" ng-model="estudiante.nivel" disabled="true" onclick="this.style.width = ((this.value.length + 1) * 8) + 'px';" >-->
                                <input type="text" class="form-control" ng-model="estudiante.nivel" disabled="true">
                            </div>
                            <label class="col-sm-2 control-label">Grado</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="estudiante.grado" disabled="true">
                            </div>
                            <label class="col-sm-2 control-label">Sección</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="estudiante.seccion" disabled="true">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">N° Orden</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="estudiante.orden" disabled="true">
                            </div>
                            <label class="col-sm-2 control-label">Turno</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="estudiante.turno" disabled="true">
                            </div>
                        </div>
                        <header class="panel-heading">
                            <a>Datos Clínicos:</a>
                        </header>
                        <br>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Talla</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="estudiante.talla" disabled="true">
                            </div>
                            <label class="col-sm-2 control-label">Peso</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="estudiante.peso" disabled="true">
                            </div>
                            <label class="col-sm-2 control-label">Tipo de Sangre</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="estudiante.sangre" disabled="true">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Alergias</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="estudiante.alergia" disabled="true">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="imprimirDatosEstudiante()">Imprimir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDatosMatricula" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">DATOS DE LA MATRÍCULA</h4>
            </div>
            <div class="modal-body resize-modal" >

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Datos de Matrícula:</a>
                        </header>
                        <br>
                        <div class="tabla-responsiva" ng-init="iniciarDatos()">
                            <table ng-table="miTablaDatos" class="table table-striped table-hover" show-filter="true" >
                                <colgroup>
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="20%" />
                                </colgroup>
                                <tr ng-repeat="o in $data">

                                    <td data-title="'Turno'"   
                                        sortable="'turno'" style="text-align: center">{{o.turno}}
                                    </td>
                                    <td data-title="'Nivel'"  sortable="'nivel'" 
                                        style="text-align: center">{{o.nivel}}
                                    </td>
                                    <td data-title="'Grado'" sortable="'grado'" style="text-align: center">{{o.grado}}</td>
                                    <td data-title="'Sección'" sortable="'seccion'" style="text-align: center">{{o.seccion}}</td>
                                    <td data-title="'Tutor'"  sortable="'tutor'"  style="text-align: center">{{o.tutor}} </td>
                                </tr>
                            </table>
                        </div>

                        <header class="panel-heading">
                            <a>Áreas Matriculadas:</a>
                        </header>
                        <br>
                        <!--<div class="form-group" >-->
                        <div class="tabla-responsiva" ng-init="iniciarDatos()">
                            <table ng-table="miTablaAreas" class="table table-striped table-hover" show-filter="true" >
                                <colgroup>
                                    <col width="30%" />
                                    <col width="30%" />
                                    <col width="30%" />

                                </colgroup>
                                <tr ng-repeat="o in $data">

                                    <td data-title="'Área'"   
                                        sortable="'area'"  filter="{ area: 'text'}"style="text-align: center">{{o.area}}
                                    </td>
                                    <td data-title="'Docente'" filter="{ docente: 'text'}"  sortable="'docente'" 
                                        style="text-align: center">{{o.docente}}
                                    </td>
                                    <td data-title="'Lista Útiles'"  style="text-align: center">
                                        <button class="btn btn-white btn-xs"  ng-click="verUtilesArea(o.areaId)"  title="Ver">
                                            <i class=" fa fa-eye" ></i>
                                        </button>
                                        <button class="btn btn-default btn-xs"  ng-click="imprimirListaByArea(o.areaId, o.area, o.docente)"  title="Imprimir">
                                            <i class=" fa fa-print" ></i>
                                        </button>
                                    </td>


                                </tr>
                            </table>
                        </div>

                        <div ng-if="mostrarLista" class="animate-if">
                            <header class="panel-heading">
                                <a>Lista de Utiles:</a>
                            </header>
                            <br>
                            <!--<div class="form-group" >-->
                            <div class="tabla-responsiva">
                                <table ng-table="miTablaLista" class="table table-striped table-hover" show-filter="true" >
                                    <colgroup>
                                        <col width="10%" />
                                        <col width="30%" />
                                        <col width="30%" />

                                    </colgroup>
                                    <tr ng-repeat="o in $data">

                                        <td data-title="'Cantidad'"   
                                            sortable="'area'"  style="text-align: center">{{o.cant}}
                                        </td>
                                        <td data-title="'Descripción'" filter="{ docente: 'text'}"  sortable="'docente'" 
                                            style="text-align: center">{{o.des}}
                                        </td>
                                        <td data-title="'Precio'"  style="text-align: center">
                                            {{o.precio}}
                                        </td>

                                    </tr>
                                </table>
                                <label class="control-label col-sm-10">TOTAL: </label>
                                <label class="control-label col-sm-2" >{{listaTotal}}</label>
                            </div>
                        </div>


                        <header class="panel-heading">
                            <a>Observaciones:</a>
                        </header>
                        <br>
                        <!--<div class="form-control" >-->
                        <textarea readonly  rows="3" class="form-control" id="observaciones" ng-model="matricula.observaciones"></textarea>
                        <!--</div>-->

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="imprimirListaUtiles()">Imprimir Lista</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDatosTareas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">TAREAS DEL ESTUDIANTE</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Áreas Matriculadas:</a>
                        </header>
                        <br>
                        <label class="col-sm-2 control-label">Área:</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="sel.areaID" ng-options="o.areaID as o.area for o in areas" ng-change="buscarTareas()">
                                <option value="">Seleccione:</option>
                            </select>
                        </div>


                        <header class="panel-heading">
                            <a>Tareas Asignadas:</a>
                        </header>
                        <br>
                        <!--<div class="form-group" >-->
                        <div class="tabla-responsiva" ng-init="iniciarDatos()">
                            <table ng-table="miTablaTareas" class="table table-striped table-hover" show-filter="true" >
                                <colgroup>
                                    <col width="5%" />
                                    <col width="20%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />

                                </colgroup>
                                <tr ng-repeat="o in $data">
                                    <td data-title="'N'" sortable="'i'" style="text-align: center">
                                        {{o.i}}
                                    </td>
                                    <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">
                                        {{o.nombre}}
                                    </td>
                                    <td data-title="'Nota'" sortable="'nota'" style="text-align: center">
                                        {{o.nota}}
                                    </td>
                                    <td data-title="'Fecha Envío'" filter="{ fechaEnvio: 'text'}" sortable="'fechaEnvio'">
                                        {{o.fechaEnvio}}
                                    </td>
                                    <td data-title="'Fecha Límite'" filter="{ fechaMaxEntrega: 'text'}" sortable="'fechaMaxEntrega'">
                                        {{o.fechaMaxEntrega}}
                                    </td>
                                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estadosTarea" sortable="'estado'" style="text-align: center">
                                        <span class="label label-mini" ng-class="{'label-info': o.estado == 'N','label-warning': o.estado == 'E','label-success': o.estado == 'C','label-danger': o.estado == 'F'}">
                                            {{o.estado=='N'?'nuevo':o.estado=='E'?'enviado':o.estado=='C'?'calificado':'fuera tiempo'}}
                                        </span>
                                    </td>
                                    <!--                                    <td data-title="'Accion'" style="text-align: center">
                                                                            <button ng-if="o.estado!='F'" class="btn btn-xs" ng-class="{'btn-success':o.estado=='N','btn-primary':o.estado=='E'||o.estado=='C'}" ng-click="prepararEnviar(o)" title="{{o.estado=='N'? 'enviar tarea':'ver tarea'}}"><i class="fa" ng-class="{'fa-sign-out':o.estado=='N','fa-eye':o.estado=='E'||o.estado=='C'}"></i></button>
                                                                        </td>-->

                                </tr>
                            </table>
                        </div>



                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDatosAsistencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 950px" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ASISTENCIA DEL ESTUDIANTE</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Asistencia:</a>
                        </header>
                        <br>
                        <div class="col-sm-12">
                            <label class="col-sm-1 control-label">Área:</label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="sel.areaID" ng-options="o.areaID as o.area for o in areas" ng-change="buscarAsistencia()">
                                    <option value="">Seleccione:</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">Desde:</label>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" ng-model="sel.fechaDesde" ng-change="buscarAsistencia()">
                            </div>
                            <label class="col-sm-1 control-label">Hasta:</label>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" ng-model="sel.fechaHasta" ng-change="buscarAsistencia()">
                            </div>


                        </div>


                        <div class="col-lg-12"><label></label></div>
                        <div class="col-lg-12"><label></label></div>
                        <!--<div class="form-group" >-->
                        <div class="tabla-responsiva">
                            <table ng-table="miTablaAsistencia" class="table table-striped table-hover" show-filter="true" >
                                <colgroup>
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <!--                                    <col width="10%" />-->

                                </colgroup>
                                <tr ng-repeat="o in $data">
                                    <td data-title="'N'" sortable="'i'" style="text-align: center">
                                        {{o.i}}
                                    </td>
                                    <td data-title="'Fecha'"  sortable="'fecha'" style="text-align: center">
                                        {{o.fecha}}
                                    </td>
                                    <td data-title="'Día'" filter="{ dia: 'text'}" sortable="'dia'" style="text-align: center">
                                        {{o.dia}}
                                    </td>
                                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estadosAsistencia" sortable="'estado'" style="text-align: center">
                                        <span class="label label-mini" ng-class="{'label-info': o.estado == 'A','label-warning': o.estado == 'F','label-success': o.estado == 'T','label-danger': o.estado == ''}">
                                            {{o.estado=='A'?'Asistio':o.estado=='F'?'Falta':o.estado=='T'?'Tardanza':'Otros'}}
                                        </span>
                                    </td>
                                    <td data-title="'Justificación'" style="text-align: center">
                                        {{o.jus}}
                                    </td>
                                    <!--                                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                                                                            <span class="label label-mini" ng-class="{'label-info': o.estado=='N','label-warning': o.estado=='E','label-success': o.estado=='C','label-danger': o.estado=='F'}">
                                                                                {{o.estado=='N'?'nuevo':o.estado=='E'?'enviado':o.estado=='C'?'calificado':'fuera tiempo'}}
                                                                            </span>
                                                                        </td>-->
                                    <!--                                    <td data-title="'Accion'" style="text-align: center">
                                                                            <button ng-if="o.estado!='F'" class="btn btn-xs" ng-class="{'btn-success':o.estado=='N','btn-primary':o.estado=='E'||o.estado=='C'}" ng-click="prepararEnviar(o)" title="{{o.estado=='N'? 'enviar tarea':'ver tarea'}}"><i class="fa" ng-class="{'fa-sign-out':o.estado=='N','fa-eye':o.estado=='E'||o.estado=='C'}"></i></button>
                                                                        </td>-->

                                </tr>
                            </table>
                        </div>
                        <br>
                        <header class="panel-heading">
                            <a>Resumen:</a>
                        </header>
                        <br>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Asistencias:</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" ng-model="asi.nAsis" disabled="true">
                            </div>
                            <label class="col-sm-3 control-label">Tardanza Justificada:</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" ng-model="asi.nTjus" disabled="true">
                            </div>
                            <label class="col-sm-3 control-label">Tardanza Injustificada:</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" ng-model="asi.Tinj" disabled="true">
                            </div>
                        </div>
                        <div class="col-lg-12"><label></label></div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-3 control-label">Falta Justificada:</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" ng-model="asi.nFjus" disabled="true">
                            </div>
                            <label class="col-sm-3 control-label">Falta Injustificada:</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" ng-model="asi.Finj" disabled="true">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="imprimirAsistencia()">Imprimir Lista</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNotasEstudiante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 950px" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NOTAS DEL ESTUDIANTE</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Áreas</a>
                        </header>
                        <br>

                        <div class="col-lg-12"><label></label></div>
                        <div class="col-lg-12"><label></label></div>
                        <!--<div class="form-group" >-->
                        <div class="tabla-responsiva">
                            <table ng-table="miTablaNotas" class="table table-striped table-hover" show-filter="true" >
                                <colgroup>
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="30%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="8%" />

                                    <!--                                    <col width="10%" />-->

                                </colgroup>
                                <tr ng-repeat="o in $data">
                                    <td data-title="'N'" sortable="'i'" style="text-align: center">
                                        {{o.i}}
                                    </td>
                                    <td data-title="'Área'"  filter="{ area: 'text'}" style="text-align: center">
                                        {{o.area}}
                                    </td>
                                    <td data-title="'Logros de Aprendizaje'" filter="{ logro: 'text'}" style="text-align: center">
                                        {{o.logro}}
                                    </td>
                                    <td data-title="'T1'"  style="text-align: center">
                                        {{o.t1}}
                                    </td>
                                    <td data-title="'T2'"  style="text-align: center">
                                        {{o.t2}}
                                    </td>
                                    <td data-title="'T3'"  style="text-align: center">
                                        {{o.t3}}
                                    </td>
                                    <td data-title="'T4'"  style="text-align: center">
                                        {{o.t4}}
                                    </td>


                                </tr>
                            </table>
                        </div>
                        <br>


                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="imprimirNotas()">Imprimir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


<!--Modal estadistica Notas por area-->
<div class="modal fade" id="modalEstadisticaNotasXArea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NOTAS POR ÁREA Y PERIODO</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Notas por periodo:</a>
                        </header>
                        <br>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Periodo</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="periodoSelected" ng-change="buscarEstadisticaNotaxPeriodo()">
                                    <option ng-repeat="p in periodos" value={{p.id}}>{{p.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12" id="bar-chart" ng-controller="estudiantesMpfCtrl">
                            <div class="panel panel-default">
                                <div class="panel-heading">NOTAS POR PERIODO</div>
                                <div class="panel-body">
                                    <canvas id="bar" class="chart chart-bar" chart-data="barNotaxPeriodo.data[periodoSelected-1]" chart-labels="barNotaxPeriodo.areas" chart-series=""
                                            chart-options="barNotaxPeriodo.options">                                                
                                    </canvas>
<!--                                    <canvas id="bar" class="chart chart-bar" chart-data="bar1.data[periodoSelected-1]" chart-labels="bar1.areas" chart-series=""
                                            chart-options="bar1.options">                                                
                                    </canvas>-->
                                </div>
                            </div>
                        </div>
                        <!--                    </div>
                                        </div>
                        
                                        <div class="form-panel">
                                            <div class="form-horizontal style-form" >-->
                        <header class="panel-heading">
                            <a>Notas por área</a>
                        </header>
                        <br>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Área</label>
                            <div class="col-sm-10">
<!--                                <select class="form-control" ng-model="areaSelected" ng-change="updateGrafNotasXArea()">
                                    <option ng-repeat="a in areas" value="{{a.id}}">{{a.descripcion}}</option>
                                </select>-->
                                <select class="form-control" ng-model="areasEstadisticaNotaSelected" ng-change="buscarEstadisticaNotaxArea()">
                                    <option ng-repeat="a in barNotaxPeriodo.areas" value="{{$index+1}}">{{a}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12" id="bar-chart" ng-controller="estudiantesMpfCtrl">
                            <div class="panel panel-default">
                                <div class="panel-heading">NOTAS POR ÁREA</div>
                                <div class="panel-body">
                                    <canvas id="bar" class="chart chart-bar" chart-data="barNotaxArea.data[areasEstadisticaNotaSelected-1]" chart-labels="barNotaxArea.periodos" chart-series=""
                                            chart-options="barNotaxArea.options"></canvas>
<!--                                    <canvas id="bar" class="chart chart-bar" chart-data="bar2.data[areasEstadisticaNotaSelected-1]" chart-labels="bar2.periodos" chart-series=""
                                            chart-options="bar2.options"></canvas>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


<!--Modal estadistica Notas por COMPETENCIA-->
<div class="modal fade" id="modalEstadisticaNotasXCompetencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NOTAS POR COMPETENCIA</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Notas por competencia</a>
                        </header>
                        <br>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Área</label>
                            <div class="col-sm-10">
<!--                                <select class="form-control" ng-model="areaSelectedCompetencia" ng-change="">
                                    <option ng-repeat="a in areas" value="{{a.id}}">{{a.descripcion}}</option>
                                </select>-->
<!--                                <select class="form-control" ng-model="sel.areasEstadisticaNota" ng-change="buscarEstadisticaNotaxAnio()">
                                    <option ng-repeat="a in areasEstadisticaNota" value="{{a.areaID}}">{{a.area}}</option>
                                </select>-->
                                <select class="form-control" ng-model="areasEstadisticaNotaSelected" ng-change="buscarEstadisticaNotaxCompetencia()">
                                    <option ng-repeat="a in barNotaxPeriodo.areas" value="{{$index+1}}">{{a}}</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-12 col-sm-12" id="line-chart" ng-controller="estudiantesMpfCtrl">
                    <div class="panel panel-default">
                        <div class="panel-heading">NOTAS POR COMPETENCIA</div>
                        <div class="panel-body">
                            <canvas id="line" class="chart chart-line chart-xl" chart-data="lineNotaxCompetencia.data[areasEstadisticaNotaSelected-1]" chart-labels="lineNotaxCompetencia.labels" chart-legend="true"
                                    chart-options="lineNotaxCompetencia.options" chart-colors="lineNotaxCompetencia.colors" chart-series="lineNotaxCompetencia.series[areasEstadisticaNotaSelected-1]"></canvas>
<!--                            <canvas id="line" class="chart chart-line chart-xl" chart-data="line1.data[areasEstadisticaNotaSelected-1]" chart-labels="line1.labels" chart-legend="true"
                                    chart-click="line1.onClick" chart-options="line1.options" chart-colors="line1.colors" chart-series="line1.series[areasEstadisticaNotaSelected-1]"></canvas>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<!--Modal estadistica Notas por AÑO-->
<div class="modal fade" id="modalEstadisticaNotasXAnio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NOTAS POR AÑO</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Notas por Año</a>
                        </header>
                        <br>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Grado</label>
                            <div class="col-sm-10">
<!--                                <select class="form-control" ng-model="areaSelectedAnio" ng-change="">
                                    <option ng-repeat="a in areas" value="{{a.id}}">{{a.descripcion}}</option>
                                </select>-->
                                <select class="form-control" ng-model="anioSelectedEstadistica" ng-change="buscarEstadisticaNotaxAnio()">
                                    <option ng-repeat="anio in aniosEstadistica" value="{{anio}}">{{anio}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12" id="line-chart" ng-controller="estudiantesMpfCtrl">
                    <div class="panel panel-default">
                        <div class="panel-heading">NOTAS POR AÑO</div>
                        <div class="panel-body">
                            <canvas id="line" class="chart chart-bar chart-xl" chart-data="barNotasXAnio.data" chart-labels="barNotasXAnio.labels" chart-legend="true"
                                    chart-options="barNotasXAnio.options"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal estadistica ASISTENCIA -->
<div class="modal fade" id="modalEstadisticaAsistencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ASISTENCIA TOTAL</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Asistencia por periodo:</a>
                        </header>
                        <br>
<!--                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Periodo</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="periodoSelectedAsistencia" ng-change="">
                                    <option ng-repeat="p in periodos" value="{{p.id}}">{{p.descripcion}}</option>
                                </select>
                            </div>
                        </div>-->
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Desde:</label>
                            <div class="col-sm-10">                              
                                <input type="date" class="form-control" ng-model="sel.fechaDesdeBB" ng-change="buscarAsistenciaTodosEstadistica();buscarAsistenciaEstadistica()">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Hasta:</label>
                            <div class="col-sm-10">                                
                                <input type="date" class="form-control" ng-model="sel.fechaHastaBB" ng-change="buscarAsistenciaTodosEstadistica();buscarAsistenciaEstadistica()">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12" id="bar-chart" ng-controller="estudiantesMpfCtrl">
                    <div class="panel panel-default">
                        <div class="panel-heading">ASISTENCIA</div>
                        <div class="panel-body">
                            <canvas id="bar" class="chart chart-bar" chart-data="barAsistencia.data" chart-labels="barAsistencia.labels" chart-series="barAsistencia.series"
                                    chart-options="barAsistencia.options">
                            </canvas>
                        </div>
                    </div>
                </div>

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Asistencia por área</a>
                        </header>
                        <br>
<!--                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Periodo</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="periodoSelectedAsistenciaB" ng-change="">
                                    <option ng-repeat="p in periodos" value="{{p.id}}">{{p.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Area</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="areaSelectedAsistenciaB" ng-change="">
                                    <option ng-repeat="a in areas" value="{{a.id}}">{{a.descripcion}}</option>
                                </select>
                            </div>
                        </div>-->
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Desde:</label>
                            <div class="col-sm-10">                              
                                <input type="date" class="form-control" ng-model="sel.fechaDesdeBB" ng-change="buscarAsistenciaTodosEstadistica();buscarAsistenciaEstadistica()">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Hasta:</label>
                            <div class="col-sm-10">                                
                                <input type="date" class="form-control" ng-model="sel.fechaHastaBB" ng-change="buscarAsistenciaTodosEstadistica();buscarAsistenciaEstadistica()">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Área</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="sel.areaSelectedAsistenciaBB" ng-change="buscarAsistenciaTodosEstadistica();buscarAsistenciaEstadistica()">
                                    <option ng-repeat="a in areasEstadisticaAsistencia" value="{{a.areaID}}">{{a.area}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12" id="doughnut-chart" ng-controller="estudiantesMpfCtrl">
                    <div class="panel panel-default">
                        <div class="panel-heading">ASISTENCIA POR ÁREA</div>
                        <div class="panel-body">
                            <!--<canvas id="doughnut" class="chart chart-doughnut chart-xs" chart-data="donut.data[periodoSelectedAsistenciaB-1][areaSelectedAsistenciaB-1]" chart-labels="donut.labels" chart-legend="true" chart-options="donut.options"></canvas>-->
                            <canvas id="doughnut" class="chart chart-doughnut chart-xs" chart-data="pieDonutAsistencia.data" chart-labels="pieDonutAsistencia.labels" chart-legend="true" chart-options="pieDonutAsistencia.options"></canvas>
                        </div>
                    </div>
                </div>                    
                <div class="col-lg-12 col-sm-12" id="pie-chart" ng-controller="estudiantesMpfCtrl">
                    <div class="panel panel-default">
                        <div class="panel-heading">ASISTENCIA POR ÁREA</div>
                        <div class="panel-body">
                            <!--<canvas id="pie" class="chart chart-pie chart-xs" chart-data="pie.data[periodoSelectedAsistenciaB-1][areaSelectedAsistenciaB-1]" chart-labels="pie.labels" chart-legend="true" chart-options="pie.options"></canvas>-->
                            <canvas id="pie" class="chart chart-pie chart-xs" chart-data="pieDonutAsistencia.data" chart-labels="pieDonutAsistencia.labels" chart-legend="true" chart-options="pieDonutAsistencia.options"></canvas>
                        </div>
                    </div>
                </div>                   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal DIRECTORIO-->
<div class="modal fade" id="modalDirectorioIE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">DIRECTORIO</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Directorio de la Institución Educativa</a>
                        </header>
                        <br>
                        <div class="form-group" >
                            <div>
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Resumen" select="listarInternoDirectorio('')">                
                                        <div class="panel-body" >                    
                                            <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >
                                                    <tr ng-repeat="d in $data">                            
                                                        <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                                                        <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                                                        <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                                                        <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                                                        <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                                                        <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>
                                                        <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'">{{d.cargo}}</td>                                                                                  
                                                    </tr>
                                                </table>
                                            </div>                    
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1" heading="Directivos" select="listarInternoDirectorio('Di')">                
                                        <div class="panel-body" >
                                            <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >                        
                                                    <tr ng-repeat="d in $data">                            
                                                        <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                                                        <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                                                        <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                                                        <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                                                        <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                                                        <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>
                                                        <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'">{{d.cargo}}</td>                                                                                  
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="2" heading="Docentes" select="listarInternoDirectorio('Do')">                
                                        <div class="panel-body">
                                            <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >                        
                                                    <tr ng-repeat="d in $data">                            
                                                        <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                                                        <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                                                        <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                                                        <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                                                        <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                                                        <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>
                                                        <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'">{{d.cargo}}</td>                                                                                   
                                                    </tr>
                                                </table>
                                            </div>                    
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="3" heading="Administrativos" select="listarInternoDirectorio('Ad')">
                                        <div class="panel-body" >                   
                                            <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >                        
                                                    <tr ng-repeat="d in $data">                            
                                                        <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                                                        <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                                                        <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                                                        <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                                                        <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                                                        <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>
                                                        <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'">{{d.cargo}}</td>                                                                                  
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="4" heading="Padres de Familia" select="listarPadresDirectorio()">
                                        <div class="panel-body" >
                                            <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >                        
                                                    <tr ng-repeat="d in $data">                            
                                                        <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                                                        <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                                                        <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                                                        <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                                                        <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                                                        <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>             
                                                    </tr>
                                                </table>
                                            </div>                    
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="5" heading="Estudiantes" select="listarEstudiantesDirectorio()">
                                        <div class="panel-body" >
                                            <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >                        
                                                    <tr ng-repeat="d in $data">                            
                                                        <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                                                        <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                                                        <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                                                        <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                                                        <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                                                        <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>
                                                    </tr>
                                                </table>
                                            </div>                    
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div> 
                        </div>


                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


<!--Modal EVALUACION PERSONAL-->
<div class="modal fade" id="modalEvaluacionPersonal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">EVALUACIÓN PERSONAL</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Resultados de Evaluación de Personal</a>
                        </header>
                        <br>
                        <div class="form-group" >
                            <div class="panel-body">
                                <div id="idresult" class="row" >
                                    <table ng-table="tablaPersonalIE" class="table table-condensed table-bordered">
                                        <tr ng-repeat="row in $data"  ng-class="{selected:row.$selected}" >
                                            <td data-title="'Nombre'"><span ng-bind="row.nom + ' ' + row.apep + ' ' + row.apem"></span></td>
                                            <!--                                            <td data-title="'Apellido Paterno'"><span ng-bind="row.apep"></span></td>
                                                                                        <td data-title="'Apellido Materno'"><span ng-bind="row.apem"></span></td>-->
                                            <!--                                            <td data-title="'Apellidos'"><span ng-bind="row.apep + ' ' + row.apem"></span></td>-->
                                            <td data-title="'N° Evaluaciones'"><span ng-bind="row.eval"></span></td>
                                            <td filter="{car: 'text'}" sortable="'car'" data-title="'Cargo'"><span ng-bind="row.car"></span></td>
                                            <td data-title="'Detalles'">                                                
                                                <button class="btn btn-info btn-sm" data-toggle="tooltip" title="Ver evaluaciones ({{row.eval}})" ng-disabled="!(row.eval > 0)" ng-click="obtenerResumenEvaluacion(row)" >
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </button>
                                                <button class="btn btn-warning btn-sm" data-toggle="tooltip" title="Ver gráfico" ng-disabled="!(row.eval > 0)" ng-click="showEstadIndiv(row)">
                                                    <span class="glyphicon glyphicon-stats"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


<!--Modal EVALUACION PERSONAL-RESUMEN -->
<div class="modal fade" id="modalEvaluacionPersonalResumen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">EVALUACIÓN PERSONAL</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <h4>Resumen de Evaluación Personal</h4>
                            <md-progress-linear ng-if="estudiantesMpfCtrl.showProgress" md-mode="indeterminate"></md-progress-linear>
                        </header>
                        <div class="panel-body">
                            <div class="row control-group">
<!--                                <label class="control-label">Codigo:</label>
                                <span class="controls readonly">
                                    {{trabajador.tra}}
                                </span>-->
                                <br/>
                                <label class="control-label"><b>Nombres:</b></label>
                                <span class="controls readonly">
                                    {{trabajador.nom}} 
                                </span> 
                                <label class="control-label"><b>Apellidos:</b></label>
                                <span class="controls readonly">
                                     {{trabajador.apep}} {{trabajador.apem}} 
                                </span>
                                <label class="control-label"><b>Cargo:</b></label>
                                <span class="controls readonly">
                                     {{trabajador.car}}
                                </span>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <table ng-table="tablaResumenEvalPersonal" class="table table-condensed table-bordered">
                                        <colgroup>
<!--                                            <col width="5%" />-->
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="55%" />
                                            <col width="15%" />
                                        </colgroup>
                                        <tr ng-repeat="row in $data"  ng-class="{selected:row.$selected}" align="center">
<!--                                            <td data-title="'Código'" >{{row.det}}</td>-->
                                            <td data-title="'Fecha Evaluación'" >{{row.fec| date:'dd-MM-yyyy'}}</td>
                                            <td data-title="'Puntaje'" >{{row.pun}}</td>
                                            <td data-title="'Etapa'" ><span ng-if="row.eta === 'i'"> Inicio</span><span ng-if="row.eta === 'p'"> Proceso</span><span ng-if="row.eta === 'f'">Final</span></td>
                                            <td data-title="'Resultado'" >{{row.res}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<!--Modal EVALUACION PERSONAL-ESTADISTICAS-->
<div class="modal fade" id="modalEvaluacionPersonalEstadistica" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">EVALUACIÓN PERSONAL</h4>
            </div>
            <div class="modal-body">
                <canvas id="line" class="chart chart-line" chart-data="evalPersEsta.data"
                        chart-labels="evalPersEsta.labels" chart-series="evalPersEsta.series" chart-options="evalPersEsta.options"
                        chart-dataset-override="evalPersEsta.datasetOverride"> 
                </canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>