<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Detalle Unidad de Aprendizaje</h4>
            </header>
            <div class="panel-body">
                <uib-tabset active="active" justified="true">
                    <uib-tab index="0" heading="Datos Generales">
                        <div class="form-panel">
                            <div class="form-horizontal style-form" >
                                <fieldset >
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Descripcion</h4>
                                    </header>
                                    <div class="panel-body">
                                        <!--Datos de la unidad de aprendizaje-->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form role="form">
                                                    <div class="form-group">
                                                        <label class="control-label">Programacion:</label>
                                                        <div class="controls readonly">
                                                            {{ctrl.unidad.prog.nom}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Área:</label>
                                                        <div class="controls readonly">
                                                            {{ctrl.unidad.are.nom}}
                                                        </div>                                                           
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Grado:</label>
                                                        <div class="controls readonly">
                                                            {{ctrl.unidad.grad.nom}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Unidad:</label>
                                                        <div class="controls readonly">
                                                            {{ctrl.unidad.tit}}
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset >
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Aprendizajes Esperados</h4>
                                        <span class="tools pull-right">
                                            <button type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.agregarCompetencia()">Agregar</button>
                                            <button ng-if="!ctrl.editIndicadores" type="submit" class="btn btn-warning btn-xs" ng-click="ctrl.editIndicadores = !ctrl.editIndicadores">Editar</button>
                                            <button ng-if="ctrl.editIndicadores" type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.registrarIndicadores()">Guardar</button>
                                        </span>
                                    </header>
                                    <div class="panel-body">
                                        <!--Aprendizajes Esperados-->
                                        <div>
                                            <!--<div class="col-lg-12 col-xs-12"></div>-->
                                            <table class="table table-bordered table-hover table-condensed editable-table">
                                                <colgroup>
                                                    <col width="15%" />
                                                    <col width="3%" />
                                                    <col width="15%" />
                                                    <col width="3%" />
                                                    <col width="64%" />
                                                </colgroup>
                                                <tr>
                                                    <th colspan="2">Compentencias</th>
                                                    <th colspan="2">Capacidades</th>
                                                    <th>Indicadores</th>
                                                </tr>
                                                <tr ng-repeat-start="comp in ctrl.competenciasapr track by comp.id" ng-if="false"></tr>
                                                <tr ng-repeat-start="cap in comp.capacidades track by cap.id" ng-if="false"></tr>
                                                <tr ng-repeat="ind in cap.indicadores">
                                                    <td ng-if="$parent.$first && $first" rowspan="{{comp.numInd}}">
                                                        <span>{{comp.nom}}</span>
                                                    </td>
                                                    <td ng-if="$parent.$first && $first" rowspan="{{comp.numInd}}">
                                                        <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="ctrl.quitarAprendizajeEsperado($event,'comp',comp.id,-1)">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </td>
                                                    <td ng-if="$first" rowspan="{{cap.indicadores.length}}">
                                                        <span>{{cap.nom}}</span>
                                                    </td>
                                                    <td  ng-if="$first" rowspan="{{cap.indicadores.length}}">
                                                        <button ng-if="comp.capacidades.length > 1" class="btn btn-danger btn-xs md-primary md-raised" ng-click="ctrl.quitarAprendizajeEsperado($event,'cap',comp.id,cap.id)">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox"  id="{{checkInd + ind.id}}" ng-disabled="!ctrl.editIndicadores" ng-model="ind.sele" ng-change="ctrl.agregarIndicadorUnidad(comp,cap,ind)">
                                                        <label style="display:initial;" for="{{checkInd + ind.id}}">{{ind.nom}}</label>

                                                    </td>
                                                </tr>
                                                <tr ng-repeat-end ng-if="false"></tr> <!-- classes -->
                                                <tr ng-repeat-end ng-if="false"></tr> <!-- professors -->
                                            </table>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </uib-tab>
                    <!--producto y materiales-->
                    <uib-tab index="1" heading="Productos y Materiales">
                        <div class="form-panel">
                            <div class="form-horizontal style-form" >
                                <fieldset >
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Materiales</h4>
                                            <span class="tools pull-right">
                                                <button type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.agregarMaterialUnidad()">Agregar</button>
                                            </span>
                                    </header>
                                    <div class="panel-body">
                                        <table ng-table="ctrl.tablaMaterialesUnidad" class="table table-bordered table-hover table-condensed editable-table">
                                            <colgroup>
                                                <col width="5%"/>
                                                <col width="20%"/>
                                                <col width="30%"/>
                                                <col width="30%"/>
                                                <col width="5%"/>
                                                <col width="10%"/>
                                            </colgroup>
                                            <tr ng-repeat="row in $data" ng-form="rowSession">
                                                <td data-title="'N°'"><span>{{$index + 1}}</span></td>
                                                <td data-title="'Tipo de Material'">
                                                    <span ng-if="row.tip == 'L'">Libro</span>
                                                    <span ng-if="row.tip == 'E'">Escritorio</span>
                                                </td>
                                                <td data-title="'Nombre Material'"><span>{{row.nom}}</span></td>
                                                <td data-title="'Descripcion'"><span>{{row.des}}</span></td>
                                                <td data-title="'Cantidad'"><span>{{row.can}}</span></td>
                                                <td>
                                                    <button class="btn btn-primary btn-xs" title="Editar Material" ng-click="ctrl.editarMaterialUnidad(row)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" title="Eliminar Material" ng-click="ctrl.eliminarMaterial($event,row)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </fieldset>
                                <fieldset >
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Productos</h4>
                                        <span class="tools pull-right">
                                            <button ng-if="!ctrl.saveProdUnidad" class="btn btn-primary btn-xs" ng-click="ctrl.agregarProductosUnidad()">Agregar</button>
                                            <button ng-if="ctrl.saveProdUnidad" type="submit" class="btn btn-warning btn-xs" ng-click="ctrl.guardarProductosUnidad()">Guardar</button>
                                        </span>
                                    </header>
                                    <div class="panel-body">
                                        <ul class="list-group">

                                            <li class="list-group-item" ng-repeat="pro in ctrl.productosUnidad">
                                                <h4>Producto {{$index + 1}}</h4>
                                                <div ng-switch="pro.edit">
                                                    <span ng-switch-default>
                                                        <span>{{pro.nom}}</span>
                                                        <span class="tools pull-right">
                                                            <button class="btn btn-danger btn-xs" ng-if="!pro.edit" title="Eliminar Producto" ng-click="ctrl.eliminarProductosUnidad($event,pro)">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                            </button>
                                                        </span>
                                                    </span>
                                                    <span ng-switch-when="true">
                                                        <input type="text" class="form-control" ng-model="pro.nom">
                                                    </span>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </uib-tab>
                    <!--sesiones de aprendizaje-->
                    <uib-tab index="2" heading="Sesiones de Aprendizaje">
                        <div class="form-panel">
                            <div class="form-horizontal style-form" >
                                <section ng-show="ctrl.showSesiones">
                                    <fieldset >
                                        <header class="panel-heading">
                                            <h4 style="display:inline;line-height: 1.9">Sesiones de Aprendizaje</h4>
                                            <span class="tools pull-right">
                                                <button type="submit" class="btn btn-primary btn-sm" ng-click="ctrl.agregarSesionAprendizaje()">Agregar</button>
                                            </span>
                                        </header>
                                        <div class="panel-body">
                                            <table ng-table="ctrl.sesionesUnidad" class="table table-bordered table-hover table-condensed editable-table">
                                                <colgroup>
                                                    <col width="5%"/>
                                                    <col width="40%"/>
                                                    <col width="15%"/>
                                                    <col width="15%"/>
                                                    <col width="10%"/>
                                                    <col width="15%"/>
                                                </colgroup>
                                                <tr ng-repeat="row in $data" ng-form="rowSession">
                                                    <td data-title="'N°'"><span>{{row.numSes}}</span></td>
                                                    <td data-title="'Nombre de Session'"><span>{{row.tit}}</span></td>
                                                    <td data-title="'Fecha de Inicio'"><span>{{row.ini | date:'dd-MM-yyyy'}}</span></td>
                                                    <td data-title="'Fecha de Fin'"><span>{{row.fin | date:'dd-MM-yyyy' }}</span></td>
                                                    <td data-title="'Estado'">
                                                        <span class="label label-mini" ng-class="{'label-success': row.est=='A','label-warning': row.est=='F','label-info' : row.est =='I'}">{{ctrl.mostrarNivelAvance(row.est)}}</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-warning btn-xs" data-toggle="tooltip" title="Desarollar Sesion" ng-click="ctrl.desarrollarSesion(row)">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </button>
                                                        <button class="btn btn-primary btn-xs" title="Editar Sesion de Aprendizaje" ng-click="ctrl.editarSesionAprendizaje(row)">
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </button>
                                                        <button class="btn btn-danger btn-xs md-primary md-raised" title="Eliminar Sesion de Aprendizaje" ng-click="ctrl.eliminarSesionAprendizaje($event,row)">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </fieldset>
                                </section>
                                <section ng-show="!ctrl.showSesiones">
                                    <fieldset >
                                        <header class="panel-heading">
                                            <h4 style="display:inline;line-height: 1.9">Datos Generales de la Sesión</h4>
                                            <span class="tools pull-right">
                                                <button type="submit" class="btn btn-primary btn-sm" ng-click="ctrl.backSesionList()"> <span class="glyphicon glyphicon-arrow-left"></span> Regresar</button>
                                                <button type="submit" class="btn btn-success btn-sm" ng-click="ctrl.finalizarSesion()"> <span class="glyphicon glyphicon-ok"></span> Finalizar Sesion</button>
                                            </span>
                                        </header>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <form role="form">                                                        
                                                        <div class="form-group">
                                                            <label class="control-label">Sesión:</label>
                                                            <div class="controls readonly">
                                                                {{ctrl.currentSession.tit}}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Fecha Inicio:</label>
                                                            <div class="controls readonly">
                                                                {{ctrl.currentSession.ini | date:'dd-MM-yyyy' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Fecha Fin:</label>
                                                            <div class="controls readonly">
                                                                {{ctrl.currentSession.fin | date:'dd-MM-yyyy' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Estado:</label>
                                                            <div class="controls readonly">
                                                                {{ctrl.currentSession.est}}
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-default" is-open="ctrl.status[0].open">
                                                <uib-accordion-heading>
                                                    <h4 style="display:inline;line-height: 1.9">Aprendizajes Esperados
                                                        <span class="pull-right glyphicon" >
                                                            <i ng-class="{'glyphicon-chevron-down': ctrl.status[0].open, 'glyphicon-chevron-right': !ctrl.status[0].open}"></i>
                                                        </span>
                                                        <span class="tools">
                                                            <button ng-if="!ctrl.editIndicadoresSes" type="submit" class="btn btn-warning btn-xs" ng-click="ctrl.editIndicadoresSes = !ctrl.editIndicadoresSes">Editar</button>
                                                            <button ng-if="ctrl.editIndicadoresSes" type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.registrarIndicadoresSes()">Guardar</button>
                                                        </span>

                                                    </h4>
                                                </uib-accordion-heading>
                                                <!--<header class="panel-heading">
                                                    <span class="tools pull-right">
                                                        <button ng-if="!ctrl.editIndicadoresSes" type="submit" class="btn btn-warning btn-xs" ng-click="ctrl.editIndicadoresSes = !ctrl.editIndicadoresSes">Editar</button>
                                                        <button ng-if="ctrl.editIndicadoresSes" type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.registrarIndicadoresSes()">Guardar</button>
                                                    </span>
                                                </header>-->
                                                <div class="panel-body">
                                                    <table class="table table-bordered table-hover table-condensed editable-table">
                                                        <colgroup>
                                                            <col width="15%" />
                                                            <col width="15%" />
                                                            <col width="70%" />
                                                        </colgroup>
                                                        <tr>
                                                            <th>Competencias</th>
                                                            <th>Capacidades</th>
                                                            <th>Indicadores</th>
                                                        </tr>
                                                        <tr ng-repeat-start="comp in ctrl.competenciasSesapr track by comp.id" ng-if="false"></tr>
                                                        <tr ng-repeat-start="cap in comp.capacidades track by cap.id" ng-if="false"></tr>
                                                        <tr ng-repeat="ind in cap.indicadores">
                                                            <td ng-if="$parent.$first && $first" rowspan="{{comp.numInd}}">
                                                                <span>{{comp.nom}}</span>
                                                            </td>
                                                            <td ng-if="$first" rowspan="{{cap.indicadores.length}}">
                                                                <span>{{cap.nom}}</span>
                                                            </td>
                                                            <td>

                                                                <input type="checkbox"  id="{{'checkSesInd' + ind.id}}" ng-disabled="!ctrl.editIndicadoresSes" ng-model="ind.sele" ng-change="ctrl.agregarIndicadorUnidadSes(comp,cap,ind)">
                                                                <label style="display:initial;" for="{{checkInd + ind.id}}">{{ind.nom}}</label>

                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat-end ng-if="false"></tr> <!-- classes -->
                                                        <tr ng-repeat-end ng-if="false"></tr> <!-- professors -->
                                                    </table>
                                                </div>
                                            </div>
                                        </uib-accordion>
                                    </fieldset>
                                    <fieldset>
                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-default" is-open="ctrl.status[1].open">
                                                <uib-accordion-heading>
                                                    <h4 style="display:inline;line-height: 1.9">
                                                        Secuencias Didacticas
                                                        <span class="tools">
                                                            <button type="submit" class="btn btn-warning btn-xs" ng-click="ctrl.agregarSequenciaDidactica()">Agregar</button>
                                                        </span>
                                                        <!--<span class="tools pull-right">
                                                            <button class="btn btn-default btn-xs md-primary md-raised">
                                                                <span class="glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.status[1].open, 'glyphicon-chevron-right': !ctrl.status[1].open}"></span>
                                                            </button>
                                                        </span>-->
                                                         <span class="tools pull-right">
                                                           <i class="glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.status[1].open, 'glyphicon-chevron-right': !ctrl.status[1].open}"></i>
                                                        </span>
                                                        <!--<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.status[1].open, 'glyphicon-chevron-right': !ctrl.status[1].open}"></i>-->
                                                    </h4>
                                                </uib-accordion-heading>
                                                <div class="panel-body">
                                                    <uib-accordion>
                                                        <div ng-repeat="seq in ctrl.sequenciasDidacticas" uib-accordion-group class="panel-default">
                                                            <uib-accordion-heading>
                                                                <h5 style="display:inline;line-height: 1.9">{{seq.nom}}

                                                                    <span class="tools pull-right">
                                                                        <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="ctrl.eliminarSequenciaDidactica($event,seq)">
                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                        </button>
                                                                    </span>
                                                                    <!--<span class="tools pull-right">
                                                                        <button class="btn btn-primary btn-xs md-primary md-raised" ng-click="ctrl.editarSequenciaDidactica()">
                                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                                        </button>
                                                                    </span>-->
                                                                </h5>
                                                            </uib-accordion-heading>
                                                            <uib-accordion>
                                                                <div ng-repeat="secc in seq.cont" uib-accordion-group class="panel-default">
                                                                    <uib-accordion-heading>
                                                                        <h5 style="display:inline;line-height: 1.9">{{secc.nom + ' (' + secc.dur + ' minutos)'}}</h5>
                                                                    </uib-accordion-heading>
                                                                    <table  class="table table-bordered table-hover table-condensed editable-table">
                                                                        <colgroup>
                                                                            <col width="5%" />
                                                                            <col width="45%" />
                                                                            <col width="50%" />
                                                                        </colgroup>
                                                                        <tr>
                                                                            <th>N°</th>
                                                                            <th>Nombre</th>
                                                                            <th>Descripcion</th>
                                                                        </tr>
                                                                        <tr ng-repeat="act in secc.activs" ng-form="rowSecuencia">
                                                                            <td><span>{{$index + 1}}</span></td>
                                                                            <td><span>{{act.nom}}</span></td>
                                                                            <td><span>{{act.des}}</span></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </uib-accordion>
                                                        </div>
                                                    </uib-accordion>
                                                </div>
                                            </div>
                                        </uib-accordion>
                                    </fieldset>
                                    <fieldset>
                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-default" is-open="ctrl.status[2].open">
                                                <uib-accordion-heading>
                                                    <h4 style="display:inline;line-height: 1.9">
                                                        Tareas para trabajar en casa
                                                        <span class="tools">
                                                            <button type="submit" class="btn btn-warning btn-xs" ng-click="ctrl.agregarTareaSesion(usuMaster.usuario.usuarioID)">Agregar</button>
                                                        </span>
                                                        <span class="tools pull-right">
                                                           <i class="glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.status[2].open, 'glyphicon-chevron-right': !ctrl.status[2].open}"></i>
                                                        </span>
                                                    </h4>
                                                </uib-accordion-heading>
                                                <div class="panel-body">
                                                    <table ng-table="ctrl.tareasSesion" class="table table-bordered table-hover table-condensed editable-table">
                                                        <colgroup>
                                                            <col width="5%" />
                                                            <col width="20%" />
                                                            <col width="20%" />
                                                            <col width="25%" />
                                                            <col width="20%" />
                                                            <col width="10%" />
                                                        </colgroup>
                                                        <tr ng-repeat="row in $data">
                                                            <td ng-form="num" data-title="'N°'"><span>{{$index + 1}}</span></td>
                                                            <td filter="{nom: 'text'}"  ng-form="nom" data-title="'Nombre'">
                                                                <span ng-hide="row.edi" >{{row.nom}}</span>
                                                                <span ng-show="row.edi">
                                                                    <input type="text" ng-model="row.nom" />
                                                                </span>
                                                            </td>
                                                            
                                                            <td filter="{des: 'text'}"  ng-form="des" data-title="'Descripcion'">
                                                                <span ng-hide="row.edi" ng-click="" >{{row.des}}</span>
                                                                <span ng-show="row.edi">
                                                                    <input type="text" ng-model="row.des" />
                                                                </span>
                                                                
                                                            </td>
                                                            
                                                            <td ng-form="des" data-title="'Fecha de entrega'">
                                                                 <span ng-hide="row.edi">{{row.fec | date:'dd-MM-yyyy'}}</span>
                                               
                                                                <span ng-show="row.edi">
                                                                    <span ng-hide="row.edi">{{row.fec | date:'dd-MM-yyyy'}}</span>
                                                                    <span ng-show="row.edi">
                                                                        <md-datepicker ng-model="row.fec" md-placeholder="Fecha de Entrega"></md-datepick>
                                                                    </span>
                                              
                                                                </span>
                                                            </td>
                                                            
                                                            <td filter="{sec: 'text'}"  ng-form="sec" data-title="'Seccion'"><span>{{row.sec}}</span></td>
                                                            <td>
                                                                <button class="btn btn-warning btn-xs" data-toggle="tooltip" ng-hide="row.edi" title="Ver Tarea" ng-click="ctrl.verTareaWeb(row)">
                                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                                </button>
                                                                <button class="btn btn-primary btn-xs" data-toggle="tooltip" ng-hide="row.edi" title="Editar Tarea" ng-click="ctrl.prepararEditar(row)">
                                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                                </button>
                                                                <span ng-show="row.edi">
                                                                    <button type="button" title="Confirmar Edicion" class="btn btn-primary btn-xs" ng-click="ctrl.EditarTareaWeb(row)"><i class="fa fa-check" ></i></button>
                                                                    <button type="button" title="Deshacer Edicion" class="btn btn-xs" ng-click="ctrl.enableTarea(row)"><i class="fa fa-times"></i></button>
                                                                </span>
                                                                
                                                                
                                                                 <button class="btn btn-danger btn-xs" ng-hide="row.edi" data-toggle="tooltip" title="Eliminar Tarea" ng-click="ctrl.eliminarTareaSesion($event,row)">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                                
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </uib-accordion>
                                    </fieldset>
                                    <!--<fieldset>
                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-default" is-open="ctrl.status[3].open">
                                                <uib-accordion-heading>
                                                    <h4 style="display:inline;line-height: 1.9">
                                                        Materiales y Recursos a Utilizar
                                                        <span class="tools">
                                                            <button type="submit" class="btn btn-warning btn-xs" ng-click="ctrl.agregarMaterialesSesion()">Agregar</button>
                                                        </span>
                                                        <span class="tools pull-right">
                                                           <i class="glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.status[3].open, 'glyphicon-chevron-right': !ctrl.status[3].open}"></i>
                                                        </span>
                                                    </h4>
                                                </uib-accordion-heading>
                                                <div class="panel-body">
                                                </div>
                                            </div>
                                        </uib-accordion>
                                    </fieldset>-->

                                </section>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="3" heading="Evaluaciones">
                        <div class="form-panel">
                            <div class="form-horizontal style-form" >
                                <fieldset>
                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-default" is-open="ctrl.status[0].open">
                                                <uib-accordion-heading>
                                                    <h4 style="display:inline;line-height: 1.9">Aprendizajes Esperados
                                                        <span class="pull-right glyphicon" >
                                                            <i ng-class="{'glyphicon-chevron-down': ctrl.status[0].open, 'glyphicon-chevron-right': !ctrl.status[0].open}"></i>
                                                        </span>
                                                    </h4>
                                                </uib-accordion-heading>
                                                <!--<header class="panel-heading">
                                                    <span class="tools pull-right">
                                                        <button ng-if="!ctrl.editIndicadoresSes" type="submit" class="btn btn-warning btn-xs" ng-click="ctrl.editIndicadoresSes = !ctrl.editIndicadoresSes">Editar</button>
                                                        <button ng-if="ctrl.editIndicadoresSes" type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.registrarIndicadoresSes()">Guardar</button>
                                                    </span>
                                                </header>-->
                                                <div class="panel-body">
                                                    <table class="table table-bordered table-hover table-condensed editable-table">
                                                        <colgroup>
                                                            <col width="15%" />
                                                            <col width="15%" />
                                                            <col width="70%" />
                                                        </colgroup>
                                                        <tr>
                                                            <th>Competencias</th>
                                                            <th>Capacidades</th>
                                                            <th>Indicadores</th>
                                                        </tr>
                                                        <tr ng-repeat-start="comp in ctrl.competenciasapr track by comp.id" ng-if="false"></tr>
                                                        <tr ng-repeat-start="cap in comp.capacidades track by cap.id" ng-if="false"></tr>
                                                        <tr ng-repeat="ind in cap.indicadores">
                                                            <td ng-if="$parent.$first && $first" rowspan="{{comp.numInd}}">
                                                                <span>{{comp.nom}}</span>
                                                            </td>
                                                            <td ng-if="$first" rowspan="{{cap.indicadores.length}}">
                                                                <span>{{cap.nom}}</span>
                                                            </td>
                                                            <td>

                                                                <input type="checkbox"  id="{{'checkSesInd' + ind.id}}" ng-disabled="!ctrl.editIndicadoresSes" ng-model="ind.sele" ng-change="ctrl.agregarIndicadorUnidadSes(comp,cap,ind)">
                                                                <label style="display:initial;" for="{{checkInd + ind.id}}">{{ind.nom}}</label>

                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat-end ng-if="false"></tr> <!-- classes -->
                                                        <tr ng-repeat-end ng-if="false"></tr> <!-- professors -->
                                                    </table>
                                                </div>
                                            </div>
                                        </uib-accordion>
                                    </fieldset>
                               
                               
                                 <fieldset >
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Evaluaciones de Unidad</h4>
                                        <span class="tools pull-right">
                                            <button type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.agregarEvaluacionUnidad(usuMaster.usuario.usuarioID)">Agregar</button>
                                        </span>
                                    </header>
                                    <div class="panel-body">
                                        <table ng-table="ctrl.evaluacionesUnidad" class="table table-bordered table-hover table-condensed editable-table">
                                            <colgroup>
                                                <col width="5%" />
                                                <col width="20%" />
                                                <col width="20%" />
                                                <col width="25%" />
                                                <col width="20%" />
                                                <col width="10%" />
                                            </colgroup>
                                             
                                            <tr ng-repeat="row in $data">
                                                <td ng-form="num" data-title="'N°'"><span>{{$index + 1}}</span></td>
                                                <td filter="{nom: 'text'}" ng-form="nom" data-title="'Nombre'">
                                                    <span ng-hide="row.edi" >{{row.nom}}</span>
                                                    <span ng-show="row.edi">
                                                        <input type="text" ng-model="row.nom" />
                                                    </span>
                                                </td>
                                                <td filter="{tip: 'text'}"  ng-form="nom" data-title="'Tipo'">
                                                    
                                                    <span ng-hide="row.edi">{{ctrl.mostrarTipoEvaluacionUnidad(row.tip)}}</span>
                                                    <span ng-show="row.edi">
                                                         <select class="form-control" ng-model="row.tip"  ng-options="s.nom for s in ctrl.tiposEvaluaciones track by s.id"></select>
                                    
                                                    </span>
                                                    
                                                </td>
                                                <td filter="{des: 'text'}"  ng-form="des" data-title="'Descripcion'">
                                                    <span ng-hide="row.edi" >{{row.des}}</span>
                                                    <span ng-show="row.edi">
                                                        <input type="text" ng-model="row.des" />
                                                    </span>
                                                </td>
                                                <td ng-form="des" data-title="'Fecha de entrega'">
                                                    <span ng-hide="row.edi">{{row.fec | date:'dd-MM-yyyy'}}</span>
                                                    <span ng-show="row.edi">
                                                        <md-datepicker ng-model="row.fec" md-placeholder="Fecha"></md-datepick>
                                                    </span>
                                                </td>
                                                <td data-title="'Accion'">
                                                    <button class="btn btn-warning btn-xs" ng-hide="row.edi" title="Visualizar Evaluacion" ng-click="ctrl.verEvaluacion(row)">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </button>
                                                    <button class="btn btn-primary btn-xs" ng-hide="row.edi" data-toggle="tooltip" title="Editar Evaluacion" ng-click="ctrl.prepararEvaEditar(row)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs" ng-hide="row.edi" data-toggle="tooltip" title="Eliminar Evaluacion" ng-click="ctrl.eliminarEvaluacionUnidad($event,row)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                       
                                                    <span ng-show="row.edi">
                                                         
                                                          <button type="button" class="btn btn-primary btn-xs" title="Confirmar Edicion" ng-click="ctrl.editarEvaluacionUnidad(row)"><i class="fa fa-check" ></i></button>
                                                          <button type="button" class="btn btn-xs" title="Cancelar Edicion" ng-click="ctrl.enableTarea(row)"><i class="fa fa-times"></i></button>
                                                    </span>
                                                    
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="registrar_evaluacion_unidad_didactica.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre de la Evaluacion: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="ctrl.eva.nom"></input>
                        </div>
                    </div>
 
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Tipo Evaluacion: </label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="ctrl.eva.tip"  ng-options="s.nom for s in ctrl.tiposEvaluaciones track by s.id"></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion: </label>
                        <div class="col-sm-6">
                            <textarea class="form-control" ng-model="ctrl.eva.des"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Seccion :</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="ctrl.eva.sec" >
                                 <option value=""></option>
                                 <option ng-repeat="s in ctrl.secc" value="{{s}}">{{s}}</option>
                            </select>
                        </div>
            
                    </div>
            
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha de Entrega:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                            <input name="fec" type="text" class="form-control"  uib-datepicker-popup="dd-MM-yyyy" ng-model="ctrl.eva.fec" is-open="ctrl.abrirCalendar"
                                   datepicker-options="ctrl.dateOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="registrar_tarea_sesion_aprendizaje.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre: </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="ctrl.tar.nom"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion: </label>
                        <div class="col-sm-4">
                            <textarea class="form-control" ng-model="ctrl.tar.des"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Modalidad : </label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="ctrl.tar.tipo" >
                                 <option value=""></option>
                                 <option ng-repeat="t in ctrl.tipo" value="{{t.id}}">{{t.nombre}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Fecha de Entrega:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                            <input name="fec" type="text" class="form-control"  uib-datepicker-popup="dd-MM-yyyy" ng-model="ctrl.tar.fec" is-open="ctrl.abrirCalendar"
                                   datepicker-options="ctrl.dateOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Seccion :</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="ctrl.tar.sec" >
                                 <option value=""></option>
                                 <option ng-repeat="s in ctrl.secc" value="{{s}}">{{s}}</option>
                            </select>
                        </div>
                    
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="actualizar_tarea_sesion_aprendizaje.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre: </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="ctrl.tar.nom"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion: </label>
                        <div class="col-sm-4">
                            <textarea class="form-control" ng-model="ctrl.tar.des"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Fecha de Entrega:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                            <input name="fec" type="text" class="form-control"  uib-datepicker-popup="dd-MM-yyyy" ng-model="ctrl.tar.fec" is-open="ctrl.abrirCalendar"
                                   datepicker-options="ctrl.dateOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Seccion :</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="ctrl.tar.sec" >
                                 <option value=""></option>
                                 <option ng-repeat="s in ctrl.secc" value="{{s}}">{{s}}</option>
                            </select>
                        </div>
                    
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>



<script type="text/ng-template" id="material_recurso_unidad.html">
    <div class="modal-fade" data-backdrop="false" >
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Tipo: </label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrl.mat.tip"  ng-options="s.nom for s in ctrl.tiposMaterial track by s.cod"></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre: </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="ctrl.mat.nom"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion: </label>
                        <div class="col-sm-4">
                            <textarea class="form-control" ng-model="ctrl.mat.des"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Cantidad: </label>
                        <div class="col-sm-4">
                            <input type="number" max="10" min="1" class="form-control" ng-model="ctrl.mat.can"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="sesion_aprendizaje.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Orden Sesion: </label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" ng-model="ctrl.ses.numSes"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Titulo: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.ses.tit"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Fecha de Inicio:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-10 form-inline">
                            <input name="fecini" type="text" class="form-control"  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="ctrl.ses.ini" is-open="ctrl.abrirIniCalendar"
                                   datepicker-options="ctrl.dateIniOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" required/>
                            <span ng-show="myForm.fecini.$error.required">Este Campo es Requerido</span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openIniCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>

                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Fecha de Fin:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-10 form-inline" >
                            <input name="fecfin" type="text" class="form-control"  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="ctrl.ses.fin" is-open="ctrl.abrirFinCalendar"
                                   datepicker-options="ctrl.dateFinOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" required/>
                            <span ng-show="myForm.fecini.$error.required">Este Campo es Requerido</span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openFinCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="aprendizajes_esperados.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <section-table model="ctrl.model"></section-table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="sequencia_didactica.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre: </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="ctrl.seq.nom"/>
                        </div>
                    </div>
                </form>
                <uib-tabset active="activeForm">
                    <uib-tab index="$index + 1" ng-repeat="(findex,tab) in ctrl.seqSecTabs"  heading="{{tab.nom}}">
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar  Contenido</h5>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal style-form">
                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">Duracion(min): </label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" ng-model="tab.dur"/>
                                    </div>
                                </div>
                            </form>
                            <table ng-table="ctrl.contenidoSecciones[$index]" class="table table-bordered table-hover table-condensed editable-table">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="35%" />
                                    <col width="50%" />
                                    <col width="10%" />
                                </colgroup>
                                <tr>
                                    <th>N°</th>
                                    <th>Actividad</th>
                                    <th>Descripcion</th>
                                    <th>
                                        <button class="btn btn-primary btn-xs" ng-disabled = "ctrl.isSavingContSecc" ng-click="ctrl.nuevActividadSecc($index)">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </button>
                                    </th>
                                </tr>
                                <tr ng-repeat="row in $data">
                                    <td ng-form="index">
                                        <span>{{$index +1}}</span>
                                    </td>
                                    <td ng-form="nom" ng-switch="row.edit">
                                        <span ng-switch-default>{{row.nom}}</span>
                                        <div class="controls"   ng-switch-when="true">
                                            <input type="text" name="nom" ng-model="row.nom" class="editable-input form-control input-sm" required />
                                        </div>
                                    </td>
                                    <td ng-form="des" ng-switch="row.edit">
                                        <span ng-switch-default>{{row.des}}</span>
                                        <div class="controls"   ng-switch-when="true">
                                            <input type="text" name="des" ng-model="row.des" class="editable-input form-control input-sm" required />
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" ng-if="!row.edit" ng-click="ctrl.editarActividadSeccion(findex,$index,row)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button class="btn btn-primary btn-xs" ng-if="row.edit" ng-click="ctrl.aceptarEdicionActividadSeccion(findex,$index,row)">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="!row.edit" ng-click="ctrl.eliminarActividadSeccion(findex,$index,row)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="row.edit" ng-click="ctrl.cancelarEdicionActividadSeccion(findex,$index,row)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>

<!--
<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="example.js"></script>
    <style>
      .nav-tabs{float:left;}
      .contect-tabs{float:left;}
    </style>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="TabsDemoCtrl">
  <p>Select a tab by setting active binding to true:</p>

  <uib-tabset vertical="true" type="tabs">
    <uib-tab heading="Vertical 1">Vertical content 1</uib-tab>
    <uib-tab heading="Vertical 2">Vertical content 2</uib-tab>
  </uib-tabset>

</div>
  </body>
</html>

-->