<div class="modal fade"  id="modalAgregarDesplazamiento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo: </label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoDesplazamiento.tip" >
                                   <option ng-repeat="t in tiposDesplazamientos" value="{{t.id}}">{{t.title}}</option>
                                </select>
                            </div>
                        </div>
                    
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de resolución: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de resolución" ng-model="nuevoDesplazamiento.numRes">
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de resolución: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoDesplazamiento.fecRes" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Institución educativa: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Institución educativa" ng-model="nuevoDesplazamiento.insEdu">
                            </div>
                        </div> 
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Cargo </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Cargo" ng-model="nuevoDesplazamiento.car">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Jornada Laboral: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Jornada Laboral" ng-model="nuevoDesplazamiento.jorLab">
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de inicio: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoDesplazamiento.fecIni" 
                                           is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de término: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoDesplazamiento.fecTer" 
                                           is-open="date_3" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_3 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Adjuntar resolución </label>
                            <div class="col-sm-3 form-inline">
                                <input-file nombre="nuevoLegajoDes.nom" archivo="nuevoLegajoDes.archivo"></input-file>
                                <view-file url="{{nuevoLegajoDes.url}}" nombre="nuevoLegajoDes.nom" archivo="nuevoLegajoDes.archivo" vernombre='true'></view-file>
                            </div>
                        </div> 

                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarDesplazamiento()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
