<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                REGISTRAR FICHA ESCALAFONARIA 
            </header>
            <div class="panel-body">
                <uib-tabset id="tabRegistrarFichaEscalafonaria" active="tabPrincipal" justified="true" >
                    <uib-tab index="0" heading="Datos personales"> 
                        <br>
                        <div class="row">
                            <div class = "col-sm-2">
                                <uib-tabset active="tabDatosPersonales" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                    <uib-tab index="0" heading="General" style="text-align: justify" ng-click="updateOptions(0, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="1" heading="Nacimiento" style="text-align: justify" ng-click="updateOptions(1, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="2" heading="Domicilio" style="text-align: justify;" ng-click="updateOptions(2, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="3" heading="Regimen pensionario" style="text-align: justify;" ng-click="updateOptions(3, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="4" heading="Tipo de servidor" style="text-align: justify;" ng-click="updateOptions(4, optionsDatosPersonales)"></uib-tab>
                                </uib-tabset>
                            </div>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[0]" ng-hide="!optionsDatosPersonales[0]" >
                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Apellido Paterno: </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="Apellido Paterno"  ng-model="nuevaPersona.apePat" required>
                                    </div>
                                </div> 

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Apellido Materno: </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="Apellido Materno" ng-model="nuevaPersona.apeMat" required>
                                    </div>
                                </div> 

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Nombres: </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="Nombres" ng-model="nuevaPersona.nom" required>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Sexo: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="nuevaPersona.sex">
                                            <option ng-repeat="s in sexo" value="{{s.id}}">{{s.title}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Estado civil: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="nuevaPersona.estCiv">
                                            <option ng-repeat="ec in estadoCivil" value="{{ec.id}}">{{ec.title}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">DNI: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="DNI" ng-model="nuevaPersona.dni" required>
                                    </div>

                                    <div class="col-sm-3 form-inline">
                                        <input-file nombre="legajoDatosPersonales[0].nom" archivo="legajoDatosPersonales[0].archivo"></input-file>
                                        <view-file url="{{legajoDatosPersonales[0].url}}" nombre="legajoDatosPersonales[0].nom" archivo="legajoDatosPersonales[0].archivo" vernombre='true'></view-file>
                                    </div>
                                </div>  
                                
                                <div class="form-group">
                                    <div class="form-inline col-sm-offset-1">
                                        <label class="control-label">¿Esta asegurado en ESSALUD?: </label>
                                        <div class="btn-group" data-toggle="buttons">
                                            <input type="radio" name="asegurado" ng-model="asegurado" value="SI"> SI
                                            <input type="radio" name="asegurado" ng-model="asegurado" value="NO"> NO
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group" ng-show="asegurado === 'SI'" >   
                                    <label class="col-sm-3 control-label ">Código Autogenerado de ESSALUD: </label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder="Código Autogenerado de ESSALUD" ng-model="nuevaFichaEscalafonaria.autEss">
                                    </div>
                                </div>
                                
                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Teléfono fijo: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="Teléfono fijo" ng-model="nuevaPersona.fij">
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Celular1: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="Celular1" ng-model="nuevaPersona.num1" required>
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Celular2: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="Celular2" ng-model="nuevaPersona.num2">
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Email: </label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder="e-mail" ng-model="nuevaPersona.email">
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[1]" ng-hide="!optionsDatosPersonales[1]" >
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Departamento: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model= "nuevaPersona.depNac" ng-change="loadProLugNac()">
                                            <option ng-repeat="depLugNac in departamentosLugNac" value="{{depLugNac.codigo_ubigeo}}" >{{depLugNac.nombre_ubigeo}}</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Provincia: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model= "nuevaPersona.proNac" ng-change="loadDisLugNac()">
                                            <option ng-repeat="proLugNac in provinciasLugNac" value="{{proLugNac.codigo_ubigeo}}">{{proLugNac.nombre_ubigeo}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Distrito: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model= "nuevaPersona.disNac">
                                            <option ng-repeat="disLugNac in distritosLugNac" value="{{disLugNac.codigo_ubigeo}}">{{disLugNac.nombre_ubigeo}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Fecha: </label>
                                    <div class="col-sm-3">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevaPersona.fecNac" 
                                                   is-open="date_3" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions" required/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="date_3 = true">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Adjuntar partida: </label>
                                    <div class="col-sm-3 form-inline">
                                        <input-file nombre="legajoDatosPersonales[1].nom" archivo="legajoDatosPersonales[1].archivo"></input-file>
                                        <view-file url="{{legajoDatosPersonales[1].url}}" nombre="legajoDatosPersonales[1].nom" archivo="legajoDatosPersonales[1].archivo" vernombre='true'></view-file>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[2]" ng-hide="!optionsDatosPersonales[2]" >
                                <br>
                                <div class="form-inline">
                                    <label class="control-label">¿La direccion de su DNI coincide con su domicilio actual?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" ng-model="options" value="SI" ng-change="changeDASi()"> SI
                                        <input type="radio" ng-model="options" value="NO" ng-change="changeDANo()"> NO
                                    </div>
                                </div>
                                <br>
                                <uib-accordion close-others="status_1.close" ng-show="options == 'SI' || options == 'NO'">
                                    <div uib-accordion-group class="panel-default" is-open="status_1.statusGD">
                                        <uib-accordion-heading>
                                            Direccion de DNI <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status_1.statusGD, 'glyphicon-chevron-right': !status_1.statusGD}"></i>
                                        </uib-accordion-heading>
                                        
                                        <br>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Departamento: </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "nuevaDireccionDNI.depDir" ng-change="loadProDirDNI()">
                                                    <option ng-repeat="depDir in departamentosDirDNI" value="{{depDir.codigo_ubigeo}}" >{{depDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Provincia: </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "nuevaDireccionDNI.proDir" ng-change="loadDisDirDNI()">
                                                    <option ng-repeat="proDir in provinciasDirDNI" value="{{proDir.codigo_ubigeo}}">{{proDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Distrito: </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "nuevaDireccionDNI.disDir">
                                                    <option ng-repeat="disDir in distritosDirDNI" value="{{disDir.codigo_ubigeo}}">{{disDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label ">Dirección: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Dirección" ng-model="nuevaDireccionDNI.nomDir">
                                            </div>
                                        </div>
                                        <br>

                                        <div class="form-inline" align="center">
                                            <div class="form-group ">   
                                                <label class="col-sm-1 control-label ">Nº: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Número" ng-model="nuevaDireccionDNI.num">
                                                </div>
                                            </div>

                                            <div class="form-group">   
                                                <label class="col-sm-2 control-label ">Dpto: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Departamento" ng-model="nuevaDireccionDNI.dpto">
                                                </div>
                                            </div>

                                            <div class="form-group ">   
                                                <label class="col-sm-2 control-label ">Int: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Interior" ng-model="nuevaDireccionDNI.int">
                                                </div>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="form-inline" align="center">
                                            <div class="form-group ">   
                                                <label class="col-sm-1 control-label ">Mz: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Manzana" ng-model="nuevaDireccionDNI.mz">
                                                </div>
                                            </div>

                                            <div class="form-group">   
                                                <label class="col-sm-2 control-label ">Lte: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Lote" ng-model="nuevaDireccionDNI.lote">
                                                </div>
                                            </div>

                                            <div class="form-group ">   
                                                <label class="col-sm-1 control-label ">Km: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Kilómetro" ng-model="nuevaDireccionDNI.km">
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="form-inline" align="center">
                                            <div class="form-group">   
                                                <label class="col-sm-2 control-label ">Bloque: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Bloque" ng-model="nuevaDireccionDNI.bloque">
                                                </div>
                                            </div>

                                            <div class="form-group">   
                                                <label class="col-sm-2 control-label">Etapa: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Etapa" ng-model="nuevaDireccionDNI.etapa">
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Nombre de zona: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Nombre de zona" ng-model="nuevaDireccionDNI.nomZon">
                                            </div>
                                        </div>

                                        <br>
                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Referencia: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Referencia" ng-model="nuevaDireccionDNI.desRef">
                                            </div>
                                        </div>
                                    </div>

                                    <div uib-accordion-group class="panel-default" is-open="status_1.statusLD" ng-show="options == 'NO'" ng-hide="options == 'SI'">
                                        <uib-accordion-heading>
                                            Direccion de domicilio actual <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status_1.statusLD, 'glyphicon-chevron-right': !status_1.statusLD}"></i>
                                        </uib-accordion-heading>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Departamento: </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "nuevaDireccionDA.depDir" ng-change="loadProDirDA()">
                                                    <option ng-repeat="depDir in departamentosDirDA" value="{{depDir.codigo_ubigeo}}" >{{depDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Provincia: </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "nuevaDireccionDA.proDir" ng-change="loadDisDirDA()">
                                                    <option ng-repeat="proDir in provinciasDirDA" value="{{proDir.codigo_ubigeo}}">{{proDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Distrito: </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "nuevaDireccionDA.disDir">
                                                    <option ng-repeat="disDir in distritosDirDA" value="{{disDir.codigo_ubigeo}}">{{disDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label ">Dirección: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Dirección" ng-model="nuevaDireccionDA.nomDir">
                                            </div>
                                        </div>
                                        <br>

                                        <div class="form-inline" align="center">
                                            <div class="form-group ">   
                                                <label class="col-sm-1 control-label ">Nº: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Número" ng-model="nuevaDireccionDA.num">
                                                </div>
                                            </div>

                                            <div class="form-group">   
                                                <label class="col-sm-2 control-label ">Dpto: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Departamento" ng-model="nuevaDireccionDA.dpto">
                                                </div>
                                            </div>

                                            <div class="form-group ">   
                                                <label class="col-sm-2 control-label ">Int: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Interior  " ng-model="nuevaDireccionDA.int">
                                                </div>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="form-inline" align="center">
                                            <div class="form-group ">   
                                                <label class="col-sm-2 control-label ">Mz: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Manzana" ng-model="nuevaDireccionDA.mz">
                                                </div>
                                            </div>

                                            <div class="form-group">   
                                                <label class="col-sm-2 control-label ">Lte: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Lote" ng-model="nuevaDireccionDA.lote">
                                                </div>
                                            </div>

                                            <div class="form-group ">   
                                                <label class="col-sm-2 control-label ">Km: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Kilómetro" ng-model="nuevaDireccionDA.km">
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="form-inline" align="center">
                                            <div class="form-group">   
                                                <label class="col-sm-2 control-label ">Bloque: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Bloque" ng-model="nuevaDireccionDA.bloque">
                                                </div>
                                            </div>

                                            <div class="form-group">   
                                                <label class="col-sm-2 control-label">Etapa: </label>
                                                <div class="col-sm-1">
                                                    <input type="text" class="form-control" placeholder="Etapa" ng-model="nuevaDireccionDA.etapa">
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Nombre de zona: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Nombre de zona" ng-model="nuevaDireccionDA.nomZon">
                                            </div>
                                        </div>

                                        <br>
                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Referencia: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Referencia" ng-model="nuevaDireccionDA.desRef">
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </form>
             
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[3]" ng-hide="!optionsDatosPersonales[3]" >
                                <div class="form-inline col-sm-offset-1">
                                    <label class="control-label">¿A que sistema de pensiones pertenece?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" ng-model="optionsSP" value="NO" ng-click="nuevaFichaEscalafonaria.sisPen = 'ONP'"> ONP
                                        <input type="radio" ng-model="optionsSP" value="SI" ng-click="nuevaFichaEscalafonaria.sisPen = 'AFP'"> AFP
                                    </div>
                                </div>
                                <br>
                                <div class="row" ng-show="optionsSP === 'SI'" >
                                    <div class="form-group ">   
                                        <label class="col-sm-3 control-label">Nombre AFP: </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" placeholder="Nombre de AFP" ng-model="nuevaFichaEscalafonaria.nomAFP">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group ">   
                                        <label class="col-sm-3 control-label">COD. CUSPP: </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" placeholder="Codigo CUSPP" ng-model="nuevaFichaEscalafonaria.codCuspp">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group ">   
                                        <label class="col-sm-3 control-label">Fecha de ingreso: </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" placeholder="Fecha de ingreso" ng-model="nuevaFichaEscalafonaria.fecIngAfp">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-inline col-sm-offset-1">
                                    <label class="control-label">¿Persona discapacitada?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" name="discapacidad" ng-model="discapacidad" value="SI" ng-change="changeDiscapacidadSi()"> SI
                                        <input type="radio" name="discapacidad" ng-model="discapacidad" value="NO" ng-change="changeDiscapacidadNo()"> NO
                                    </div>
                                </div>
                                <br>
                                <div class="row" ng-show="discapacidad === 'SI'" > 
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label ">Registro CONADIS: </label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" placeholder="Nº Registro CONADIS" ng-model="nuevaFichaEscalafonaria.regCon">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-sm-offset-1">   
                                        <label class="col-sm-3 control-label ">Adjuntar documento sustentatorio: </label>
                                        <div class="col-sm-3 form-inline">
                                            <input-file nombre="legajoDatosPersonales[2].nom" archivo="legajoDatosPersonales[2].archivo"></input-file>
                                            <view-file url="{{legajoDatosPersonales[2].url}}" nombre="legajoDatosPersonales[2].nom" archivo="legajoDatosPersonales[2].archivo" vernombre='true'></view-file>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[4]" ng-hide="!optionsDatosPersonales[4]" >
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Tipo de trabajador: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="nuevoTrabajador.traCon">
                                           <option ng-repeat="t in tipoTrabajador" value="{{t.id}}">{{t.title}}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Grupo ocupacional: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="nuevaFichaEscalafonaria.gruOcu">
                                           <option ng-repeat="t in grupoOcupacional" value="{{t.id}}">{{t.title}}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-sm-8" align="right">  
                                    <button type="button" class="btn btn-primary" ng-click="agregarDatosGenerales()">Guardar  <i class="glyphicon glyphicon-floppy-saved"></i></button>
                                    <!--<button type="button" class="btn btn-primary" ng-click="menu=true">Guardar  <i class="glyphicon glyphicon-floppy-saved"></i></button>-->
                                </div>
                            </form>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Datos familiares">
                        <br>
                        <form class="form-horizontal " method="get">
                            <div align="right">  
                                <button class="btn btn btn-success" ng-click="showNuevoPariente()">
                                     <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                </button>
                            </div>

                            <div class="dataTables_wrapper form-inline" role="grid">
                                <div class="table-responsive" ng-init="listarParientes()">
                                    <table class="table table-hover table-condensed table-bordered"  ng-table ="tablaParientes" >
                                        <tr ng-repeat="p in $data">
                                            <td data-title="'Apellido Paterno'"  style="text-align: center;width: 70px">{{p.parApePat}}</td>
                                            <td data-title="'Apellido Materno'"  style="text-align: center;width: 70px">{{p.parApeMat}}</td>
                                            <td data-title="'Nombre'"  style="text-align: center;width: 70px">{{p.parNom}}</td>
                                            <td data-title="'Parentesco'"  style="text-align: center;width: 70px">{{p.parentesco}}</td>
                                            <td data-title="'DNI'"  style="text-align: center;width: 70px">{{p.parDni}}</td>
                                            <td data-title="'Accion'" style="text-align: center;width: 100px">
                                                <button class="btn btn-primary btn-xs" ng-click="prepararEditarPariente(p)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarPariente(p)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>    
                            </div>
                        </form>
                    </uib-tab>
                    <uib-tab index="2" heading="Datos académicos">
                        <br>
                        <div class="row">
                            <div class = "col-sm-2">
                                <uib-tabset active="tabDatosAcademicos" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                    <uib-tab index="0" heading="Formacion Educativa" style="text-align: justify" ng-click="updateOptions(0, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="1" heading="Colegiatura" style="text-align: justify" ng-click="updateOptions(1, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="2" heading="Estudios Complementarios" style="text-align: justify" ng-click="updateOptions(2, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="3" heading="Estudios de postgrado" style="text-align: justify;" ng-click="updateOptions(3, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="4" heading="Exposiciones y/o Ponencias" style="text-align: justify;" ng-click="updateOptions(4, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="5" heading="Publicaciones" style="text-align: justify;" ng-click="updateOptions(5, optionsDatosAcademicos)"></uib-tab>
                                </uib-tabset>
                            </div>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[0]" ng-hide="!optionsDatosAcademicos[0]" >
                                <div align="right">  
                                    <button class="btn btn btn-primary" ng-click="showNuevaFormacionEducativa()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>
                                
                                <div class="dataTables_wrapper form-inline" role="grid" align = "center">
                                    <div class="table-responsive" ng-init="listarFormacionesEducativas()">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaForEdu">
                                            <colgroup>
                                                <col width="12%" />
                                                <col width="10%" />
                                                <col width="24%" />
                                                <col width="13%" />
                                                <col width="13%" />
                                                <col width="23%" />
                                                <col width="5%" />
                                            </colgroup>
                                            
                                            <tr ng-repeat="fe in $data">
                                                <td data-title="'Tipo de formación'"  style="text-align: center;">{{fe.tip}}</td>
                                                <td data-title="'Nº de titulo'"  style="text-align: center;">{{fe.numTit}}</td>
                                                <td data-title="'Especialidad'"  style="text-align: center;">{{fe.esp}}</td>
                                                <td data-title="'Estudios concluidos'"  style="text-align: center;">{{fe.estCon}}</td>
                                                <td data-title="'Fecha de expedición'"  style="text-align: center;">{{fe.fecExp}}</td>
                                                <td data-title="'Centro de estudios'"  style="text-align: center;">{{fe.cenEst}}</td>
                                                <td data-title="'Accion'" style="text-align: center;">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarFormacionEducativa(fe)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarFormacionEducativa(fe)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[1]" ng-hide="!optionsDatosAcademicos[1]" >
                                <div class="col-sm-offset-9" align="left">  
                                    <button class="btn btn btn-success" ng-click="showNuevaColegiatura()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div class="dataTables_wrapper form-inline" role="grid" align = "center">
                                    <div class="table-responsive" ng-init="listarColegiaturas()">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaColegiaturas">
                                            <colgroup>
                                                <col width="40%" />
                                                <col width="25%" />
                                                <col width="25%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr ng-repeat="col in $data">
                                                <td data-title="'Colegio Profesional'"  style="text-align: center;">{{col.nomColPro}}</td>
                                                <td data-title="'Reg. de Nº colegiatura'"  style="text-align: center;">{{col.numRegCol}}</td>
                                                <td data-title="'Condicion a la Fecha'"  style="text-align: center;">{{col.conReg}}</td>
                                                <td data-title="'Accion'" style="text-align: center;">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarColegiatura(col)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarColegiatura(col)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[2]" ng-hide="!optionsDatosAcademicos[2]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevoEstudioComplementario()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive" ng-init="listarEstudiosComplementarios()">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaEstCom">
                                            <colgroup>
                                                <col width="11%" />
                                                <col width="22%" />
                                                <col width="8%" />
                                                <col width="21%" />
                                                <col width="10%" />
                                                <col width="7%" />
                                                <col width="8%" />
                                                <col width="8%" />
                                                <col width="5%" />
                                            </colgroup>
                                            <tr ng-repeat="ec in $data">
                                                <td data-title="'Tipo'"  style="text-align: center;">{{ec.tip}}</td>
                                                <td data-title="'Descripcion'"  style="text-align: center;">{{ec.des}}</td>
                                                <td data-title="'Nivel'"  style="text-align: center;">{{ec.niv}}</td>
                                                <td data-title="'Institucion certificadora'"  style="text-align: center;">{{ec.insCer}}</td>
                                                <td data-title="'Tipo de participacion'"  style="text-align: center;">{{ec.tipPar}}</td>
                                                <td data-title="'Fecha de inicio'"  style="text-align: center;">{{ec.fecIni}}</td>
                                                <td data-title="'Fecha de termino'"  style="text-align: center;">{{ec.fecTer}}</td>
                                                <td data-title="'Horas Lectivas'"  style="text-align: center;">{{ec.horLec}}</td>
                                                <td data-title="'Accion'" style="text-align: center;">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarEstudioComplementario(ec)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarEstudioComplementario(ec)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[3]" ng-hide="!optionsDatosAcademicos[3]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevoEstudioPostgrado()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div id="editable-sample_wrapper_3" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive" ng-init="listarEstudiosPostgrado()">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaEstPos">
                                            <colgroup>
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="30%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr ng-repeat="ep in $data">
                                                <td data-title="'Tipo'"  style="text-align: center;width: 70px">{{ep.tip}}</td>
                                                <td data-title="'Numero de resolución'"  style="text-align: center;width: 70px">{{ep.numRes}}</td>
                                                <td data-title="'Fecha de resolución'"  style="text-align: center;width: 70px">{{ep.fecRes}}</td>
                                                <td data-title="'Fecha de inicio'"  style="text-align: center;width: 70px">{{ep.fecIniEst}}</td>
                                                <td data-title="'Fecha de termino'"  style="text-align: center;width: 70px">{{ep.fecTerEst}}</td>
                                                <td data-title="'Instituto o universidad'"  style="text-align: center;width: 70px">{{ep.ins}}</td>
                                                <td data-title="'Accion'" style="text-align: center;width: 100px">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarEstudioPostgrado(ep)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarEstudioPostgrado(ep)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[4]" ng-hide="!optionsDatosAcademicos[4]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevaExposicion()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div id="editable-sample_wrapper_4" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive" ng-init="listarExposiciones()">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaExpPon">
                                            <colgroup>
                                                <col width="30%" />
                                                <col width="20%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr ng-repeat="eyp in $data">
                                                <td data-title="'Descripción'"  style="text-align: center;width: 70px">{{eyp.des}}</td>
                                                <td data-title="'Institución organizadora'"  style="text-align: center;width: 70px">{{eyp.insOrg}}</td>
                                                <td data-title="'Tipo de participación'"  style="text-align: center;width: 70px">{{eyp.tipPar}}</td>
                                                <td data-title="'Fecha de inicio'"  style="text-align: center;width: 70px">{{eyp.fecIni}}</td>
                                                <td data-title="'Fecha de termino'"  style="text-align: center;width: 70px">{{eyp.fecTer}}</td>
                                                <td data-title="'Horas Lectivas'"  style="text-align: center;width: 70px">{{eyp.horLec}}</td>
                                                <td data-title="'Accion'" style="text-align: center;width: 100px">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarExposicion(eyp)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarExposicion(eyp)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[5]" ng-hide="!optionsDatosAcademicos[5]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevaPublicacion()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive" ng-init="listarPublicaciones()">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaPublicaciones">
                                            <colgroup>
                                                <col width="28%" />
                                                <col width="10%" />
                                                <col width="28%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="5%" />
                                                <col width="14%" />
                                                <col width="5%" />
                                            </colgroup>
                                            <tr ng-repeat="pub in $data">
                                                <td data-title="'Editorial'"  style="text-align: center;width: 70px">{{pub.nomEdi}}</td>
                                                <td data-title="'Tipo de publicación'"  style="text-align: center;width: 70px">{{pub.tipPub}}</td>
                                                <td data-title="'Título de publicación'"  style="text-align: center;width: 70px">{{pub.titPub}}</td>
                                                <td data-title="'Grado de participación'"  style="text-align: center;width: 70px">{{pub.graPar}}</td>
                                                <td data-title="'Lugar'"  style="text-align: center;width: 70px">{{pub.lug}}</td>
                                                <td data-title="'Fecha de publicación'"  style="text-align: center;width: 70px">{{pub.fecPub}}</td>
                                                <td data-title="'Número de registro'"  style="text-align: center;width: 70px">{{pub.numReg}}</td>
                                                <td data-title="'Accion'" style="text-align: center;width: 100px">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarPublicacion(pub)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarPublicaion(pub)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </uib-tab>
                    <uib-tab index="3" heading="Experiencia laboral"> 
                        <br>
                        <div class="row">
                            <div class = "col-sm-2">
                                <uib-tabset active="tabExperienciaLaboral" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                    <uib-tab index="0" heading="Desplazamientos" style="text-align: justify" ng-click="updateOptions(0, optionsExperienciaLaboral)"></uib-tab>
                                    <uib-tab index="1" heading="Ascensos" style="text-align: justify" ng-click="updateOptions(1, optionsExperienciaLaboral)"></uib-tab>
                                    <uib-tab index="2" heading="Capacitaciones" style="text-align: justify" ng-click="updateOptions(2, optionsExperienciaLaboral)"></uib-tab>
                                </uib-tabset>
                            </div>
                            
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsExperienciaLaboral[0]" ng-hide="!optionsExperienciaLaboral[0]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevoDesplazamiento()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive" ng-init="listarDesplazamientos()">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaDesplazamientos">
                                            <colgroup>
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="9%" />
                                                <col width="17%" />
                                                <col width="10%" />
                                                <col width="8%" />
                                                <col width="9%" />
                                                <col width="9%" />
                                                <col width="8%" />
                                            </colgroup>
                                            <tr ng-repeat="des in $data">
                                                <td data-title="'Tipo'"  style="text-align: center;">{{des.tip}}</td>
                                                <td data-title="'Nº de Resolución'"  style="text-align: center;">{{des.numRes}}</td>
                                                <td data-title="'Fecha de resolución'"  style="text-align: center;">{{des.fecRes}}</td>
                                                <td data-title="'I.E'"  style="text-align: center;">{{des.insEdu}}</td>
                                                <td data-title="'Cargo'"  style="text-align: center;">{{des.car}}</td>
                                                <td data-title="'Jornada Laboral'"  style="text-align: center;">{{des.jorLab}}</td>
                                                <td data-title="'Fecha de inicio'"  style="text-align: center;">{{des.fecIni}}</td>
                                                <td data-title="'Fecha de término'"  style="text-align: center;">{{des.fecTer}}</td>
                                                <td data-title="'Acción'" style="text-align: center;">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarDesplazamiento(des)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarDesplazamiento(des)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsExperienciaLaboral[1]" ng-hide="!optionsExperienciaLaboral[1]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevoAscenso()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive" ng-init="listarAscensos()">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaAscensos">
                                            <colgroup>
                                                <col width="20%" />
                                                <col width="20%" />
                                                <col width="20%" />
                                                <col width="20%" />
                                                <col width="20%" />
                                            </colgroup>
                                            <tr ng-repeat="a in $data">
                                                <td data-title="'N° de resolución'"  style="text-align: center;">{{a.numRes}}</td>
                                                <td data-title="'Fecha de resolución'"  style="text-align: center;">{{a.fecRes}}</td>
                                                <td data-title="'Fecha que surte efecto la resolución'"  style="text-align: center;">{{a.fecEfe}}</td>
                                                <td data-title="'Nivel al que asciende'"  style="text-align: center;">{{a.esc}}</td>
                                                <td data-title="'Acción'" style="text-align: center;">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarAscenso(a)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarAscenso(a)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsExperienciaLaboral[2]" ng-hide="!optionsExperienciaLaboral[2]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevaCapacitacion()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive" ng-init="listarCapacitaciones()">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaCapacitaciones">
                                            <colgroup>
                                                <col width="30%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="30%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr ng-repeat="cap in $data">
                                                <td data-title="'Nombre'"  style="text-align: center;">{{cap.nom}}</td>
                                                <td data-title="'Tipo'"  style="text-align: center;">{{cap.tip}}</td>
                                                <td data-title="'Fecha de capacitación'"  style="text-align: center;">{{cap.fec}}</td>
                                                <td data-title="'Calificación'"  style="text-align: center;">{{cap.cal}}</td>
                                                <td data-title="'Lugar '"  style="text-align: center;">{{cap.lug}}</td>
                                                <td data-title="'Acción'" style="text-align: center;">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarCapacitacion(cap)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarCapacitacion(cap)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </uib-tab>
                    <uib-tab index="4" heading="Reconocimientos">  
                        <br>
                        
                        <form class="form-horizontal " method="get">
                            <div class="col-sm-offset-11" align="left">  
                                <button class="btn btn btn-success" ng-click="showNuevoReconocimiento()">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                </button>
                            </div>

                            <div class="dataTables_wrapper form-inline" role="grid" align="center">
                                <div class="table-responsive" ng-init="listarReconocimientos()">
                                    <table class="table-hover table-condensed table-bordered" ng-table ="tablaReconocimientos">
                                        <colgroup>
                                            <col width="30%" />
                                            <col width="15%" />
                                            <col width="15%" />
                                            <col width="30%" />
                                            <col width="10%" />
                                        </colgroup>
                                        <tr ng-repeat="r in $data">
                                            <td data-title="'Motivo'"  style="text-align: center;">{{r.mot}}</td>
                                            <td data-title="'Número de resolución'"  style="text-align: center;">{{r.numRes}}</td>
                                            <td data-title="'Fecha de resolució'"  style="text-align: center;">{{r.fecRes}}</td>
                                            <td data-title="'Entidad que emite la resolución'"  style="text-align: center;">{{r.entEmi}}</td>
                                            <td data-title="'Acción'" style="text-align: center;">
                                                <button class="btn btn-primary btn-xs" ng-click="prepararEditarReconocimiento(r)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarReconocimiento(r)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </uib-tab>
                    
                    <uib-tab index="5" heading="Demeritos" ng-disabled="menu">  
                        <br>
                        
                        <form class="form-horizontal " method="get">
                            <div align="right">  
                                <button class="btn btn btn-success" ng-click="showNuevoDemerito()">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                </button>
                            </div>

                            <div class="dataTables_wrapper form-inline" role="grid">
                                <div class="table-responsive" ng-init="listarDemeritos()">
                                    <table class="table-hover table-condensed table-bordered" ng-table ="tablaDemeritos">
                                        <colgroup>
                                            <col width="20%" />
                                            <col width="10%" />
                                            <col width="9%" />
                                            <col width="10%" />
                                            <col width="9%" />
                                            <col width="9%" />
                                            <col width="18%" />
                                            <col width="5%" />
                                        </colgroup>
                                        <tr ng-repeat="d in $data">
                                            <td data-title="'Entidad emisora'"  style="text-align: center;">{{d.entEmi}}</td>
                                            <td data-title="'Número de resolución'"  style="text-align: center;">{{d.numRes}}</td>
                                            <td data-title="'Fecha de resolución'"  style="text-align: center;">{{d.fecRes}}</td>
                                            <td data-title="'Separación definitiva y/o Temporal'"  style="text-align: center;">{{d.sep}}</td>
                                            <td data-title="'Fecha de inicio'"  style="text-align: center;">{{d.fecIni}}</td>
                                            <td data-title="'Fecha de término'"  style="text-align: center;">{{d.fecFin}}</td>
                                            <td data-title="'Motivo'"  style="text-align: center;">{{d.mot}}</td>
                                            <td data-title="'Acción'" style="text-align: center;">
                                                <button class="btn btn-primary btn-xs" ng-click="prepararEditarDemerito(d)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarDemerito(d)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </uib-tab>
                </uib-tabset>
            </div>
        </section>
    </div>
</div>
