<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Configuracion Carpeta Pedagogica</h4>
            </header>
            <div class="panel-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <fieldset >
                            <header class="panel-heading">
                                <h4 style="display:inline;line-height: 1.9">Secciones de Carpeta</h4>
                                <span class="tools pull-right">
                                    <button type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.registrarSeccion()">Nuevo</button>
                                </span>
                            </header>
                            <div class="panel-body">
                                <uib-tabset active="active">
                                    <uib-tab ng-repeat= "sec in ctrl.secciones" index="$index" heading="{{sec.nom}}">
                                        <div class="form-panel">
                                            <header class="panel-heading">
                                                <span class="tools pull-right">
                                                    <button type="submit" class="btn btn-success btn-xs" ng-click="ctrl.editarSeccion(sec)">Editar</button>
                                                    <button type="submit" class="btn btn-danger btn-xs" ng-click="ctrl.eliminarSeccion($event,sec)">Eliminar</button>
                                                </span>
                                            </header>
                                            <table ng-table="sec.contenidos" class="table table-bordered table-hover table-condensed editable-table" >
                                                <colgroup>
                                                    <col width="5%" />
                                                    <col width="65%" />
                                                    <col width="20%" />
                                                    <col width="10%" />
                                                </colgroup>
                                                <tr>
                                                    <th></th>
                                                    <th>Nombre</th>
                                                    <th>Usuario Encargado</th>
                                                    <th>
                                                        <button class="btn btn-primary btn-xs" ng-click="ctrl.nuevoContenido(sec)">
                                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                                        </button>
                                                    </th>
                                                </tr>
                                                <tr  ng-repeat="row in $data" ng-form="rowFormContenido">
                                                    <td ng-form="org" data-title="'N°'"><span>{{$index + 1}}</span></td>
                                                    <td filter="{nom: 'text'}" sortable="'nom'"  ng-form="nom"><span>{{row.nom}}</span></td>
                                                    <td filter="{tip: 'text'}" sortable="'tip'"  ng-form="tip"><span>{{ctrl.mostrarTipo(row.tip)}}</span></td>
                                                    <td>
                                                        <button class="btn btn-success btn-xs" data-toggle="tooltip" title="ver anecdotario" ng-click="ctrl.editarContenido(row)">
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </button>
                                                        <button class="btn btn-danger btn-xs" data-toggle="tooltip" title="ver anecdotario" ng-click="ctrl.eliminarContenido($event,sec,row)">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="registrar_contenido.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form" name="myForm">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre del Contenido: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.cont.nom"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Usuario Encargado: </label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.cont.tip"  ng-options="s.nom for s in ctrl.tipos track by s.id"></select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="registrar_seccion.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form" name="myForm">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre Seccion: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.sec.nom"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>