<div class="row"><div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">NUEVO TRAMITE</h4>
                <span class="tools pull-right">
                    <button type="reset" class="btn btn-default" ng-click="cancelar()"><i class="fa fa-times" ></i> cancelar</button>
                    <button class="btn btn btn-primary " ng-click="registrarExpediente(usuMaster.organizacion.organizacionID, usuMaster.area.areaID, usuMaster.usuario.usuarioID)"><i class="fa fa-save" ></i> Registrar</button>
                </span>
            </header>
            <div class="panel-body" >

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <fieldset ><legend>Datos Tramite</legend>
                            <div class="form-group" >
                                <label class="col-sm-2 control-label">Tipo Tramite</label>
                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="expediente.tipoTramiteID" ng-change="elegirTipoTramite(expediente.tipoTramiteID)">
                                        <option value=""></option>
                                        <option ng-repeat="tt in tipoTramites" value="{{tt.tipoTramiteID}}">{{tt.nombre}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <div class="radio" style="display: inline-block">
                                        <label><input type="radio" ng-model="expediente.modo" ng-value="true" >interno</label>
                                    </div>
                                    <div class="radio" style="display: inline-block">
                                        <label><input type="radio" ng-model="expediente.modo" ng-value="false" >externo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label class="col-sm-2 control-label">Prioridad</label>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-model="expediente.prioridadID" >
                                        <option value=""></option>
                                        <option ng-repeat="p in prioridades" value="{{p.prioridadExpedienteID}}">{{p.nombre}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Folios</label>
                                <div class="col-sm-4">
                                    <input type="number" min="0" max="100" class="form-control" ng-model="expediente.folios">
                                </div>
                            </div>
                            <div class="form-group" >
                                <label class="col-sm-2 control-label">Asunto</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" ng-model="expediente.asunto"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset ><legend>Datos Tramitante</legend>
                            <div class="form-group" >
                                <div class="col-sm-12" align="center">
                                    <div class="radio" style="display: inline-block;height: 40;">
                                        <label><input type="radio" ng-model="tipoPersona" ng-value="true" ng-change="cambiarDni()">persona natural</label>
                                    </div>
                                    <div class="radio" style="display: inline-block;height: 40px;margin-left: 40px;">
                                        <label><input type="radio" ng-model="tipoPersona" ng-value="false" ng-change="cambiarRuc()">persona juridica o institucion</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label class="col-sm-2 control-label">{{tipoPersona?'DNI *':'RUC *'}}</label>
                                <div class="col-sm-8"><div class="input-group m-bot15">
                                        <input ng-if="tipoPersona" type="text" class="form-control " ng-keyup="reiniciarDatos()" style="text-align: center;" data-mask="99999999" ng-model="persona.dni" >
                                        <input ng-if="!tipoPersona" type="text" class="form-control " ng-keyup="reiniciarDatos()" style="text-align: center;" data-mask="99999999999" ng-model="empresa.ruc" >
                                        <span class="input-group-btn">
                                            <button ng-if="tipoPersona" class="btn btn-success " type="button" ng-click="buscarPersona()">buscar</button>
                                            <button ng-if="!tipoPersona" class="btn btn-success " type="button" ng-click="buscarEmpresa()">buscar</button>
                                        </span>
                                    </div></div>
                                <div ng-if="tipoPersona" class="col-sm-offset-2 col-sm-8" align="center">
                                    <input ng-show="persona.existe" type="text" class="form-control" value="{{persona.nombre}} {{persona.paterno}} {{persona.materno}}" disabled>
                                    <button ng-hide="persona.dni == '' || persona.existe" class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Registrar</button>
                                </div>
                                <div ng-if="!tipoPersona" class="col-sm-offset-2 col-sm-8" align="center">
                                    <input ng-show="empresa.existe" type="text" class="form-control" value="{{empresa.razonSocial}}" disabled>
                                    <button ng-hide="empresa.ruc == '' || empresa.existe" class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevoEmpresa"><i class="fa fa-plus" ></i> Registrar</button>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset ><legend>Documentos</legend>
                            <div class="form-group" ><div class="col-sm-12">
                                    <div class="tabla-responsiva" style="max-height: 230px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                                        <table class="table" style="margin-bottom: 0;">
                                            <thead>
                                                <tr>
                                                    <th style="width:15px">#</th><th style="width:30%;">Documento</th><th style="width:auto">Descripcion</th><th style="width:30%;">Adjunto</th><th style="width:66px">Accion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="d in documentos">
                                                    <td>{{$index + 1}}</td>
                                                    <td>
                                                        <span ng-hide="d.edi" >{{d.nombre}}</span>
                                                        <span ng-show="d.edi" ><select class="form-control input-table" ng-model="d.copia.tipoDocumentoID" ng-options="td.tipoDocumentoID as td.nombre for td in tipoDocumentos"></select></span>
                                                    </td>
                                                    <td>
                                                        <span ng-hide="d.edi" >{{d.descripcion}}</span>
                                                        <span ng-show="d.edi" ><input ng-model="d.copia.descripcion"/></span>
                                                    </td>
                                                    <td style="word-break: break-all;">
                                                        <span ng-hide="d.edi" ><view-file nombre="d.nombreArchivo" archivo="d.archivo"> </view-file></span>
                                                        <span ng-show="d.edi" ><input-file nombre="d.copia.nombreArchivo" archivo="r.copia.archivo"  ></input-file></span>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-xs" ng-click="editarDocumento($index, d)"><i class="fa" ng-class="{'fa-check':d.edi,'fa-pencil':!d.edi}" ></i></button>
                                                        <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!d.edi}" ng-click="eliminarDocumento($index, d)"><i class="fa" ng-class="{'fa-times':d.edi,'fa-trash-o':!d.edi}"></i></button>                          
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table></div>
                                    <table class="table peque" style="margin-bottom: 8px;background: #f1f2f7;">
                                        <tr>
                                            <td style="width:15px">+</td>
                                            <td style="width:30%">
                                                <select class="form-control input-table" ng-model="documento.tipoDocumentoID" ng-options="td.tipoDocumentoID as td.nombre for td in tipoDocumentos"></select>
                                            </td>
                                            <td style="width:auto"><input type="text" class="form-control input-table" ng-model="documento.descripcion"></td>
                                            <td style="width:30%;word-break: break-all;"><input-file nombre="documento.nombreArchivo" archivo="documento.archivo"></input-file></td>
                                        <td style="width:66px">
                                            <button class="btn btn-success btn-xs" ng-click="agregarDocumento()" title="agregar requisito"><i class="fa fa-plus" ></i></button>
                                        </td>
                                        </tr>                      
                                    </table>
                                </div></div>
                        </fieldset>
                        <fieldset ><legend>Requisitos</legend>
                            <div class="form-group" >
                                <div class="col-sm-12">
                                    <div class="tabla-responsiva" style="max-height: 120px;border-top: 1px solid #ddd;margin-bottom: 0px;">
                                        <table class="table peque" style="margin-bottom: 0">
                                            <thead>
                                                <tr>
                                                    <th width="15px">#</th><th width="auto">Requisito</th><th width="35%">Formato adjunto</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="r in requisitos" >
                                                    <td>{{$index + 1}}</td>
                                                    <td>
                                                        <span ng-hide="r.edi" >{{r.descripcion}}</span>
                                                        <span ng-show="r.edi" ><input ng-model="r.copia.descripcion"/></span>
                                                    </td>
                                                    <td style="word-break: break-all;">
                                                        <span ng-hide="r.edi" ><view-file nombre="r.nombreArchivo" archivo="r.archivo"> </view-file></span>
                                                        <span ng-show="r.edi" ><input-file nombre archivo="r.copia.archivo"></input-file></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table></div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset ><legend>Programacion de Ruta</legend>
                            <div class="form-group" >
                                <div class="col-sm-12">
                                    <div class="tabla-responsiva" style="max-height: 180px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                                        <table class="table" style="margin-bottom: 0;">
                                            <thead>
                                                <tr>
                                                    <th style="width:15px">#</th><th style="width:30%;">Origen</th><th style="width:30%;">Destino</th><th>Descripcion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="r in rutas">
                                                    <td>{{$index + 1}}</td>
                                                    <td>
                                                        <span ng-hide="r.edi" >{{r.areaOri.nombre}}</span>
                                                        <span ng-show="r.edi" ><select class="form-control input-table" ng-model="r.copia.areaOri" ng-options="d as d.nombre for d in destinos2"></select></span>
                                                    </td>
                                                    <td>
                                                        <span ng-hide="r.edi" >{{r.areaDes.nombre}}</span>
                                                        <span ng-show="r.edi" ><select class="form-control input-table" ng-model="r.copia.areaDes" ng-options="d as d.nombre for d in destinos2"></select></span>
                                                    </td>
                                                    <td>
                                                        <span ng-hide="r.edi" >{{r.descripcion}}</span>
                                                        <span ng-show="r.edi" ><input ng-model="r.copia.descripcion"/></span>
                                                    </td>
                                                </tr>                  

                                            </tbody>
                                        </table></div>
                                    <!--<table class="table peque" style="margin-bottom: 8px;background: #f1f2f7;">
                                    <tr>
                                        <td style="width:15px">+</td>
                                        <td style="width:30%">
                                            <select class="form-control input-table" ng-model="ruta.areaOrigenId" ng-options="ta.tipoAreaID as ta.nombre for ta in tipoAreas"></select>
                                        </td>
                                        <td style="width:30%">
                                            <select class="form-control input-table" ng-model="ruta.areaDestinoId" ng-options="ta2.tipoAreaID as ta2.nombre for ta2 in tipoAreas"></select>
                                        </td>
                                        <td style="width:auto"><input type="text" class="form-control input-table" ng-model="ruta.descripcion"></td>
                                        <td style="width:66px">
                                            <button class="btn btn-success btn-xs" ng-click="agregarRuta()" title="agregar requisito"><i class="fa fa-plus" ></i></button>
                                        </td>
                                     </tr>                      
                                    </table>
                                    -->
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>        

            </div>
        </section>
    </div></div>

<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">REGISTRO DE {{tipoPersona?'PERSONA *':'ENTIDAD *'}}</h4>
            </div>
            <div class="modal-body">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">{{tipoPersona?'DNI ':'RUC '}}*</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-lg" style="text-align: center;" ng-model="persona.dni" disabled>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">{{tipoPersona?'Nombres *':'Razon S. *'}}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="persona.nombre" ng-disabled="persona.existe">
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoPersona">
                            <label class="col-sm-2 control-label">A Paterno *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="persona.paterno" ng-disabled="persona.existe">
                            </div>
                            <label class="col-sm-2 control-label">A Materno *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="persona.materno" ng-disabled="persona.existe">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Email *</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="persona.email" ng-disabled="persona.existe">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Numero *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="persona.numero1" ng-disabled="persona.existe">
                            </div>
                            <label class="col-sm-2 control-label">Numero 2</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="persona.numero2" ng-disabled="persona.existe">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="registrarPersona()" ng-disabled="persona.dni == ''"><i class="fa fa-check" ></i>Registrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalNuevoEmpresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NUEVA EMPRESA</h4>
            </div>
            <div class="modal-body">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">RUC *</label>
                            <div class="col-sm-10"><div class="input-group m-bot15">
                                    <input type="text" class="form-control input-lg"  style="text-align: center;" ng-model="empresa.ruc" disabled>

                                </div></div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Razon Social *</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="empresa.razonSocial">
                            </div>
                        </div>
                        <!--                    <div class="form-group" >
                                                <label class="col-sm-2 control-label">A Paterno *</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" ng-model="nuevaPersona.paterno" ng-disabled="nuevaPersona.dni=='' || nuevaPersona.existe">
                                                </div>
                                                <label class="col-sm-2 control-label">A Materno *</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" ng-model="nuevaPersona.materno" ng-disabled="nuevaPersona.dni=='' || nuevaPersona.existe">
                                                </div>
                                            </div>-->
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Pagina Web *</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="empresa.pagWeb" ng-disabled="empresa.ruc == '' || empresa.existe">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Telefono *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="empresa.telefono" ng-disabled="empresa.ruc == '' || empresa.existe">
                            </div>

                        </div>

                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Condicion</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="empresa.estado" ng-value="'A'" checked>Activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="empresa.estado" ng-value="'I'">Inactivo</label>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="agregarEmpresa()" ng-disabled="empresa.ruc == '' || empresa.existe"><i class="fa fa-check" ></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
