<div class="row">
    
<div class="col-md-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">BANDEJA DE EVALUACIONES</h4>
        <span class="tools pull-right">
            <button type="button" class="btn btn btn-primary btn-sm" ng-click="buscarPlanEstudios(usuMaster.organizacion.organizacionID,usuMaster.usuario.usuarioID)"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="buscarPlanEstudios(usuMaster.organizacion.organizacionID,usuMaster.usuario.usuarioID)">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
            <div class="form-group" >                
                <label class="col-sm-2 control-label">Area</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="tarea.areaID" ng-options="o.areaID as o.area for o in plan.areas" ng-click="filtrarAreas()">
                        <option ng-value="todos"></option>
                    </select>
                </div>
            </div>
            </div>
            
        </div><hr/>        

        <div class="panel-body" >                

        <div class="tabla-responsiva"><table ng-table="tablaEvaluacion" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="20px" /><col width="auto" /><col width="180px" /><col width="80px" /><col width="140px" /><col width="140px" /><col width="160px" />
            </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">{{o.nombre}}</td>
                <td data-title="'Area'" sortable="'areaID'" style="text-align: center">{{o.area}}</td>
                <td data-title="'Nota'" sortable="'nota'" style="text-align: center">{{o.nota}}</td>
                <td data-title="'Fecha Envio'" filter="{ fechaEnvio: 'text'}" sortable="'fechaEnvio'">{{o.fechaEnvio}}</td>
                <td data-title="'Fecha Limite'" filter="{ fechaMaxEntrega: 'text'}" sortable="'fechaMaxEntrega'">{{o.fechaMaxEntrega}}</td>
                <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': o.estado=='N','label-warning': o.estado=='E','label-success': o.estado=='C','label-danger': o.estado=='F'}">
                        {{o.estado=='N'?'nuevo':o.estado=='E'?'enviado':o.estado=='C'?'calificado':'fuera tiempo'}}
                    </span>
                </td>
                <td data-title="'Accion'" style="text-align: center">
                    <button ng-if="o.estado!='F'" class="btn btn-xs" ng-class="{'btn-success':o.estado=='N','btn-primary':o.estado=='E'||o.estado=='C'}" ng-click="prepararEnviar(o)" title="{{o.estado=='N'? 'resolver examen':'ver examen'}}"><i class="fa" ng-class="{'fa-sign-out':o.estado=='N','fa-eye':o.estado=='E'||o.estado=='C'}"></i></button>
                </td>
            </tr>
        </table></div>

        </div>
        
    </div>
</section>
    

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEnviarEvaluacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">EVALUACION - {{evaluacion.nombre}}</h4>
      </div>
        <uib-tabset active="active2" justified="true">
            <uib-tab index="0" heading="DATOS GENERALES" disable="true">
                <div class="panel-body">
                    
                    <form class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombre : </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="evaluacion.nombre">
                            </div>
                        </div> 
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Descripcion : </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="evaluacion.descripcion">
                            </div>    
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-4 control-label">Duracion del Examen : </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="evaluacion.duracion">
                            </div> 
                            <label class="col-sm-2 control-label"> minutos.</label>
                        </div>
                        

                    </form>
                </div>
                <div align="right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> 
                    <button class="btn btn-default" ng-disabled="!evaluacion.evaluacionID" ng-click="preparar_evaluacion()"><i class="fa fa-arrow-right" ></i> Iniciar Evaluacion </button>
                </div>
            </uib-tab>
            
            <uib-tab index="1" heading="PREGUNTAS DE EVALUACION" disable="true">
                <div class="panel-body">
                   <form class="form-horizontal style-form" >
                       <div style="border: 1px solid #ccc;border-radius: 8px;padding: 7px" >
                           <div class="form-group">
                                <label class="col-sm-2" style="padding: 0 10px;text-align: center">Valor :</label>
                                <div class="col-sm-4" style="padding: 0 10px;text-align: left">
                                    <label style="max-width: 80px" >{{pregunta_actual.punt}}</label>
                                    <label> puntos.</label>
                                </div>
                                <label class="col-sm-2" style="padding: 0 10px;text-align: right">Tiempo Restante: </label>
                                <div class="col-sm-4" style="padding: 0 10px" ng-if="!misEvaCtrl.result">  
                                    <canvas id="clock" width="250" height="100"></canvas>
                                </div>        
                            </div>
                           <div class="form-group">
                                <label class="col-sm-2" style="padding: 0 10px;text-align: center">Titulo :</label>
                                <label class="col-sm-4" style="padding: 0 10px;text-align: center">{{pregunta_actual.tit}}</label> 
                           </div>
                       </div>
                       <div style="border: 1px solid #ccc;border-radius: 8px;padding: 4px" >
                           <div class="form-group" ng-if="!activar_calificar">
                               <label class="col-sm-3" style="padding: 0 4px;text-align: right">Descripcion:</label>
                               <label class="col-sm-9" ng-model="">{{enunciado}}</label>
                           </div>
                           <div class="form-group">
                               <div class ="form-group">
                                   <ul  class="collection">
                                        <li class="collection-item" ng-if="pregunta_actual.tipo === 'V'" ng-repeat="e in pregunta_actual.enunciados">
                                            <div class="container">
                                                <!--<label class="col-sm-1" style="padding: 0 2px;position: relative">{{e.id}} )</label>-->
                                                <label class="col-sm-3" style="padding: 0 2px;position: relative">{{e.id}} ) {{e.nombre}}</label>
                                                <input class="col-sm-2" style="padding: 0 20px;position: relative" type="text" class="form-control" ng-model="res"   ng-change="buscar_alternativa(e,res)">     
                                            </div>
                                        </li> 
                                   </ul>
                                     
                               </div>
                               <div class="form-group">
                                       <ul  class="collection">
                                           <li class="collection-item" ng-if="pregunta_actual.tipo === 'R'" type="" ng-repeat="e in pregunta_actual.enunciados">
                                               <div class="container">
                                                   <label class="col-sm-1" style="padding: 0 2px;position: relative">{{e.id}} ) </label>
                                                   <label class="col-sm-2" style="padding: 0 2px;position: relative">{{e.nombre}}</label>
                                                    <select class="col-sm-2" style="padding: 0 2px;position: relative" ng-model="enun_act" >
                                                        
                                                        <option ng-repeat="e in pregunta_actual.enunciados" >{{e.id}}</option>
                                                    </select>
                                                    <label class="col-sm-2">{{e.respuesta}}</label>
                                               </div>
                                            </li>
                                       </ul>
                               </div>
                               
                           </div>
                       </div>
                       <div class="form-group" ng-if="!activar_calificar">
                           <ul class="" id="nav-accordion">
                                <li class="sub-menu" ng-repeat="o in alternativas" ng-class="">
                                    <a  href ng-click="" >
                                        <span ng-click="marcar_alternativa(o)"><b ng-class="{'opcion-sel':o.select}">{{o.id}} ) </b></span>
                                        <span>{{o.nombre}}</span>
                                        <i class ="fa fa-angle-right"></i>
                                    </a>
                                </li>    
                            </ul>   
                       </div>
                        <div class="form-group col-sm-4" ng-if="!activar_calificar">
                               <button class="btn btn-default" ng-click="generar_nueva()"><i class="fa fa-arrow-right" ></i> Siguiente Pregunta </button>
                        </div>
                        <div class="form-group" ng-if="activar_calificar">
                            <h2 text-align: rigth>SU TIEMPO DE EVALUACION FINALIZO</h2>
                            <h3 text-align: rigth >NOTA GENERADA POR EL SISTEMA : {{nota_sistema}}</h3> 
                        </div>
                   </form>       
                </div>
            </uib-tab>
        </uib-tabset> 
    </div>
  </div>
</div>
            
            
            
            
         
        
        
        
     