<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <span>DIRECTORIO EXTERNO</span>        
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarExterno()" title="Actualizar"><i class="fa fa-rotate-right"></i> Actualizar</button>
            <button class="btn btn btn-primary btn-sm" ng-click="modalreporte()" title="Reporte"><i class="fa fa-rotate-right"></i> Reporte</button>
        </span>    
    </header>
    <div>                                              
        <div class="panel-body" ng-init = "listarExterno()">
            <div class="tabla-responsiva"><table ng-table="tablaDirExt" class="table table-striped table-hover" show-filter="true" >
                <tr ng-repeat="dex in $data">
                    <td data-title="'Nombre'" filter="{ dexNom: 'text'}" sortable="'dexNom'">{{dex.dexNom}}</td>
                    <td data-title="'Email'" filter="{ dexEma: 'text'}" sortable="'dexEma'">{{dex.dexEma}}</td>
                    <td data-title="'Dirección'" filter="{ dexDir: 'text'}" sortable="'dexDir'">{{dex.dexDir}}</td>
                    <td data-title="'Teléfono'" filter="{ dexTel: 'number'}" sortable="'dexTel'">{{dex.dexTel}}</td>                                                       
<!--                    <td data-title="'Acción'" style="width: 65px">
                        <button class="btn btn-primary btn-xs" ng-click="prepararEditarDirExt(dex)"><i class="fa fa-pencil" ></i></button>
                        <button class="btn btn-danger btn-xs" ng-click="eliminarDirExt(dex.i,dex.dexId)"><i class="fa fa-trash-o " ></i></button>                                                        
                    </td>-->
                </tr>
                </table>
            </div>
        </div>
<!--        <div class="modal-footer">
            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Agregar</button>            
        </div>  -->
    </div>    
</section>
</div></div>

<!--Modal para los reportes-->
<div class="modal fade" id="modalReportes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">REPORTES</h4>
      </div>
      <div class="modal-body">          
        <div class="form-panel">            
            <pre>Seleccione las columnas que se van a mostrar en el reporte:</pre>
            <form>
<!--                <div class="checkbox">
                  <label><input type="checkbox" ng-model="checkModel['p.dni']" uib-btn-checkbox>DNI</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="checkModel['p.ape_mat']" uib-btn-checkbox>Ape. Materno</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="checkModel['p.ape_pat']" uib-btn-checkbox>Ape. Paterno</label>
                </div>-->
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="checkModel.dex_nombre" ng-model="checkModel['dex_nombre']" uib-btn-checkbox>Nombre</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="checkModel.dex_dir" ng-model="checkModel['dex_dir']" uib-btn-checkbox>Dirección</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="checkModel.dex_ema" ng-model="checkModel['dex_ema']" uib-btn-checkbox>Email</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-checked="checkModel.dex_tel" ng-model="checkModel['dex_tel']" uib-btn-checkbox>Teléfono</label>
                </div>
            </form>
            <div>
                <h6>Seleccione al menos 3 columnas</h6>
            </div>

        </div>          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" title="Cerrar">Cerrar</button>                
        <button type="button" class="btn btn-primary" ng-click="reporte()" title="Reporte"><i class="fa fa-check" ></i>Reporte</button>        
      </div>        
    </div>
  </div>
</div>>
