<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <span>DIRECTORIO INTERNO</span>        
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listar()" title="Actualizar"><i class="fa fa-rotate-right" ></i> Actualizar</button>
            <button class="btn btn btn-primary btn-sm" ng-click="modalreporte()" title="Reporte"><i class="fa fa-rotate-right"></i> Reporte</button>
        </span>    
    </header>
    <div>
        <uib-tabset active="active">
            <uib-tab index="0" heading="Resumen" select="listarInterno('')">                
                <div class="panel-body" >                    
                    <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >                        
                        <tr ng-repeat="d in $data">                            
                            <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                            <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                            <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                            <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                            <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                            <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>
                            <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'">{{d.cargo}}</td>
                            <td data-title="'Institución'" filter="{ orgNom: 'text'}" sortable="'orgNom'">{{d.orgNom}}</td>
                            <td data-title="'Parientes'" style="text-align: center">                                
                                <button class="btn btn-primary btn-xs" ng-click="prepararEditar(d.i, d.traId, d.perId)" title="Ver"><i class="fa fa-pencil" ></i></button>                                
                            </td>                            
                        </tr>
                        </table>
                    </div>                    
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Directivos" select="listarInterno('Di')">                
                <div class="panel-body" >
                    <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >                        
                        <tr ng-repeat="d in $data">                            
                            <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                            <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                            <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                            <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                            <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                            <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>
                            <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'">{{d.cargo}}</td>
                            <td data-title="'Institución'" filter="{ orgNom: 'text'}" sortable="'orgNom'">{{d.orgNom}}</td>
                            <td data-title="'Parientes'" style="text-align: center">                                
                                <button class="btn btn-primary btn-xs" ng-click="prepararEditar(d.i, d.traId, d.perId)" title="Ver"><i class="fa fa-pencil" ></i></button>                                
                            </td>                            
                        </tr>
                        </table>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2" heading="Docentes" select="listarInterno('Do')">                
                <div class="panel-body">
                    <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >                        
                        <tr ng-repeat="d in $data">                            
                            <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                            <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                            <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                            <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                            <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                            <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>
                            <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'">{{d.cargo}}</td>
                            <td data-title="'Institución'" filter="{ orgNom: 'text'}" sortable="'orgNom'">{{d.orgNom}}</td>
                            <td data-title="'Parientes'" style="text-align: center">                                
                                <button class="btn btn-primary btn-xs" ng-click="prepararEditar(d.i, d.traId, d.perId)" title="Ver"><i class="fa fa-pencil" ></i></button>                                
                            </td>                            
                        </tr>
                        </table>
                    </div>                    
                </div>
            </uib-tab>
            <uib-tab index="3" heading="Administrativos" select="listarInterno('Ad')">
                <div class="panel-body" >                   
                    <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >                        
                        <tr ng-repeat="d in $data">                            
                            <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                            <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                            <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                            <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                            <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                            <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>
                            <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'">{{d.cargo}}</td>
                            <td data-title="'Institución'" filter="{ orgNom: 'text'}" sortable="'orgNom'">{{d.orgNom}}</td>
                            <td data-title="'Parientes'" style="text-align: center">                                
                                <button class="btn btn-primary btn-xs" ng-click="prepararEditar(d.i, d.traId, d.perId)" title="Ver"><i class="fa fa-pencil" ></i></button>                                
                            </td>                            
                        </tr>
                        </table>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="4" heading="Padres de Familia" select="listarPadres()">
                Padres de Familia
                <div class="panel-body" >
                    <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >                        
                        <tr ng-repeat="d in $data">                            
                            <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                            <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                            <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                            <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                            <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                            <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>                            
                            <td data-title="'Institución'" filter="{ orgNom: 'text'}" sortable="'orgNom'">{{d.orgNom}}</td>
<!--                            <td data-title="'Acción'" style="text-align: center">                                
                                <button class="btn btn-primary btn-xs" ng-click="prepararEditar(d.i, d.traId)"><i class="fa fa-pencil" ></i></button>                                
                            </td>                            -->
                        </tr>
                        </table>
                    </div>                    
                </div>
            </uib-tab>
            <uib-tab index="5" heading="Estudiantes" select="listarEstudiantes()">
                Estudiantes
                <div class="panel-body" >
                    <div class="tabla-responsiva"><table ng-table="tablaDirInt" class="table table-striped table-hover" show-filter="true" >                        
                        <tr ng-repeat="d in $data">                            
                            <td data-title="'DNI'" filter="{ perDNI: 'text'}" sortable="'perDNI'">{{d.perDNI}}</td>
                            <td data-title="'Apellidos'" filter="{ perPat: 'text'}" sortable="'perPat'">{{d.perPat}} {{d.perMat}}</td>
                            <td data-title="'Nombre'" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                            <td data-title="'Dirección'" filter="{ perDir: 'text'}" sortable="'perDir'">{{d.perDir}}</td>
                            <td data-title="'Email'" filter="{ perEma: 'text'}" sortable="'perEma'">{{d.perEma}}</td>
                            <td data-title="'Teléfono'" filter="{ perFij: 'text'}" sortable="'perFij'">{{d.perFij}}</td>
                            <td data-title="'Institución'" filter="{ orgNom: 'text'}" sortable="'orgNom'">{{d.orgNom}}</td>
<!--                            <td data-title="'Acción'" style="text-align: center">                                
                                <button class="btn btn-primary btn-xs" ng-click="prepararEditar(d.i, d.traId)"><i class="fa fa-pencil" ></i></button>                                
                            </td>                            -->
                        </tr>
                        </table>
                    </div>                    
                </div>
            </uib-tab>
        </uib-tabset>
    </div>    
</section>
</div></div>


<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">PARIENTES</h4>
      </div>
      <div class="modal-body">          
        <div class="form-panel">            
            <div class="form-horizontal style-form" >                                      
                <div class="panel-body">
                    <div class="tabla-responsiva"><table ng-table="tablaParientes" class="table table-striped table-hover" show-filter="true" >
                        <tr ng-repeat="p in $data">
                            <td data-title="'DNI'" filter="{ parDni: 'text'}" sortable="'parDni'">
<!--                                {{p.parApe}}-->
                                <span ng-hide="p.edi" >{{p.parDni}}</span>
                                <span ng-show="p.edi" ><input ng-model="p.copia.parDni"/></span>
                            </td>
                            <td data-title="'Apellido Paterno'" filter="{ parPat: 'text'}" sortable="'parPat'">
<!--                                {{p.parApe}}-->
                                <span ng-hide="p.edi" >{{p.parPat}}</span>
                                <span ng-show="p.edi" ><input ng-model="p.copia.parPat"/></span>
                            </td>
                            <td data-title="'Apellido Materno'" filter="{ parMat: 'text'}" sortable="'parMat'">
<!--                                {{p.parApe}}-->
                                <span ng-hide="p.edi" >{{p.parMat}}</span>
                                <span ng-show="p.edi" ><input ng-model="p.copia.parMat"/></span>
                            </td>
                            <td data-title="'Nombre'" filter="{ parNom: 'text'}" sortable="'parNom'">
<!--                                {{p.parNom}}-->
                                <span ng-hide="p.edi" >{{p.parNom}}</span>
                                <span ng-show="p.edi" ><input ng-model="p.copia.parNom"/></span>
                            </td>
                            <td data-title="'Dirección'" filter="{ parDir: 'text'}" sortable="'parDir'">
<!--                                {{p.parDir}}-->
                                <span ng-hide="p.edi" >{{p.parDir}}</span>
                                <span ng-show="p.edi" ><input ng-model="p.copia.parDir"/></span>
                            </td>
                            <td data-title="'Teléfono'" filter="{ parTel: 'number'}" sortable="'parTel'">
<!--                                {{p.parTel}}-->
                                <span ng-hide="p.edi" >{{p.parTel}}</span>
                                <span ng-show="p.edi" ><input ng-model="p.copia.parTel"/></span>
                            </td>
                            <td data-title="'Parentesco'" filter="{ tpaDes: 'text'}" sortable="'tpaDes'">
<!--                                {{p.parDes}}-->
                                <span ng-hide="p.edi" >{{p.tpaDes}}</span>
<!--                                <span ng-show="p.edi" ><input ng-model="p.copia.parDes"/></span>-->
                                <span ng-show="p.edi" > 
                                    <select class="form-control" ng-model="p.copia.tpaId"  ng-options="tpa.tpaId as tpa.tpaDes for tpa in tipoParientes">
                                    </select>    
                                </span>                            
                            </td>                                                        
                        </tr>
                        </table></div>
                </div>
            </div>
        </div>          
          
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn btn-primary btn-sm" data-dismiss="modal" ng-click="cerrarModalPariente()" title="Cerrar">Cerrar</button>                
      </div>        
    </div>
  </div>
</div>

<!--Modal para los reportes-->
<div class="modal fade" id="modalReportes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">REPORTES</h4>
      </div>
      <div class="modal-body">          
        <div class="form-panel">            
            <pre>Seleccione las columnas que se van a mostrar en el reporte:</pre>            

            <div layout="column">
                <div layout="row">
                    <div flex="30" flex-offset="30"><label style="text-align: center">Columnas</label></div>                    
                    <div flex="15"><label style="text-align: center">Ancho</label></div>                    
                </div>
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.dni']" ng-model="checkModel['p.dni']">DNI</label></div>
                    <div flex="15"><input type="number" min="0" max="10" class="form-control" ng-show ="checkModel['p.dni']" ng-model="checkModel2['p.dni'][1]"></div>
                </div>
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.ape_mat']" ng-model="checkModel['p.ape_mat']">Ape. Materno</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.ape_mat']" ng-model="checkModel2['p.ape_mat'][1]"></div>
                </div>                
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.ape_pat']" ng-model="checkModel['p.ape_pat']">Ape. Paterno</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.ape_pat']" ng-model="checkModel2['p.ape_pat'][1]"></div>
                </div>                
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.nom']" ng-model="checkModel['p.nom']">Nombre</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.nom']" ng-model="checkModel2['p.nom'][1]"></div>
                </div>
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.per_dir']" ng-model="checkModel['p.per_dir']">Direccion</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.per_dir']" ng-model="checkModel2['p.per_dir'][1]"></div>
                </div>                
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.email']" ng-model="checkModel['p.email']">Email</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.email']" ng-model="checkModel2['p.email'][1]"></div>
                </div>                
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['p.fij']" ng-model="checkModel['p.fij']">Telefono</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['p.fij']" ng-model="checkModel2['p.fij'][1]"></div>
                </div>
                <div layout="row" ng-hide="ocultar" class="ng-hide">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['tc.crg_tra_nom']" ng-model="checkModel['tc.crg_tra_nom']">Cargo</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['tc.crg_tra_nom']" ng-model="checkModel2['tc.crg_tra_nom'][1]"></div>
                </div>
                <div layout="row">
                    <div class="checkbox" flex="30" flex-offset="30"><label><input type="checkbox" ng-checked="checkModel['o.nom']" ng-model="checkModel['o.nom']">Institucion</label></div>
                    <div flex="15"><input type="number" min="0" max="10"  class="form-control" ng-show ="checkModel['o.nom']" ng-model="checkModel2['o.nom'][1]"></div>
                </div>
                <div layout="row" layout-align="center center">
                    <label>
                      Horientacion de las hojas:  
                      <input type="radio" ng-model="page" value="true">Horizontal                
                    </label>
                    <label>
                        <input type="radio" ng-model="page" value="false" ng-checked="true">Vertical                
                    </label>
                </div>                 
            </div>                                          
            <div>
                <h6>(*)Seleccione al menos 3 columnas</h6>
            </div>

        </div>          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" title="Cerrar">Cerrar</button>                
        <button type="button" class="btn btn-primary" ng-click="reporte()" title="Reporte"><i class="fa fa-check" ></i>Reporte</button>        
      </div>        
    </div>
  </div>
</div>

<!--***************************************************************************************************************--
                                                        Visualizar Documento
<!--***************************************************************************************************************-->
<div class="modal fade" id="modalVisArch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{iteFilSelected.nomFil | uppercase}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form" method="get">
                    <div class="form-group" style="margin-bottom: 0;">
                        <div class="col-sm-10">
                            <iframe ng-model="urlArch" style="display:block" src={{urlArch}} width="560" height="600"></iframe>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

