<div class='ng-modal' ng-if='show'>
  <div class='ng-modal-overlay'></div>
  <div class='ng-modal-dialog' ng-if='show' ng-style='dialogStyle'>
    <!--<div class='ng-modal-close' ng-click='hideModal()'>X</div>-->
    <div class='ng-modal-dialog-content'>
      Prueba de ventana de dialogo: <strong>my-customer.html</strong>
      <p>Nombre: {{modalUser.name}}</p>
      <p>Surname: {{modalUser.surname}}</p>
      <p>PIN: {{modalUser.shortKey}}</p>
      <input type="text" ng-model="modalUser.shortKey" />
      <button ng-click=save()>Salvar</button>
      <button ng-click=cancel()>Cancelar</button>
    </div>
  </div>
</div>