

<div class="row"><div class="col-lg-12" >
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">Lista de Fondo Documental deeE UGEL</h4>
     
        </header>
        <div class="panel-body" ng-init="listarAreas() ">
            
         <div class="form-panel">
            <div class="form-horizontal style-form" >
                 <div class="form-group">
                        <label class="col-sm-2 control-label">Area :</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="serie_documental.areaID" ng-change="elegirUnidadOrganica(serie_documental.areaID)">
                                 <option value=""></option>
                                 <option ng-repeat="a in areas" value="{{a.areaID}}">{{a.nombre_area}}</option>
                            </select>
                         </div>
                        <button class="btn btn btn-primary" data-toggle="modal" data-target="#modalNuevoArea"><i class="fa fa-plus" ></i>Agregar Area </button>
                        <button class="btn btn btn-primary" ng-click="editar_area()"><i class="fa fa-edit" ></i>Editar Area</button> 
                </div>
                <div class="form-group">
                    <fieldset><legend>Lista de Unidades Organicas </legend></fieldset>
                        <div class="form-group" >
                            <div class="col-sm-4">
                                <ul class="" id="nav-accordion">
                                  
                                    <li class="sub-menu" ng-repeat="uo in unidades_organicas" ng-class="{}">
                                        <a  href ng-click="elegirSerieDocumental(uo.uni_org_id)" >
                                            <i class="fa fa-plus"></i>
                                            <span>{{uo.nom_uni}}</span>
                                            <i class ="fa fa-angle-right"></i>
                                        </a>
                                    </li>    
                                </ul>
                                
                                
                            </div>    
                            <div class="col-sm-8" > 
                                     
                                <table class="table" style="margin-bottom: 0;" ng-table="tabla_series" >    
                                     <thead ng-include="templates.header" class="table table-bordered table-hover table-condensed ng-scope ng-table">
                                        <tr>
                                            <th>CODIGO</th><th>TITULO DE LA SERIE DOCUMENTAL</th><th> </th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                        <tr ng-repeat="serie in series_documentales">
                                            <td>
                                                <label>{{serie.cod_serie}}</label>
                                            </td>
                                            <td>
                                                <label>{{serie.nom_serie}}</label>
                                            </td>
                                            <td>
                                            
                                             <!--   <input type="radio" ng-model="serie_select" value="{{serie.cod_serie}}"> -->
                                             <button class="" ng-click="preparar_retencion(serie.cod_serie)"><i class="glyphicon glyphicon-file"></i></button>
                                             <button class="" ng-click="eliminar_serie(serie.cod_serie)"><i class="glyphicon glyphicon-trash"></i></button>
                                             <button class="btn btn-primary btn-sm" data-toggle="modal" ng-click="preparar_editar_serie(serie.cod_serie)"><i class="glyphicon glyphicon-pencil"></i></button>
                                             
                                            </td> 
                                        </tr>
                                    </tbody>
                                     
                                </table>
                                     
                            </div>    
                              
                        </div>    
                        
                      
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-10">
                        <button class="btn btn btn-warning" ng-click="obtener_serie_actual(serie_documental.areaID)" data-toggle="modal" data-target="#modalNuevaSerie" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus"> Agregar Serie</i></button>
                    </div>          
                </div>
                
            
            </div>  
            
            
        </div>   
    </div>
    

    </section> 
</div>
</div>
    
    <div class="modal fade"  id="modalNuevaSerie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Nueva Serie Documental</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-panel" ng-init="">
                        <form class="form-horizontal style-form" method="get">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nombre de Area:</label>
                                <div class="col-sm-4">
                                    <label>{{serie_documental.nombre_area}}</label>  
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Abreviacion:</label>
                                <div class="col-sm-4">
                                    <label>{{serie_documental.abr}}</label>  
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Unidad Organica:</label>
                                <div class="col-sm-4">
                                    <label>{{serie_documental.uni_org}}</label>  
                                </div>
                            </div>
                            <div class="panel panel-body">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Codigo de Serie :</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="serie_documental.cod_serie">
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Titulo de la Serie Documental :</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="serie_documental.nom_serie">
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Valor Serie Documental :</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="serie_documental.val_serie">
                                    </div>
                                </div> 
                                
                                <div class="form-group">
                                   <div class="col-md-4 col-md-offset-8">
                                       <button class="btn btn btn-warning"  data-dismiss="modal"><i class="fa fa-warning">Cancelar</i></button>
                                       <button class="btn btn btn-warning" ng-click="registrar_serie()"><i class="fa fa-save" >Guardar</i></button>
                                   </div>
                                </div> 
                                
                            </div>
                            
                        </form>
                        
                        
                    </div>
                    
                </div>
            </div>
            
        </div>
      
    </div>   
    
    

    
     
    
    <div class="modal fade" id="modalNuevoArea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">
                    <div class="panel panel-primary">
                         <h4 class="modal-title" id="myModalLabel">Nuevo Area de Institucion</h4>
                    </div>
                           
                </div>
                <div class="modal-body">
                    <div class="form-panel">
                        <form class="form-horizontal style-form" method="get">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nombre de Area:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="">   
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Abreviacion :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="">
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="panel panel-default">
                                   <div class="panel-heading">
                                    <fieldset><legend>Unidades Organicas</legend>
                                   </div>
                                   <div class="panel-body">
                                     <div class="form-group">  
                                       <div class="col-sm-12">
                                         <div class="tabla-responsiva" style="max-height: 230px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                                             <table class="table" style="margin-bottom: 0;">
                                                 <thead>
                                                    <tr>
                                                        <th style="width:30%">Abreviacion</th><th style="width:50%;">Nombre</th><th style="width:20%;"> </th>
                                                    </tr>
                                                 </thead>
                                                <tbody>
                                                    <tr ng-repeat="uo in unidades_organicas">
                                                        <td>{{$index+1}}</td>
                                                        <td>
                                                            <span ng-hide=""></span>
                                                        </td>
                                                        
                                                    </tr>
                                                    
                                                    
                                                </tbody>
                                            </table>
                                         </div>   
                                       </div>
                                     </div>
                                      <div class="form-group">
                                          <label class="col-sm-3 control-label">Nombre Unidad :</label>
                                          <div class="col-sm-3">
                                             <input type="text" class="form-control" ng-model="">   
                                          </div>
                                         <label class="col-sm-3 control-label">Abreviacion:</label>
                                         <div class="col-sm-3">
                                            <input type="text" class="form-control" ng-model="">   
                                         </div>
                                     </div>
                                       <div class="form-group">
                                           <div class="col-md-4 col-md-offset-10">
                                            <button class="btn btn btn-warning" ng-click="editar_area()"><i class="fa fa-plus" ></i></button>
                                            <button class="btn btn btn-warning" ng-click="editar_area()"><i class="fa fa-minus" ></i></button>
                                           </div>
                                       </div> 
                                   </div>
                                   
                               </div>
                               
                            </div>
                            <div class="form-group">
                                       <div class="col-md-4 col-md-offset-8">
                                            <button class="btn btn btn-warning" ng-click="editar_area()"><i class="fa fa-warning" >Cancelar</i></button>
                                            <button class="btn btn btn-warning" ng-click="editar_area()"><i class="fa fa-save" >Guardar</i></button>
                                       </div>                    
                            </div>
                        </form>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    
<div class="modal fade" id="modalEditarSerie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class ="modal-content">
            <div class ="modal-header">
                <div class="panel panel-primary">
                    <h4 class="modal-title" id="myModalLabel">Serie Documental</h4>                   
                </div>      
            </div>    
            <div class="modal-body">
                <div class="panel panel-primary">
                    <form class="form-horizontal style-form" method="get">
                        <div class="form-group">
                                <label class="col-sm-4 control-label">Codigo de Serie:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="serie_documental.cod_serie">   
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-4 control-label">Nombre de Serie :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"  ng-model="serie_documental.nom_serie" >   
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-4 control-label">Valor de Serie :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="serie_documental.val_serie">   
                                </div>
                        </div>
                        <div class="form-group">
                                <div class="col-md-4 col-md-offset-8">
                                    <button class="btn btn btn-warning" data-dismiss="modal"><i class="fa fa-warning" > Cancelar</i></button>
                                    <button class="btn btn btn-warning" ng-click="editar_serie()"><i class="fa fa-save" > Guardar</i></button>
                                </div>            
                        </div>
                    </form> 
                </div>               
            </div>
            
        </div>
        
    </div>
  
</div>

<div class="modal fade"  id="modalTablaRetencion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class ="modal-content">
            <div class ="modal-header">
                <div class="panel panel-primary">
                    <h4 class="modal-title" id="myModalLabel">TABLA RETENCION DE DOCUMENTOS</h4> 
                </div>
            </div>
            <div class="modal-body">
                <div class="panel panel-primary">
                    <form class="form-horizontal style-form" method="get">
                        
                        <div class="form-group">
                                <label class="col-sm-4 control-label">Nombre de la Serie :</label>
                                <div class="col-sm-4">
                                    <label>{{serie_documental.nom_serie}}</label>  
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-4 control-label">Abreviacion :</label>
                                <div class="col-sm-4">
                                    <label>{{serie_documental.cod_serie}}</label>  
                                </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-4 control-label">AG :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="serie_documental.ag">   
                                </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-4 control-label">AP :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="serie_documental.ap">   
                                </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-4 control-label">OAA :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="serie_documental.oaa">   
                                </div>
                        </div>
                        <div class="form-group">
                                <div class="col-md-4 col-md-offset-8">
                                    
                                    <button class="btn btn btn-warning"  ng-click="actualizar_retencion()"><i class="fa fa-save" > Guardar</i></button>
                                  
                                    
                                </div>            
                        </div>
                       
                    </form>
                </div>    
            </div>
        </div>
   
    </div>
    
</div>


         