
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <md-progress-linear ng-if="ctrlDetalle.showProgress" md-mode="indeterminate"></md-progress-linear>
        <section class="panel">
            <header class="panel-heading">
                <h4>Detalles de Fichas de Evaluación</h4>
            </header>
            <div class="panel-body">
                <div id="elementos">
                    <div class="col-lg-6 col-xs-12">
                        <div class="col-lg-12 col-xs-12 panel-default">
                            <div class="panel-heading input-lg">Información de Ficha</div>
                            <div class="form-group">
                                <div class="form-group"><br>
                                    <label class="col-lg-2 control-label">Vigencia:</label>
                                    <input type="date" class="form-control" ng-model="ctrlDetalle.vigTmp" >
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Descripción:</label>
                                    <input type="text" name="des" ng-model="ctrlDetalle.desTmp" class="editable-input form-control input-m" required >
                                </div>
                                <div class="form-group" align="right">
                                    <button type="submit" class="btn btn-primary" ng-click="ctrlDetalle.updateInfoFicha()" >Modificar</button>
                                </div>
                            </div>
                            <div class="panel-heading input-lg">Escalas</div>
                            <table ng-table="ctrlDetalle.elementosFicha.escalas" class="table table-bordered table-hover table-condensed editable-table text-center"    >
                                <colgroup>
                                    <col width="10%" />
                                    <col width="20%" />
                                    <col width="45%" />
                                    <col width="25%" />
                                </colgroup>
                                <tr>
                                    <th>Valor</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th><button type="submit" class="btn btn-default" ng-click="ctrlDetalle.registrarElemento('escalas')" title="Nuevo"><span class="glyphicon glyphicon-plus-sign"></span></button></th>
                                </tr>
                                <tr ng-repeat="row in $data" ng-form="rowForm">
                                    <td ng-switch="row.isEditing" ng-class="max.$dirty ? 'bg-warning' : ''" ng-form="max" >
                                        <span ng-switch-default class="editable-text">{{row.val}}</span>
                                        <div class="controls" ng-class="max.$invalid && max.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                            <input type="number" name="max" ng-model="row.max" class="editable-input form-control input-sm" required />
                                        </div>
                                    </td>
                                    <td ng-switch="row.isEditing" ng-class="nom.$dirty ? 'bg-warning' : ''" ng-form="nom" >
                                        <span ng-switch-default class="editable-text">{{row.nom}}</span>
                                        <div class="controls" ng-class="nom.$invalid && nom.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                            <input type="text" name="nom" ng-model="row.nom" class="editable-input form-control input-sm" required />
                                        </div>
                                    </td>
                                    <td ng-switch="row.isEditing" ng-class="des.$dirty ? 'bg-warning' : ''" ng-form="des" >
                                        <span ng-switch-default class="editable-text">{{row.des}}</span>
                                        <div class="controls" ng-class="des.$invalid && des.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                            <input type="text" name="des" ng-model="row.des" class="editable-input form-control input-sm" required />
                                        </div>
                                    </td>
                                    <td>
                                        <!--<button class="btn btn-primary btn-sm" ng-click="ctrlDetalle.save(row, rowForm,'escalas')" ng-if="row.isEditing"
                                                ng-disabled="rowForm.$pristine || rowForm.$invalid">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button class="btn btn-default btn-sm" ng-click="ctrlDetalle.cancel(row, rowForm,'escalas')" ng-if="row.isEditing">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>-->
                                        <button class="btn btn-default btn-sm" ng-click="ctrlDetalle.upd(row, 'escalas')" title="Editar">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button class="btn btn-danger btn-sm" ng-click="ctrlDetalle.del(row, 'escalas', $event)" ng-if="!row.isEditing" title="Eliminar">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        <div class="col-lg-12 col-xs-12 panel-default">
                            <div class="panel-heading input-lg">Rangos</div>
                            <table ng-table="ctrlDetalle.elementosFicha.rangos" class="table table-bordered table-hover table-condensed editable-table text-center">
                                <colgroup>
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="50%" />
                                    <col width="30%" />
                                </colgroup>
                                <tr>
                                    <th>Mínimo</th>
                                    <th>Máximo</th>
                                    <th>Descripción</th>
                                    <th><button type="submit" class="btn btn-default" ng-click="ctrlDetalle.registrarElemento('rangos')" title="Nuevo"><span class="glyphicon glyphicon-plus-sign"></span></button></th>
                                </tr>
                                <tr ng-repeat="row in $data" ng-form="rowFormRange">
                                    <td ng-switch="row.isEditing" ng-class="min.$dirty ? 'bg-warning' : ''" ng-form="min" >
                                        <span ng-switch-default class="editable-text">{{row.min}}</span>
                                        <div class="controls" ng-class="min.$invalid && min.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                            <input type="number" name="min" ng-model="row.min" class="editable-input form-control input-sm" required />
                                        </div>
                                    </td>
                                    <td ng-switch="row.isEditing" ng-class="max.$dirty ? 'bg-warning' : ''" ng-form="max" >
                                        <span ng-switch-default class="editable-text">{{row.max}}</span>
                                        <div class="controls" ng-class="max.$invalid && max.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                            <input type="number" name="max" ng-model="row.max" class="editable-input form-control input-sm" required />
                                        </div>
                                    </td>
                                    <td ng-switch="row.isEditing" ng-class="des.$dirty ? 'bg-warning' : ''" ng-form="des" >
                                        <span ng-switch-default class="editable-text">{{row.des}}</span>
                                        <div class="controls" ng-class="des.$invalid && des.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                            <input type="text" name="des" ng-model="row.des" class="editable-input form-control input-sm" required />
                                        </div>
                                    </td>
                                    <td>
                                        <!--<button class="btn btn-primary btn-sm" ng-click="ctrlDetalle.save(row, rowFormRange,'rangos')" ng-if="row.isEditing"
                                                ng-disabled="rowFormRange.$pristine || rowFormRange.$invalid">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button class="btn btn-default btn-sm" ng-click="ctrlDetalle.cancel(row, rowFormRange,'rangos')" ng-if="row.isEditing">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>-->
                                        <button class="btn btn-default btn-sm" ng-click="ctrlDetalle.upd(row, 'rangos')" title="Editar">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button class="btn btn-danger btn-sm" ng-click="ctrlDetalle.del(row, 'rangos', $event)" ng-if="!row.isEditing" title="Eliminar">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="funciones_div" class="row">
                        <div class="col-lg-12 col-xs-12 panel">
                            <div  ng-switch="ctrlDetalle.tipf">
                                <div ng-switch-default>
                                    <div ng-switch-default class="panel-heading">Funciones y Competencias</div>
                                    <div class="col-lg-6">
                                        <table ng-table="ctrlDetalle.elementosFicha.funciones" class="table table-bordered table-hover table-condensed editable-table text-center">
                                            <colgroup>
                                                <col width="70%" />
                                                <col width="30%" />
                                            </colgroup>
                                            <tr>
                                                <th>Funciones</th>
                                                <th><button type="submit" class="btn btn-default" ng-click="ctrlDetalle.registrarElemento('contenido')" title="Nuevo"><span class="glyphicon glyphicon-plus-sign"></span></button></th>
                                            </tr>
                                            <tr ng-repeat="row in $data" ng-form="rowFormFunciones" ng-click="ctrlDetalle.mostrarIndicadores(row)">
                                                <td ng-switch="row.isEditing" ng-class="nom.$dirty ? 'bg-warning' : ''" ng-form="nom" >
                                                    <span ng-switch-default class="editable-text" >{{row.nom}}</span>
                                                    <div class="controls" ng-class="nom.$invalid && min.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                                        <input type="text" name="min" ng-model="row.nom" class="editable-input form-control input-sm" required />
                                                    </div>
                                                </td>
                                                <td>
                                                    <!--<button class="btn btn-primary btn-sm" ng-click="ctrlDetalle.save(row, rowFormFunciones,'funciones')" ng-if="row.isEditing"
                                                            ng-disabled="rowFormFunciones.$pristine || rowFormFunciones.$invalid">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                    <button class="btn btn-default btn-sm" ng-click="ctrlDetalle.cancel(row, rowFormFunciones,'funciones')" ng-if="row.isEditing">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>-->

                                                    <button class="btn btn-default btn-sm" ng-click="ctrlDetalle.upd(row, 'funciones')" title="Editar">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-sm" ng-click="ctrlDetalle.del(row, 'funciones', $event)" ng-if="!row.isEditing" title="Eliminar">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <table ng-table="ctrlDetalle.elementosFicha.competencias" class="table table-bordered table-hover table-condensed editable-table text-center">
                                            <colgroup>
                                                <col width="70%" />
                                                <col width="30%" />
                                            </colgroup>
                                            <tr>
                                                <th>Competencias</th>
                                                <th><button type="submit" class="btn btn-default" ng-click="ctrlDetalle.registrarElemento('contenido')" title="Nuevo"><span class="glyphicon glyphicon-plus-sign"></span></button></th>
                                            </tr>
                                            <tr ng-repeat="row in $data" ng-form="rowFormCompetencias" ng-click="ctrlDetalle.mostrarIndicadores(row)">
                                                <td ng-switch="row.isEditing" ng-class="row.isSelected ? 'active' : ''" ng-form="nom" >
                                                    <span ng-switch-default class="editable-text" >{{row.nom}}</span>
                                                    <div class="controls" ng-class="nom.$invalid && nom.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                                        <input type="text" name="min" ng-model="row.nom" class="editable-input form-control input-sm" required />
                                                    </div>
                                                </td>
                                                <td>
                                                    <!---<button class="btn btn-primary btn-sm" ng-click="ctrlDetalle.save(row, rowFormCompetencias,'competencias')" ng-if="row.isEditing"
                                                            ng-disabled="rowFormCompetencias.$pristine || rowFormCompetencias.$invalid">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                    <button class="btn btn-default btn-sm" ng-click="ctrlDetalle.cancel(row, rowFormCompetencias,'competencias')" ng-if="row.isEditing">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>-->
                                                    <button class="btn btn-default btn-sm" ng-click="ctrlDetalle.upd(row, 'competencias')" title="Editar">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-sm" ng-click="ctrlDetalle.del(row, 'competencias', $event)" ng-if="!row.isEditing" title="Eliminar">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-6">
                                        <table ng-table="ctrlDetalle.elementosFicha.indicador" class="table table-bordered table-hover table-condensed editable-table text-center" >
                                            <colgroup>
                                                <col width="70%" />
                                                <col width="30%" />
                                            </colgroup>
                                            <tr>
                                                <th>Indicadores</th>
                                                <th><button type="submit" class="btn btn-default" ng-click="ctrlDetalle.registrarElemento('indicador')" ng-disabled="!ctrlDetalle.contenidoActual.selected" title="Nuevo"><span class="glyphicon glyphicon-plus-sign"></span></button></th>
                                            </tr>
                                            <tr ng-repeat="row in $data" ng-form="rowFormIndicador">
                                                <td ng-switch="row.isEditing" ng-class="nom.$dirty ? 'bg-warning' : ''" ng-form="nom" >
                                                    <span ng-switch-default class="editable-text">{{row.nom}}</span>
                                                    <div class="controls" ng-class="nom.$invalid && min.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                                        <input type="text" name="min" ng-model="row.nom" class="editable-input form-control input-sm" required />
                                                    </div>
                                                </td>
                                                <td>
                                                    <!---<button class="btn btn-primary btn-sm" ng-click="ctrlDetalle.save(row, rowFormIndicador,'indicador')" ng-if="row.isEditing"
                                                            ng-disabled="rowFormIndicador.$pristine || rowFormIndicador.$invalid">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                    <button class="btn btn-default btn-sm" ng-click="ctrlDetalle.cancel(row, rowFormIndicador,'indicador')" ng-if="row.isEditing">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>-->
                                                    <button class="btn btn-default btn-sm" ng-click="ctrlDetalle.upd(row, 'indicador')" title="Editar">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-sm" ng-click="ctrlDetalle.del(row, 'indicador', $event)" ng-if="!row.isEditing" title="Eliminar">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div ng-switch-when="1">
                                    <uib-accordion close-others="oneAtATime">
                                        <div ng-repeat="dominio in ctrlDetalle.dominios" uib-accordion-group class="panel-default" is-open="status.open">
                                            <uib-accordion-heading>
                                                <b>Dominio: {{dominio.nom}}</b> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </uib-accordion-heading>
                                            <uib-accordion close-others="oneAtATime">
                                                <div ng-repeat="comp in dominio.cont" uib-accordion-group class="panel-default" is-open="false" heading="Competencia: {{comp.nom}}">
                                                    <table class="table table-bordered">
                                                        <tr ng-repeat="indicador in comp.indicadores">
                                                            <td>{{indicador.nom}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </uib-accordion>

                                        </div>
                                    </uib-accordion>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/ng-template" id="escalas.html">
    <div class="modal-header">
    <h3 class="modal-title">{{ctrl.title}}</h3>
    <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
    </div>
    <div class="modal-body">
    <form class="form-horizontal" role="form" name="myForm">
    <div class="form-group">
    <label for="valor" class="col-lg-2 control-label">Valor:</label>
    <div class="col-lg-10">
    <input name="myValue" id="valor" class="form-control" type="number" ng-model="ctrl.elemento.val" required>
    </div>
    </div>
    <div class="form-group">
    <label for="nombre" class="col-lg-2 control-label">Nombre de la escala:</label>
    <div class="col-lg-10">
    <input name="myName" id="nombre" class="form-control" type="text" ng-model="ctrl.elemento.nom" required>
    </div>
    </div>
    <div class="form-group">
    <label for="descripcion" class="col-lg-2 control-label">Descripcion:</label>
    <div class="col-lg-10">
    <textarea name="myDes" class="form-control" row="10" ng-model="ctrl.elemento.des" required></textarea>
    </div>
    </div>
    <div class="form-group">
    <div class="col-lg-offset-8 btn-group">
    <button type="submit" class="btn btn-primary"  ng-disabled="myForm.$invalid" ng-click="ctrl.accept()">Guardar</button>
    <button  class="btn btn-danger" ng-click="ctrl.cancel()">Cancelar</button>
    </div>
    </div>
    </form>
    </div>
</script>
<script type="text/ng-template" id="rangos.html">
    <div class="modal-header">
    <h3 class="modal-title">{{ctrl.title}}</h3>
    <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
    </div>
    <div class="modal-body">
    <form name = "myForm" class="form-horizontal" role="form">
    <div class="form-group">
    <label for="minimo" class="col-lg-2 control-label">Valor Minimo:</label>
    <div class="col-lg-10">
    <input id="minimo" class="form-control" type="number" ng-model="ctrl.elemento.min" required>
    </div>
    </div>
    <div class="form-group">
    <label for="maximo" class="col-lg-2 control-label">Valor Maximo:</label>
    <div class="col-lg-10">
    <input id="maximo" class="form-control" type="number" ng-model="ctrl.elemento.max" required>
    </div>
    </div>
    <div class="form-group">
    <label for="descripcion" class="col-lg-2 control-label">Descripcion:</label>
    <div class="col-lg-10">
    <textarea class="form-control" row="10" ng-model="ctrl.elemento.des" required></textarea>
    </div>
    </div>
    <div class="form-group">
    <div class="col-lg-offset-8 btn-group">
    <button type="submit" class="btn btn-primary"  ng-disabled="myForm.$invalid" ng-click="ctrl.accept()">Guardar</button>
    <button class="btn btn-danger" ng-click="ctrl.cancel()">Cancelar</button>
    </div>
    </div>
    </form>
    </div>
</script>
<script type="text/ng-template" id="contenido.html">
    <div class="modal-header">
    <h3 class="modal-title" ng-bind="(ctrl.title)? ctrl.title : 'Nuevo Contenido de Ficha'" />
    <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
    </div>
    <div class="modal-body">
    <form class="form-horizontal" role="form" name="myForm">
    <div class="form-group">
    <label for="tipo" class="col-lg-2 control-label">Tipo de contenido:</label>
    <div class="col-lg-10">
    <select id="tipo" class="form-control" ng-model="ctrl.elemento.tip" ng-options="s.abr as s.nom for s in ctrl.ltipos track by s.id" required>
    </select>
    </div>
    </div>
    <div class="form-group">
    <label for="descripcion" class="col-lg-2 control-label">Descripcion:</label>
    <div class="col-lg-10">
    <textarea id="descripcion" class="form-control" row="10" ng-model="ctrl.elemento.nom" required></textarea>
    </div>
    </div>
    <div class="form-group">
    <div class="col-lg-offset-8 btn-group">
    <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="ctrl.accept()" >Guardar</button>
    <button type="submit" class="btn btn-danger" ng-click="ctrl.cancel()">Cancelar</button>
    </div>
    </div>
    </form>
    </div>
</script>
<script type="text/ng-template" id="indicador.html">
    <div class="modal-header">
    <h3 class="modal-title" ng-bind="ctrl.title" />
    <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
    </div>
    <div class="modal-body">
    <form class="form-horizontal" role="form" name="myForm">
    <div class="form-group">
    <label for="nombre" class="col-lg-2 control-label">Funcion o Competencia:</label>
    <div class="col-lg-10">
    <label ng-bind="ctrl.elemento.padre"/>
    </div>
    </div>
    <div class="form-group">
    <label for="nombre" class="col-lg-2 control-label">Nombre:</label>
    <div class="col-lg-10">
    <input id="nombre" class="form-control" type="text" ng-model="ctrl.elemento.nom" required>
    </div>
    </div>
    <div class="form-group">
    <label for="doc" class="col-lg-2 control-label">Documento Verificacion:</label>
    <div class="col-lg-10">
    <input id="doc" class="form-control" type="text" ng-model="ctrl.elemento.doc" required>
    </div>
    </div>
    <div class="form-group">
    <label for="descripcion" class="col-lg-2 control-label">Descripcion:</label>
    <div class="col-lg-10">
    <textarea class="form-control" row="10" ng-model="ctrl.elemento.des" required></textarea>
    </div>
    </div>
    <div class="form-group">
    <div class="col-lg-offset-8 btn-group">
    <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="ctrl.accept()" >Guardar</button>
    <button type="submit" class="btn btn-danger" ng-click="ctrl.cancel()">Cancelar</button>
    </div>
    </div>
    </form>
    </div>
</script>