
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                <h4>Lista de trabajadores</h4>
            </header>
            <div class="panel-body">
                <div id="idresult" class="row" >
                    <table ng-table="ctrlevalPersonal.personalIE" class="table table-condensed table-bordered" >
                        <colgroup>
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="10%" />
                        <col width="30%" />
                        <col width="15%" />
                    </colgroup>
                        <tr ng-repeat="row in $data"  ng-click="ctrlevalPersonal.changeSelection(row)" align="center">
<!--                            <td data-title="'Codigo'"><span ng-bind="row.tra"></span></td>-->
                            <td filter="{nom: 'text'}" sortable="'nom'" data-title="'Nombre'"><span ng-bind="row.nom"></span></td>
                            <td filter="{apep: 'text'}" sortable="'apep'" data-title="'Apellido Paterno'"><span ng-bind="row.apep"></span></td>
                            <td filter="{apem: 'text'}" sortable="'apem'" data-title="'Apellido Materno'"><span ng-bind="row.apem"></span></td>
                            <td sortable="'eval'" data-title="'N° Evaluaciones'"><span ng-bind="row.eval"></span></td>
                            <td filter="{car: 'text'}" sortable="'car'" data-title="'Cargo'"><span ng-bind="row.car"></span></td>
                            <td data-title="'Detalles'">
                                <button class="btn btn-success btn-sm" data-toggle="tooltip" title="Aplicar ficha" ng-click="ctrlevalPersonal.evaluarPersonal(row)">
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                </button>
                                <button class="btn btn-info btn-sm" data-toggle="tooltip" title="Ver evaluaciones ({{row.eval}})" ng-disabled="!(row.eval > 0)" ng-click="ctrlevalPersonal.obtenerResumen(row)">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                                <button class="btn btn-warning btn-sm" data-toggle="tooltip" title="Ver gráfico" ng-disabled="!(row.eval > 0)" ng-click="ctrlevalPersonal.showEstadIndiv(row)">
                                    <span class="glyphicon glyphicon-stats"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-10">
                        <button type="submit" class="btn btn-warning btn-sm" ng-click="ctrlevalPersonal.showEstadGener()">Estadísticas Generales<i class="glyphicon glyphicon-stats"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="mod_estad_indiv.html">
    <div class="modal-header">
        <h3 class="modal-title">Estadísticas del Trabajador</h3>
    </div>
    <div class="modal-body">
        <!--<nvd3 options="ctrl.options" data="ctrl.data" api="api"></nvd3>-->
        <canvas id="line" class="chart chart-line" chart-data="ctrl.data"
                chart-labels="ctrl.labels" chart-series="ctrl.series" chart-options="ctrl.options"
                chart-dataset-override="ctrl.dataset"> </canvas>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ctrl.aceptar()">Cerrar</button>
    </div>
</script>
<script type="text/ng-template" id="mod_estad_grup.html">
    <div class="modal-header">
        <h3 class="modal-title">Estadísticas Generales</h3>
    </div>
    <div class="modal-body">

        <select class= "form-control" ng-model="ctrl.selecOption" ng-options="s as s.nom for s in ctrl.optionsg track by s.id">
        </select>
        <!--<nvd3  options="ctrl.options" data="ctrl.data"></nvd3>-->
        <canvas id="base" class="chart-horizontal-bar" chart-data="ctrl.data" chart-labels="ctrl.labels" ></canvas>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ctrl.aceptar()">Aceptar</button>
    </div>
</script>