<div class="row">
    <div class="col-lg-12 col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                <h4>Mis evaluaciones</h4>
                <md-progress-linear ng-if="ctrlmisEvaluaciones.showProgress" md-mode="indeterminate"></md-progress-linear>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table ng-table="ctrlmisEvaluaciones.resumenes" class="table table-condensed table-bordered">
                            <colgroup>
<!--                                <col width="5%" />-->
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="55%" />
                                <col width="15%" />
                            </colgroup>
                            <tr ng-repeat="row in $data"   ng-click="ctrlmisEvaluaciones.changeSelection(row)" align="center" >
<!--                                <td data-title="'Código'" >{{row.det}}</td>-->
                                <td data-title="'Fecha'" >{{row.fec | date:'dd-MM-yyyy'}}</td>
                                <td data-title="'Puntaje'" >{{row.pun}}</td>
                                <td data-title="'Etapa'" ><span ng-if="row.eta === 'i'"> Inicio</span><span ng-if="row.eta === 'p'"> Proceso</span><span ng-if="row.eta === 'f'"> Final</span></td>
                                <td data-title="'Resultado'" >{{row.res}}</td>
                                <td>
                                    <button class="btn btn-info btn-sm" data-toggle="tooltip" title="Detalles" ng-click="ctrlmisEvaluaciones.obtenerDetalle(row)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    <button class="btn btn-warning btn-sm" data-toggle="tooltip" title="Reportes" ng-click="ctrlmisEvaluaciones.verReporte(row)">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script  type="text/ng-template" id="modal_detalle_evaluacion_trabajador.html">
    <div class="modal-header">
        <h3 class="modal-title">Resumen de Evaluacion de personal</h3>
    </div>
    <div class="modal-body">
        <div id="resumen_general">
            <table class="table table-bordered table-striped">
                <thead>
                <th>Nombre</th>
                <th ng-repeat="col in ctrl.data.cols">{{col.val}}</th>
                <th>Total</th>
                </thead>
                <tr ng-repeat="det in ctrl.data.dets">
                    <td><span ng-if="det.tip === 'c'"><b>Competencia: </b></span><span>{{det.nom}}</span></td>
                    <td ng-repeat="col in det.sum track by $index">{{col}}</td>
                    <td><span>{{det.subt}}</span></td>
                </tr>
            </table>
        </div>
        <div id="puntaje_final">
            <table class="table table-bordered table-striped">
                <thead>
                <th>Item de Evaluacion</th>
                <th>Puntaje(%)</th>
                </thead>
                <tr ng-repeat="det in ctrl.data.dets">
                    <td><span ng-if="det.tip === 'c'"><b>Competencia: </b></span><span>{{det.nom}}</span></td>
                    <td><span>{{det.pun | number : 2}}%</span></td>
                </tr>
                <tr>
                    <td><span ><b>Total: </b></span></td>
                    <td><span>{{ctrl.data.res.pun | number : 2}} %</span></td>
                </tr>
            </table>
        </div>
        <div>
            <h4 align="center">{{ctrl.data.res.res}}</h4>
        </div>
        <div class="col-lg-offset-8 btn-group">
            <button type="submit" class="btn btn-primary" ng-click="ctrl.ok()">Guardar</button>
            <button type="submit" class="btn btn-danger" ng-click="ctrl.cancel()">Cancelar</button>
        </div>

    </div>
</script>