<style type="text/css">
    form.tab-form-demo .tab-pane {
        margin: 20px 20px;
    }
</style>
<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">MATRICULA INDIVIDUAL</h4>
        </header>
        <div class="form-group">
            <div class="form-group">
                <div class="input-group col-lg-12">
                    <div class="col-lg-6">
                        <label for="codEst">Codigo del estudiante:</label>
                        <div class="input-group">
                            <input class="form-control" id="codEst" name="codEst" type="text" ng-model="busqueda.codigoBusqueda" />
                            <span class="input-group-btn">
                                <button class="btn btn-info" 
                                        ng-click="buscarEstudiante();">
                                    <i class="glyphicon glyphicon-book"> Buscar</i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-lg-offset-2">
                        <label for="filCodEst">Busqueda por:</label>
                        <select class="form-control" id="filCodEst" name="filCodEst" ng-model="busqueda.tipoBusqueda">
                            <option value="1">Documento Nacional de Identidad</option>
                            <option value="2">Codigo de Estudiante</option>
                            <option value="3">Nombres</option>
                            <option value="4">Apellido Paterno</option>
                            <option value="5">Apellido Materno</option>
                        </select>
                    </div>
                </div>                
            </div>

            <div class="col-lg-12">
                <label> </label>
            </div>

            <div class="form-group">
                <div class="input-group col-lg-12">
                    <div class="table-responsive">
                        <table ng-table="tablaPrincipal" 
                               class="table table-striped table-hover" show-filter="true" >
                            <colgroup>
                                <col width="15%" />
                                <col width="15%" />
                                <col width="35%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="15%" />
                            </colgroup>
                            <tr ng-repeat="est in $data">
                                <td data-title="'Codigo E.'" filter="{ estCodEst: 'text'}" 
                                    sortable="'estCodEst'" style="text-align: center;">
                                    {{est.estCodEst}}</td>
                                <td data-title="'DNI'" filter="{ estDni: 'text'}" 
                                    sortable="'estDni'" style="text-align: center;">
                                    {{est.estDni}}</td>
                                <td data-title="'Nombre Completo'" filter="{ estNom: 'text'}" 
                                    sortable="'estNom'" style="text-align: center;">
                                    {{est.estNom + " " + est.estApePat + " " + est.estApeMat}}</td>
                                <td data-title="'Ultimo Grado'" filter="{ ultGraCulNom: 'text'}" 
                                    sortable="'ultGraCulNom'" style="text-align: center;">
                                    {{est.ultGraCulNom}}</td>
                                <td data-title="'Ultima Seccion'" filter="{ ultSec: 'text'}" 
                                    sortable="'ultSec'"  style="text-align: center;">
                                    {{est.ultSec}}</td>
                                <td data-title="'Operaciones'" style="text-align: center;">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" 
                                                ng-click="buscarMatricula(est.estId, est.estOrgOri, est.ultGraCul, est.estDni);">
                                            <i class="fa fa-book "> </i>
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" 
                                                ng-click="descargarConstanciaMatricula(est.estId, est.estDni);">
                                            <i class="fa fa-print "> </i>
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" 
                                                ng-click="cambiarSeccion(est.estId, est.estOrgOri);">
                                            <i class="fa fa-chain"> </i>
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" 
                                                ng-click="eliminarMatricula(est.estId);">
                                            <i class="fa fa-arrow-down "> </i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div> 
                </div>
            </div>
        </div>
    </section>
</div>

<div id="modalMatriculaCreate" class="modal fade" role="dialog"
     ng-init="cargarGradosySecciones();">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Matricula</h4>
            </div>
            <form id="createForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">   
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Estado:</label>
                                <input type="text" class="form-control" name="matEstNom" id="matEstNom" ng-model="matriculaCreate.matEstNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-3">
                                <label>Fecha:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id="fecNac" 
                                           ng-model="matriculaCreate.matFec"  is-open="popup1.opened" datepicker-options="dateOptions" 
                                           close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Situacion Matricula:</label>
                                <select class="form-control" id="matSit" name="matSit" ng-model="matriculaCreate.matSit" >
                                    <option value="1">Ingresante</option>
                                    <option value="2">Promovido</option>
                                    <option value="3">Repitente</option>
                                    <option value="4">Reentrante</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Condición Matricula:</label>
                                <select class="form-control" id="conMat" name="conMat" ng-model="matriculaCreate.conMat" >
                                    <option value="1">Gratuito</option>
                                    <option value="2">Pagante</option>
                                    <option value="3">Beca Completa</option>
                                    <option value="4">Media Beca</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Nivel:</label>
                                <select class="form-control" 
                                        id="nivId" name="nivId" 
                                        ng-model="matriculaCreate.nivId"
                                        ng-change="cargarJornada()">
                                    <option ng-repeat="niv in arrays.niveles" value="{{niv.nivelId}}" >{{niv.nivelNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Jornada Escolar:</label>
                                <select class="form-control" 
                                        id="jorEscId" name="jorEscId" 
                                        ng-model="matriculaCreate.jorEscId"
                                        ng-change="cargarTurno()">
                                    <option ng-repeat="jor in arrays.jornadas" value="{{jor.jornadaId}}" >{{jor.jornadaNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Turno:</label>
                                <select class="form-control" 
                                        id="turId" name="turId" 
                                        ng-model="matriculaCreate.turId"
                                        ng-change="cargarGrados()">
                                    <option ng-repeat="tur in arrays.turnos" value="{{tur.turnoId}}" >{{tur.turnoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Grados:</label>
                                <select class="form-control" 
                                        id="graId" name="graId" 
                                        ng-model="matriculaCreate.graId"
                                        ng-change="cargarVacantes()">
                                    <option ng-repeat="gra in arrays.grados" value="{{gra.gradoId}}" >{{gra.gradoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Vacantes:</label>
                                <input type="text" class="form-control" 
                                       name="vacantesxGrado" id="vacantesxGrado" 
                                       ng-model="datosVacantes.vacantesxGrado" 
                                       ng-disabled="true"/>
                            </div>

                            <div class="col-lg-6">
                                <label>Apoderado:</label>
                                <select class="form-control" 
                                        id="matParId" name="matParId" 
                                        ng-model="matriculaCreate.matParId">
                                    <option ng-repeat="par in parientes" value="{{par.parParId}}" >{{par.parParDes}}</option>
                                </select>
                            </div>

                            <div class="col-sm-12">
                                <label>Observaciones:</label>
                                <input class="form-control" id="matObs" name="matObs" type="text" ng-model="matriculaCreate.matObs" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" 
                            ng-click="generarMatricula();">
                        <i class="fa fa-archive "> </i> Generar Matricula
                    </button>
                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>                                        
    </div>
</div>

<div id="modalMatriculaLoad" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Matricula</h4>
            </div>
            <form id="LoadForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">   
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Condicion de Matricula:</label>
                                <input type="text" class="form-control" 
                                       name="conMatNom" id="conMatNom" 
                                       ng-model="matriculaLoad.conMatNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-3">
                                <label>Situacion de Matricula:</label>
                                <input type="text" class="form-control" 
                                       name="sitMatNom" id="sitMatNom" 
                                       ng-model="matriculaLoad.sitMatNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-3">
                                <label>Estado de Matricula:</label>
                                <input type="text" class="form-control" 
                                       name="matEstNom" id="matEstNom" 
                                       ng-model="matriculaLoad.matEstNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-3">
                                <label>Fecha:</label>
                                <input type="text" class="form-control" 
                                       name="matFec" id="matFec" 
                                       ng-model="matriculaLoad.matFec" ng-disabled="true">
                            </div>
                            <div class="col-sm-6">
                                <label>Apoderado:</label>
                                <input type="text" class="form-control" 
                                       name="apoNom" id="apoNom" 
                                       ng-model="matriculaLoad.apoNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-6">
                                <label>Estudiante:</label>
                                <input type="text" class="form-control" 
                                       name="estNom" id="estNom" 
                                       ng-model="matriculaLoad.estNom" ng-disabled="true">
                            </div>

                            <div class="col-sm-2">
                                <label>Nivel:</label>
                                <input type="text" class="form-control" 
                                       name="planNivNom" id="planNivNom" 
                                       ng-model="matriculaLoad.nivNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-6">
                                <label>Jornada:</label>
                                <input type="text" class="form-control" 
                                       name="planNivNom" id="planNivNom" 
                                       ng-model="matriculaLoad.JornadaNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-2">
                                <label>Turno:</label>
                                <input type="text" class="form-control" 
                                       name="planNivNom" id="planNivNom" 
                                       ng-model="matriculaLoad.turnoNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-2">
                                <label>Grado y Seccion</label>
                                <input type="text" class="form-control" 
                                       name="graNom" id="graNom" 
                                       ng-disabled="true" value="{{matriculaLoad.graNom}} {{matriculaLoad.secId}}">
                            </div>
                            <div class="col-sm-6">
                                <label>Organizacion Origen</label>
                                <input type="text" class="form-control" 
                                       name="orgOriNom" id="orgOriNom" 
                                       ng-model="matriculaLoad.orgOriNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-6">
                                <label>Organizacion Destino</label>
                                <input type="text" class="form-control" 
                                       name="orgDesNom" id="orgDesNom" 
                                       ng-model="matriculaLoad.orgDesNom" ng-disabled="true">
                            </div>
                            <div class="col-sm-12">
                                <label>Observaciones</label>
                                <input type="text" class="form-control" 
                                       name="obs" id="obs" 
                                       ng-model="matriculaLoad.obs" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>                                        
    </div>
</div>

<div id="modalCambiarSeccion" class="modal fade" role="dialog"
     ng-init="cargarGradosySecciones();">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cambio de Seccion</h4>
            </div>
            <form id="SeccionForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">   
                        <div class="form-group">
                            <div class="col-lg-3">
                                <label>Nivel:</label>
                                <input type="text" class="form-control" 
                                       ng-model="changeSeccion.nivNom" 
                                       ng-disabled="true"/>
                            </div>
                            <div class="col-lg-6">
                                <label>Jornada Escolar:</label>
                                <input type="text" class="form-control" 
                                       ng-model="changeSeccion.jorEscNom" 
                                       ng-disabled="true"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Turno:</label>
                                <input type="text" class="form-control" 
                                       ng-model="changeSeccion.turNom" 
                                       ng-disabled="true"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Grados:</label>
                                <input type="text" class="form-control" 
                                       ng-model="changeSeccion.graNom" 
                                       ng-disabled="true"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Seccion Actual</label>
                                <input type="text" class="form-control" 
                                       ng-model="changeSeccion.secAct" 
                                       ng-disabled="true"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Secciones:</label>
                                <select class="form-control" 
                                        ng-model="changeSeccion.secId"
                                        ng-change="cargarVacantesSeccion()">
                                    <option ng-repeat="sec in arrays.secciones" value="{{sec.secId}}" >{{sec.secId}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Vacantes:</label>
                                <input type="text" class="form-control" 
                                       ng-model="changeSeccion.vacantesXSec" 
                                       ng-disabled="true"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" 
                            ng-click="generarCambioSeccion();">
                        <i class="fa fa-archive "> </i> Cambiar Seccion
                    </button>
                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>                                        
    </div>
</div>