<style type="text/css">
    form.tab-form-demo .tab-pane {
        margin: 20px 20px;
    }
</style>
<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading" ng-init="cargaInicial();">
            <h4 style="display:inline;line-height: 1.9">Traslado Ingreso</h4>

            <span class="tools pull-right">
                <button class="btn btn btn-primary btn-sm" 
                        ng-click="buscarTraslado()">
                    <i class="fa fa-rotate-right"></i> Listar
                </button>
            </span>
            <span class="tools pull-right">
                <button class="btn btn btn-success btn-sm" 
                        ng-click="nuevoTrasladoIngreso()">
                    <i class="fa fa-book"></i> Nuevo Traslado Ingreso
                </button>
            </span>
        </header>

        <div class="form-group">
            <div class="col-lg-12">
                <label> </label>
            </div>

            <div class="form-group" ng-init="buscarTraslado();">
                <div class="form-group">
                    <div class="input-group col-lg-12">
                        <div class="table-responsive">
                            <table ng-table="tablaPrincipal" 
                                   class="table table-striped table-hover" show-filter="true" >
                                <colgroup>
                                    <col width="15%" />
                                    <col width="20%" />
                                    <col width="10%" />
                                    <col width="15%" />
                                    <col width="15%" />
                                    <col width="10%" />
                                    <col width="15%" />
                                </colgroup>
                                <tr ng-repeat="tra in $data">
                                    <td data-title="'Organizacion Origen'" filter="{ orgOriNom: 'text'}" 
                                        sortable="'orgOriNom'" style="text-align: center;">
                                        {{tra.orgOriNom}}</td>
                                    <td data-title="'Estudiante'" filter="{ estNom: 'text'}" 
                                        sortable="'estNom'" style="text-align: center;">
                                        {{tra.estNom}}</td>
                                    <td data-title="'Fecha'" filter="{ fec: 'text'}" 
                                        sortable="'fec'" style="text-align: center;">
                                        {{tra.fec}}</td>
                                    <td data-title="'Tipo Traslado'" filter="{ traTip: 'select'}" 
                                        filter-data="tipoTraslado" sortable="'traTip'" style="text-align: center;">
                                        {{tra.traTipNom}}</td>
                                    <td data-title="'Estado Traslado'" filter="{ traEst: 'select'}" 
                                        filter-data="estadoTraslado" sortable="'traEst'" style="text-align: center;">
                                        {{tra.traEstNom}}</td>
                                    <td data-title="'Resolución'" filter="{ resolucion: 'text'}" 
                                        sortable="'resolucion'" style="text-align: center;">
                                        {{tra.resolucion}}</td>
                                    <td data-title="'Operaciones'" style="text-align: center;">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" 
                                                    ng-click="descargarTrasladoIngreso(tra.estDNI);">
                                                <i class="fa fa-book "> </i>
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="modalTrasladoIngreso" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nuevo Traslado Ingreso</h4>
            </div>
            <form id="createForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">   
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Estado:</label>
                                <input type="text" class="form-control" 
                                       name="traIngEstNom" id="traIngEstNom" 
                                       ng-model="trasladoCreate.traIngEstNom" ng-disabled="true">
                            </div>
                            <div class="col-lg-3 col-lg-offset-3">
                                <label>Año Origen:</label>
                                <input type="number" class="form-control" 
                                       name="traIngAnyoOri" id="traIngAnyoOri" placeholder="Año Origen" 
                                       ng-model="trasladoCreate.traIngAnyoOri" />
                            </div>
                            <div class="col-lg-3">
                                <label>Año Destino:</label>
                                <input type="number" class="form-control" 
                                       name="traIngAnyoDes" id="traIngAnyoDes" placeholder="Año Destino" 
                                       ng-model="trasladoCreate.traIngAnyoDes" />
                            </div>
                            <div class="col-lg-3">
                                <label>Tipo de Traslado:</label>
                                <select class="form-control" 
                                        id="traIngTipTra" name="traIngTipTra" 
                                        ng-model="trasladoCreate.traIngTipTra">
                                    <option value="1">Por Cambio de Nivel</option>
                                    <option value="2">Por Cambio de Año</option>
                                    <option value="3">En el Mismo año</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Resolucion de Traslado:</label>
                                <input type="text" class="form-control" 
                                       name="traIgnResTra" id="traIgnResTra" placeholder="Resolucion de Traslado" 
                                       ng-model="trasladoCreate.traIgnResTra" />
                            </div>
                            <div class="col-lg-6">
                                <label>Organizacion Destino:</label>
                                <input type="text" class="form-control" 
                                       name="traIgnOrgDes" id="traIgnOrgDes" placeholder="Organizacion Destino" 
                                       ng-model="trasladoCreate.traIgnOrgDesNom" 
                                       ng-disabled="true" />
                            </div>
                            <div class="col-lg-3">
                                <label>DNI Estudiante:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" 
                                           name="traIngDniEst" id="traIngDniEst" placeholder="DNI Estudiante" 
                                           ng-model="trasladoCreate.traIngDniEst" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" 
                                                ng-click="buscarEstudianteByDNI();">
                                            <i class="fa fa-search"> Buscar</i>
                                        </button>
                                    </span>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <label>Estudiante:</label>
                                <input type="text" class="form-control" 
                                       name="traIgnEstNom" id="traIgnEstNom" placeholder="Estudiante" 
                                       ng-model="trasladoCreate.traIgnEstNom" 
                                       ng-disabled="true"/>
                            </div>
                            <div class="col-lg-6">
                                <label>Organizacion Origen:</label>
                                <input type="text" class="form-control" 
                                       name="traIgnOrgOri" id="traIgnOrgOri" placeholder="Organizacion Origen" 
                                       ng-model="trasladoCreate.traIgnOrgOriNom" 
                                       ng-disabled="true" />
                            </div>
                            <div class="col-lg-12">
                                <label>Observaciones:</label>
                                <input type="text" class="form-control" 
                                       name="traIgnObs" id="traIgnObs" placeholder="Observaciones" 
                                       ng-model="trasladoCreate.traIgnObs" />
                            </div>
                            <div class="col-lg-3">
                                <label>Nivel:</label>
                                <select class="form-control" 
                                        id="traIngNivId" name="traIngNivId" 
                                        ng-model="trasladoCreate.traIngNivId"
                                        ng-change="cargarJornada()">
                                    <option ng-repeat="niv in arrays.niveles" value="{{niv.nivelId}}" >{{niv.nivelNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Jornada Escolar:</label>
                                <select class="form-control" 
                                        id="traIngJorEscId" name="traIngJorEscId" 
                                        ng-model="trasladoCreate.traIngJorEscId"
                                        ng-change="cargarTurno()">
                                    <option ng-repeat="jor in arrays.jornadas" value="{{jor.jornadaId}}" >{{jor.jornadaNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Turno:</label>
                                <select class="form-control" 
                                        id="traIngTurId" name="traIngTurId" 
                                        ng-model="trasladoCreate.traIngTurId"
                                        ng-change="cargarGrados()">
                                    <option ng-repeat="tur in arrays.turnos" value="{{tur.turnoId}}" >{{tur.turnoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Grados:</label>
                                <select class="form-control" 
                                        id="traIngGraId" name="traIngGraId" 
                                        ng-model="trasladoCreate.traIngGraId"
                                        ng-change="cargarVacantes()">
                                    <option ng-repeat="gra in arrays.grados" value="{{gra.gradoId}}" >{{gra.gradoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Vacantes:</label>
                                <input type="text" class="form-control" 
                                       name="vacantesxGrado" id="vacantesxGrado" 
                                       ng-model="datosVacantes.vacantesxGrado" 
                                       ng-disabled="true"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" 
                            ng-click="generarTrasladoIngreso();">
                        <i class="fa fa-archive "> </i> Confirmar Traslado Ingreso
                    </button>
                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>                                        
    </div>
</div>



<div id="modalError" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error en Traslado Ingreso</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">   
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p>No se pudo procesar la matricual debido a que existe otra en proceso:</p>
                            <p><strong>Estudiante: </strong> {{errorMsj.traIngEstNom}}</p>
                            <p><strong>Organizacion Origen: </strong> {{errorMsj.traIngOrgOri}}</p>
                            <p><strong>Organizacion Destino: </strong> {{errorMsj.traIngOrgDes}}</p>
                            <p><strong>Fecha: </strong> {{errorMsj.traIngFec}}</p>
                            <p><strong>Tipo de Traslado: </strong> {{errorMsj.traIngTipNom}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-success" data-dismiss="modal">Aseptar</button>
            </div>
        </div>                                        
    </div>
</div>

