<div class="row"><div class="col-lg-6">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">CONFIGURACION NOTA</h4>
    </header>
    <div class="panel-body" ng-init="listarEquivalenciasDocente(usuMaster.organizacion.organizacionID,usuMaster.usuario.usuarioID)" >

          <table ng-table="tabla_configuracion_nota" class="table table-striped table-hover">

                <tr ng-repeat="o in $data">
                            <td data-title="'Codigo'" sortable="'cod'" style="text-align: center; width: 5%;">{{o.cod}}</td> 
                            <td data-title="'Descripcion'" filter="" sortable="'des'" style="text-align: center; width: 25%;">{{o.des}}</td>
                            <td data-title="'Nota Minima'" filter="" sortable="'not_min'" style="text-align: center; width: 25%;">{{o.not_min}}</td>
                            <td data-title="'Nota Maxima'" filter="" sortable="'not_max'" style="text-align: center; width: 25%;">{{o.not_max}}</td>
                            <td data-title="'Acciones'" style="text-align: center;">
                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(o)"><i class="fa fa-pencil" ></i></button>
                                    <button class="btn btn-danger btn-xs"  ng-click="prepararEliminar(o,usuMaster.usuario.usuarioID,usuMaster.organizacion.organizacionID)"><i class="fa fa-trash-o"></i></button>  
                            </td>
                </tr>   
          </table>
        <div class="form-group" >
              <button class="btn btn-primary btn-xs" ng-click="prepararNuevo()"><i class="fa fa-save" ></i> Agregar </button>
        </div>
        
        </div>
</section>
    </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{nueva_equivalencia.titulo}}</h4>
      </div>
      <div class="modal-body">
            <div class="form-panel" >
                <div class="form-horizontal style-form" >
                    
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Codigo: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" maxlength="2" ng-model="nueva_equivalencia.cod">
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descripcion: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nueva_equivalencia.des">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Rango de Notas: </label>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" ng-model="nueva_equivalencia.not_min">
                        </div>
                        <label class="col-sm-1 control-label"> min.</label>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" ng-model="nueva_equivalencia.not_max">
                        </div>
                        <label class="col-sm-1 control-label"> max.</label>
                    </div>
                </div>
            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" ng-if="nueva_equivalencia.estado=='N'" class="btn btn-primary" ng-click="crudEquivalenciaNota(usuMaster.usuario.usuarioID,usuMaster.organizacion.organizacionID,1)"><i class="fa fa-save" ></i> Guardar</button>
        <button type="button" ng-if="nueva_equivalencia.estado=='E'" class="btn btn-primary" ng-click="crudEquivalenciaNota(usuMaster.usuario.usuarioID,usuMaster.organizacion.organizacionID,2)"><i class="fa fa-check" ></i> Editar</button>
      </div>
    </div>
  </div>
</div>