<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlregistroAuxiliar.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Registro Auxiliar</h4>
            </header>
            <div class="panel-body">
                <div class="form-horizontal" >
                    <div class="form-group" >
                        <label class="col-sm-1 control-label">Nivel:</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlregistroAuxiliar.nivel" ng-options="s.nom for s in ctrlregistroAuxiliar.niveles track by s.id" ng-change="ctrlregistroAuxiliar.mostrarGrados(ctrlregistroAuxiliar.nivel)">
                            </select>
                        </div>
                        <label class="col-sm-1 control-label">Grado:</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlregistroAuxiliar.grado" ng-options="s.nom for s in ctrlregistroAuxiliar.grados track by s.id" ng-change="ctrlregistroAuxiliar.mostrarSecciones(ctrlregistroAuxiliar.grado)">
                            </select>
                        </div>
                        <label class="col-sm-1 control-label">Seccion:</label>
                        <div class="col-sm-1">
                            <select class="form-control" ng-model="ctrlregistroAuxiliar.seccion" ng-options="s for s in ctrlregistroAuxiliar.secciones" ng-change="ctrlregistroAuxiliar.mostrarAreas(ctrlregistroAuxiliar.seccion)">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal" >
                    <div class="form-group" >
                        <label class="col-sm-1 control-label">Periodo</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlregistroAuxiliar.periodo" ng-options="g.nom for g in ctrlregistroAuxiliar.periodos track by g.id" ng-change="ctrlregistroAuxiliar.mostrarIndicadores(ctrlregistroAuxiliar.periodo)">
                            </select>
                        </div>
                        <label class="col-sm-1 control-label">Area:</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlregistroAuxiliar.area" ng-options="g.nom for g in ctrlregistroAuxiliar.areas track by g.id" ng-change="ctrlregistroAuxiliar.mostrarCompetencias(ctrlregistroAuxiliar.area)"></select>
                        </div>
                        <label class="col-sm-1 control-label">Competencia:</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlregistroAuxiliar.competencia" ng-options="g.nom for g in ctrlregistroAuxiliar.competencias track by g.id" ng-change="ctrlregistroAuxiliar.mostrarFicha(ctrlregistroAuxiliar.competencia)"></select>
                        </div>
                        <!--<label class="col-sm-1 control-label">Sesion:</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="ctrlregistroAuxiliar.sesion" ng-options="g.tit for g in ctrlregistroAuxiliar.sesiones track by g.id" ng-change="ctrlregistroAuxiliar.sesionMostrarIndicadores(ctrlregistroAuxiliar.sesion)"></select>
                        </div>-->
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" >
                        <label class="col-sm-1 control-label">Numerico:</label>
                        <div class="col-sm-2">
                            <input type="checkbox" ng-model="ctrlregistroAuxiliar.numSel">
                        </div>
                    </div>
                </div>
                <div>
                    <section ng-if="!ctrlregistroAuxiliar.showResumen">
                        <table class="table table-bordered table-hover table-condensed editable-table">
                            <!--<colgroup>
                                <col width="30%" />
                                <col ng-repeat="indicador in ctrlregistroAuxiliar.indicadores" width="{{50/ctrlregistroAuxiliar.indicadores.length}}"/>
                                <col width="5%"/>
                                <col width="5%"/>
                            </colgroup>-->
                            <thead>
                            <tr>
                                <th class="text-center" style="vertical-align: middle;">INDICADORES</th>
                                <th class="text-center" style="vertical-align: top; text-align: justify" ng-repeat="indicador in ctrlregistroAuxiliar.indicadores" colspan="2">
                                    {{indicador.nom}}
                                </th>
                                <th style="vertical-align: middle;" class="text-center" rowspan="2">PROMEDIO DE COMPETENCIA</th>
                                
                            </tr>
                            <tr>
                                <th>Alumno:</th>
                                <th style="vertical-align: top;" class="text-center" ng-repeat-start="indicador in ctrlregistroAuxiliar.indicadores">Nota Sistema</th>
                                <th style="vertical-align: top;" class="text-center" ng-repeat-end>Nota Docente</th>    
                                
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="estudiante in  ctrlregistroAuxiliar.estudiantes track by $index" ng-if="estudiante">
                                <td>
                                    {{ctrlregistroAuxiliar.estudiantes[$index].pat + ' ' + ctrlregistroAuxiliar.estudiantes[$index].mat + ' '  + ctrlregistroAuxiliar.estudiantes[$index].nom}}
                                </td>
                                
                                <td ng-if="ctrlregistroAuxiliar.numSel" class="text-center" ng-repeat-start="nota in estudiante.notas track by $index">
                                    <span>{{nota.not}}</span>
                                </td>
                                <td ng-if="ctrlregistroAuxiliar.numSel" bgcolor="#E6E6FA" class="text-center" ng-repeat-end>
                                    <span ng-if="!nota.edi" style="margin-right:   20px" ng-click="ctrlregistroAuxiliar.pre_edi(nota)" >{{nota.notIndDoc}}</span>
                                    <input type="text" ng-if="nota.edi" class="form-control" ng-model="nota.notIndDoc" >
                                    <button ng-if="nota.edi" type="button" class="btn btn-xs btn-primary" style="margin-right:   10px" ng-click="ctrlregistroAuxiliar.editarNota(estudiante,nota,'N')" title="Confirmar Edicion Nota"><i class="fa fa-check"></i></button>
                                    <button ng-if="nota.edi" type="button" class="btn btn-xs" style="margin-right:   10px" ng-click="ctrlregistroAuxiliar.cancelEditNot(nota,'N')" title="Cancelar"><i class="fa fa-times"></i></button>
                                    <button ng-if="nota.preedi" type="button" class="btn btn-xs btn-warning" style="margin-right : 10px" ng-click="ctrlregistroAuxiliar.verNota(nota)" title="Ver Nota"><i class="fa fa-eye"></i></button>
                                    <button ng-if="nota.preedi" type="button" class="btn btn-xs btn-primary" style="margin-right : 10px" ng-click="ctrlregistroAuxiliar.prepeditarNota(nota,'N')" title="Editar Nota"><i class="fa fa-pencil"></i></button>
                                    <button ng-if="nota.preedi" type="button" class="btn btn-xs" style="margin-right : 10px" ng-click="ctrlregistroAuxiliar.cancelAction(nota)" title="Cancelar"><i class="fa fa-times"></i></button>
                                    
                                </td>
                                
                                <td ng-if="!ctrlregistroAuxiliar.numSel" class="text-center" ng-repeat-start="nota in estudiante.notas track by $index">
                                    <span>{{nota.notLit}}</span>
                                </td>
                                <td ng-if="!ctrlregistroAuxiliar.numSel" bgcolor="#E6E6FA" class="text-center" ng-repeat-end>
                                    <span ng-if="!nota.edi" style="margin-right:   20px" ng-click="ctrlregistroAuxiliar.pre_edi(nota)">{{nota.notLitDoc}}</span>
                                     <select ng-if="nota.edi" class="form-control" ng-model="nota.notLitDoc" >
                                        <option ng-repeat="co in ctrlregistroAuxiliar.configuracion_nota_docente" value="{{co.cod}}">{{co.cod}}</option>
                                    </select>
                                    <button ng-if="nota.edi" type="button" class="btn btn-xs btn-primary" style="margin-right:   10px" ng-click="ctrlregistroAuxiliar.editarNota(estudiante,nota,'L')" title="Confirmar Edicion Nota"><i class="fa fa-check"></i></button>
                                    <button ng-if="nota.edi" type="button" class="btn btn-xs" style="margin-right:   10px" ng-click="ctrlregistroAuxiliar.cancelEditNot(nota,'L')" title="Cancelar"><i class="fa fa-times"></i></button>
                                    <button ng-if="nota.preedi" type="button" class="btn btn-xs btn-warning" style="margin-right : 10px" ng-click="ctrlregistroAuxiliar.verNota(nota)" title="Ver Nota"><i class="fa fa-eye"></i></button>
                                    <button ng-if="nota.preedi" type="button" class="btn btn-xs btn-primary" style="margin-right : 10px" ng-click="ctrlregistroAuxiliar.prepeditarNota(nota,'L')" title="Editar Nota"><i class="fa fa-pencil"></i></button>
                                    <button ng-if="nota.preedi" type="button" class="btn btn-xs" style="margin-right : 10px" ng-click="ctrlregistroAuxiliar.cancelAction(nota)" title="Cancelar"><i class="fa fa-times"></i></button>
                                    
                                </td>
 
                                <td ng-if="ctrlregistroAuxiliar.numSel" class="text-center">
                                    <span>{{estudiante.notComp}}</span>
                                </td>
                                
                                <td ng-if="!ctrlregistroAuxiliar.numSel" class="text-center">
                                    <span>{{estudiante.notCompLit}}</span>
                                </td>
             
                            </tr>
                            </tbody>
                        </table>
                    </section>
                    <section ng-if="ctrlregistroAuxiliar.showResumen">
                        <table class="table table-bordered table-hover table-condensed editable-table">
                            <!--<colgroup>
                                <col width="30%" />
                                <col ng-repeat="competencia in ctrlregistroAuxiliar.competencias_resumen" width="{{50/ctrlregistroAuxiliar.competencias_resumen.length}}"/>
                                <col width="5%"/>
                                <col width="5%"/>
                            </colgroup>-->
                            <thead>
                            <tr>
                                <th>Alumno:</th>
                                <th style="vertical-align: top; text-align: justify" ng-repeat="competencia in ctrlregistroAuxiliar.competencias_resumen">
                                    {{competencia.nom}}
                                </th>
                                <th class="text-center" style="vertical-align: middle;">Promedio de Área</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="estudiante in  ctrlregistroAuxiliar.estudiantes_resumen">
                                <th>{{estudiante.pat + ' ' + estudiante.mat + ' ' + estudiante.nom}}</th>
                                <td class="text-center" ng-repeat="nota in estudiante.notas">
                                    <span>{{nota.not}}</span>
                                </td>
                                <td class="text-center">
                                    <span>{{estudiante.notAre}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <div>
                    <span class="tools pull-right">
                        <button ng-if="!ctrlregistroAuxiliar.showResumen" type="submit" class="btn btn-success" ng-click="ctrlregistroAuxiliar.registrarNotasCompetencia()">Registrar</button>
                        <button ng-if="!ctrlregistroAuxiliar.showResumen"  type="submit" class="btn btn-warning" ng-click="ctrlregistroAuxiliar.mostrarResumenNotas()">Ver Resumen</button>
                        <button ng-if="ctrlregistroAuxiliar.showResumen" type="submit" class="btn btn-danger" ng-click="ctrlregistroAuxiliar.volverDeResumen()">Volver</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="notas_alumno.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">Notas de Alumno</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <table class="table table-bordered table-hover table-condensed editable-table">
                    <colgroup>
                        <col width="30%" />
                        <col ng-repeat="indicador in ctrl.indicadores" width="{{50/ctrl.indicadores.length}}"/>
                        <col width="10%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th valign="top">Alumno:</th>
                        <th style="vertical-align: top; text-align: justify" ng-repeat="indicador in ctrl.indicadores">
                            {{indicador.nom}}
                        </th>
                        <th valign="top">PROMEDIO DE COMPETENCIA</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    <tr ng-repeat="estudiante in  ctrl.estudiantes">
                        <th>{{estudiante.pat + ' ' + estudiante.mat + ' ' + estudiante.nom}}</th>
                        <td ng-repeat="nota in estudiante.notas" >
                            <input ng-if="ctrl.numSel" type="text" class="form-control" maxlength="4" ng-model="nota.notIndDoc" > 
                            <select  ng-if="!ctrl.numSel" class="form-control" maxlength="2"  ng-options="cn.cod for cn in ctrl.configuracion_nota" ng-model="nota.nota_literal"  ></select>       
                        </td>
                        </td>
                        <td>
                            <input ng-if="ctrl.numSel" disabled="disabled" type="text" class="form-control" maxlength="4" ng-model="estudiante.notComp">
                            
                            <input ng-if="!ctrl.numSel" disabled="disabled" type="text" class="form-control" maxlength="2" ng-model="estudiante.notCompLit">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-success btn-sm" ng-click="ctrl.guardar()">Guardar</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="notas_area_alumno.html">
    
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">Notas de Alumno</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <table class="table table-bordered table-hover table-condensed editable-table">
                    <colgroup>
                        <col width="30%" />
                        <col ng-repeat="competencia in ctrl.competencias" width="{{50/ctrl.competencias.length}}"/>
                        <col width="10%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Alumno:</th>
                        <th style="text-align: justify; vertical-align: top" ng-repeat="competencia in ctrl.competencias">
                            {{competencia.nom}}
                        </th>
                        <th>Promedio de Área</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="estudiante in  ctrl.estudiantes">
                        <th>{{estudiante.pat + ' ' + estudiante.mat + ' ' + estudiante.nom}}</th>
                        <td ng-repeat="nota in estudiante.notas">
                            <input  type="text" class="form-control" maxlength="4" ng-model="nota.not">

                        </td>
                        <td>
                            <input ng-if="!ctrl.tipEva" type="text" class="form-control" maxlength="2" ng-model="estudiante.notAre">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-success btn-sm" ng-click="ctrl.guardar()">Guardar</button>
        </div>
    </div>
</script>